<!-- --------------------------- COMPONENTE RESERVA EM BLOCO ------------------------------ -->
<div *ngIf="lista == 0" class="containerReserva">
    <div class="barraLateral"></div>
    <div class="infoReserva">
      <b><span class="nomeProfessor">Nome professor</span></b>
      <span class="data">Retirada: __/__/____</span>
      <span class="data">Devolução: __/__/____</span>
    </div>
    <div id="parteDireita">
      <ul id="itens">
        <li class="item">
          <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
          <span class="textoProduto">Produto 1</span>
        </li>
        <li class="item">
          <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
          <span class="textoProduto">Produto 2</span>
        </li>
        <li class="item">
          <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
          <span class="textoProduto">Produto 2</span>
        </li>
        <li class="item">
          <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
          <span class="textoProduto">Produto 2</span>
        </li>
      </ul>
    </div>
    <!-- <div id="parteDireita">
        <ul id="itens">
          <li class="item" *ngFor="let item of listaItens">
            <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
               {{ item.nome }}
          </li>
        </ul>
      </div> -->
</div>

<!-- --------------------------- FIM COMPONENTE RESERVA EM BLOCO ------------------------------ -->

<!-- --------------------------- COMPONENTE RESERVA EM LISTA ------------------------------ -->
<div *ngIf="lista == 1" class="containerReservaLista">
  <div class="barraLateral"></div>
  <div class="infoReserva">
    <b><span class="nomeProfessor">Nome professor</span></b>
    <span class="data">Retirada: __/__/____</span>
    <span class="data">Devolução: __/__/____</span>
  </div>

  <div id="parteDireita">
    <ul id="itens">
      <li class="item">
        <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
        <span class="textoProduto">Produto 1</span>
      </li>
      <li class="item">
        <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
        <span class="textoProduto">Produto 2</span>
      </li>
      <li class="item">
        <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
        <span class="textoProduto">Produto 2</span>
      </li>
      <li class="item">
        <img class="bolaAzul" src="./assets/circulo-azul.png" alt="Ponteiro do produto">
        <span class="textoProduto">Produto 2</span>
      </li>
    </ul>
  </div>
  <!-- <div id="parteDireita">
        <ul id="itens">
          <li class="item" *ngFor="let item of listaItens">
            <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
               {{ item.nome }}
          </li>
        </ul>
      </div> -->
</div>
<!-- --------------------------- FIM COMPONENTE RESERVA EM LISTA ------------------------------ -->

<!-- --------------------------- MODAL CANCELAR RESERVA ------------------------------ -->
<div *ngIf="querCancelarReserva" id="ModalCancelarReserva">
  OIII
</div>
<!-- --------------------------- FIM MODAL CANCELAR RESERVA ------------------------------ -->
