<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- -- FeddBack -- -->
<div *ngIf="feedback == 1" id="modalFeedback">
  <div class="divInfo">
    <span title="Fechar" (click)="fechar()" id="fechar" class="iconDeselect icone"
      class="material-symbols-outlined iconDeselect">
      close
    </span>
    <span title="Confirmar" id="iconCerto" class="material-symbols-outlined iconDeselect">
      task_alt
    </span>
    <span *ngIf="nao == 2" id="spanTexto">Baixa dada com sucesso!</span>
    <span *ngIf="nao == 1" id="spanTexto">Retirada confirmada!</span>
    <span *ngIf="nao == 0" id="spanTexto">Item cadastrado!</span>
    <span *ngIf="nao == 3" id="spanTexto">Localização removida!</span>
    <span *ngIf="nao == 4" id="spanTexto">Localização cadastrada!</span>
  </div>
  <div id="fundo" style="background-color: #aeaeae">
    <div id="azul"></div>
  </div>
</div>

<!-- ---------- MODAL ORDERNAR ---------- -->
<div *ngIf="modalOrdernar">
  <div class="modalOrdenar" (click)="fecharModalFiltro()">
    <h3 class="tituloFiltroModalUser">Ordenar</h3>
    <div class="setaUser"></div>
    <div id="containerCheckboxes">
      <div id="containerEsquerdo">
        <h4>Tipo</h4>
        <div class="containerCadaCheck">
          <input type="checkbox" id="descartavelCheckbox" />
          <label class="checkboxes" for="descartavelCheckbox">Crescente</label>
        </div>
        <div class="containerCadaCheck">
          <input type="checkbox" id="comEstoqueCheckbox" />
          <label class="checkboxes" for="comEstoqueCheckbox">Decrescente</label>
        </div>
        <h4>Opção</h4>
        <div class="containerCadaCheck">
          <input type="checkbox" id="naoDescartavelCheckbox" />
          <label class="checkboxes" for="naoDescartavelCheckbox">Nome</label>
        </div>
        <div class="containerCadaCheck">
          <input type="checkbox" id="semEstoqueCheckbox" />
          <label class="checkboxes" for="semEstoqueCheckbox">Quantidade em estoque</label>
        </div>
      </div>
    </div>
    <div id="containerBotao">
      <button class="btnFiltrarModalOrdenar">Limpar</button>
    </div>
  </div>
</div>

<!-- -- Modal -- -->
<div *ngIf="aparecer" id="fundoModalLocalizacao">
  <div *ngIf="!reserva" id="modalCancelarReserva">
    <hr class="riscoAzul" />
    <span title="Fechar" (click)="fecharModalCancelarReserva()" id="fechar" class="icone"
      class="material-symbols-outlined iconDeselect">
      close
    </span>
    <div id="tituloMotivo">
      <h1>Qual o motivo?</h1>
    </div>
    <textarea id="motivo" placeholder="Insira o motivo aqui..."></textarea>
    <div id="containerBotaoEnviar">
      <button (click)="enviar()" id="botaoEnviar">Cancelar Reserva</button>
    </div>
  </div>
  <div *ngIf="removerDevolucaoModal" class="modalRecusar">
    <div class="containerModal">
      <hr class="riscoAzul" />
      <span title="Alerta" id="iconeAlert" class="material-symbols-outlined iconDeselect">
        error
      </span>
      <div class="containerInfoModal">
        <span class="textoModal">Tem certeza que deseja remover?</span>
      </div>
      <div class="containerBotoes">
        <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
        <button (click)="removerDevolucaoModalBtn()" class="botaoRecusar">
          Remover
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="devolucaoModal" id="baixaDevolucoesModal">
    <hr class="riscoAzul" />
    <div id="containerDevolucaoModal">
      <div class="containerFechar">
        <span title="Fechar" (click)="fecharModalBaixaDevolucao()" id="fecharIcone" class="icone"
          class="material-symbols-outlined iconDeselect">
          close
        </span>
      </div>
      <ul id="listaItemsBaixaDevolucao">
        <li>
          <!-- *ngFor="let item of listaItemsBaixaDevolucao" -->
          <div class="containerConteudoBaixaDevolucao">
            <div class="containerImgBaixaDevolucao">
              <img class="imgItemBaixaDevolucao" src="../../../assets/Rele.png" alt="Imagem do Produto" />
            </div>
            <div class="parteDireitaItemBaixaDevolucao">
              <h2 class="nomeItemBaixaDevolucao">Nome Produto</h2>
              <div class="containerInfoItemBaixaDevolucao">
                <!-- {{ item.posicao }} -->
                <p>posicao</p>
                <!-- {{ item.qtd }} -->
                <p *ngIf="nao == 2">qtd</p>
                <p *ngIf="nao == 1" id="quantidadeProduto">qtd</p>
                <!-- informarDefeitoItem(item) -->
                <div class="botoesDevolucaoModal">
                  <button (click)="acaoSegundariaDevolucaoModal()" class="btnSegundario"
                    style="background-color: red; margin-bottom: 0.2rem">
                    {{ textoAcaoSegundariaDevolucaoModal() }}
                  </button>
                  <button *ngIf="nao == 2" (click)="informarDefeitoItem()" class="informarDefeito">
                    Informar Defeito
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <button *ngIf="nao == 2" (click)="darBaixaDevolucao()" class="btnDevolucaoModal darBaixa">
        Dar baixa
      </button>
      <div *ngIf="nao == 1" id="containerFinal">
        <button (click)="cancelarReserva()" class="btnDevolucaoModal cancelarRetirada">
          Cancelar reserva
        </button>
        <button (click)="botaoConfirmarRetirada()" class="btnDevolucaoModal confirmarRetirada">
          Confirmar retirada
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="informarDefeitoModal" id="containerInformarMotivo">
    <hr class="riscoAzul" />
    <div id="containerInformarDefeitoModal">
      <div class="containerFechar">
        <span title="Fechar" (click)="voltarDevolucaoItens()" id="fecharIcone" class="icone"
          class="material-symbols-outlined iconDeselect">
          close
        </span>
      </div>
      <h2 class="tituloInformarDefeito">Informar Defeito</h2>
      <div id="containerConteudoInformarDefeito">
        <!-- <input type="textarea" id="informarDefeitoInput"> -->
        <textarea id="texteArea" rows="15" cols="60" maxlength="500"></textarea>
        <div id="containerRetirarItemEstoque">
          <input id="retirarDoEstoque" type="checkbox" />
          <label for="retirarDoEstoque">Retirar item do estoque</label>
        </div>
        <div class="divBotoes">
          <button (click)="voltarDevolucaoItens()" id="voltarInformarDefeito" class="btnDevolucaoModal">
            Voltar
          </button>
          <button (click)="voltarDevolucaoItens()" id="salvarInformarDefeito" class="btnDevolucaoModal">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- NÃO SABEMOS PARA O QUE SERVE, PORÉM CONTÉM ID DUPLICADO E ESTÁ DANDO ERRO! -->
  <!-- <div *ngIf="localizacaoModal" id="containerModalLocalizacao">
    <hr class="riscoAzul" />
    <div id="containerIcons">
      <span
        (click)="fecharModalLocalizacao()"
        id="fecharIcone"
        class="icone"
        class="material-symbols-outlined iconDeselect"
      >
        close
      </span>
    </div>
    <div class="divBotoes">
      <button
        (click)="voltarDevolucaoItens()"
        id="voltarInformarDefeito"
        class="btnDevolucaoModal"
      >
        Voltar
      </button>
      <button
        (click)="voltarDevolucaoItens()"
        id="salvarInformarDefeito"
        class="btnDevolucaoModal"
      >
        Salvar
      </button>
    </div>
  </div> -->

  <div *ngIf="localizacaoModal" id="containerModalLocalizacao">
    <hr class="riscoAzul" />
    <div id="containerIcons">
      <span title="Fechar" (click)="fecharModalLocalizacao()" id="fecharIcone" class="icone"
        class="material-symbols-outlined iconDeselect">
        close
      </span>
    </div>
    <div id="dados">
      <div id="containerNome">
        <div class="texto">
          <span>Nome:</span>
          <div class="asterisco">*</div>
        </div>
        <input id="inputNome" type="text" [(ngModel)]="nomeLoc" placeholder="Nome" />
      </div>
      <div id="containerCadastrar">
        <button id="botaoCadastrar" (click)="cadastrar()">Cadastrar</button>
      </div>
    </div>
  </div>

  <!-- Modal cadastrar item -->
  <div *ngIf="cadastrarModal" id="containerModalCadastrar">
    <hr class="riscoAzul" />
    <div id="containerIcons">
      <span title="Fechar" (click)="fecharModalCadastrar()" id="fecharIcone" class="icone"
        class="material-symbols-outlined iconDeselect">
        close
      </span>
    </div>
    <div class="principal">
      <div class="containerModalCadastrar">
        <div class="divImg">
          <button class="selecionarImg">Selecionar Imagem</button>
        </div>
        <div class="nomeProduto">
          <span>Nome Produto: </span>
          <div class="containerInput">
            <input class="inputsCadastro" type="text" placeholder="Nome produto" />
          </div>
        </div>
        <div class="classificacao">
          <span>Classificação: </span>
          <select class="inputsCadastro" name="">
            <option *ngFor="let classificacao of listaClassificacao" value="">
              {{ classificacao.nome }}
            </option>
          </select>
        </div>
        <div class="descricao">
          <span>Descrição: </span>
          <textarea class="inputDescricao" placeholder="Descrição"></textarea>
        </div>
        <div class="localizacao">
          <div style="display: flex">
            <span style="margin-right: 10px">Localização: </span>
            <div class="containerLocalizacao">
              <select *ngIf="localizacoesItem > 0" id="localizacaoProduto1" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
              <select *ngIf="localizacoesItem > 1" id="localizacaoProduto2" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
              <select *ngIf="localizacoesItem > 2" id="localizacaoProduto3" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
              <select *ngIf="localizacoesItem > 3" id="localizacaoProduto4" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
              <select *ngIf="localizacoesItem > 4" id="localizacaoProduto5" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
              <select *ngIf="localizacoesItem > 5" id="localizacaoProduto6" class="localizacaoProduto">
                <option *ngFor="let loc of localizacoesLista">
                  {{ loc.nome }}
                </option>
              </select>
            </div>
          </div>
          <div style="display: flex">
            <div class="divPonto" (click)="adicionarLocalizacao()">
              <span title="Adicionar" id="iconMaisLoc" class="material-symbols-outlined iconDeselect">
                add
              </span>
            </div>
            <div class="divPonto" (click)="diminuirLocalizacao()">
              <span title="Deletar" id="iconMaisLoc" class="material-symbols-outlined iconDeselect">
                remove
              </span>
            </div>
          </div>
        </div>
        <div class="opcao">
          <span>Opção: </span>
          <select id="selecionarDescartavel">
            <option value="paredeCentro" selected>Descartável</option>
            <option value="armario">Não Descartável</option>
          </select>
          <span>QTD: </span>
          <input class="inputQtd" type="text" placeholder="xx" />
        </div>
        <div class="anexo">
          <input type="text" placeholder="Adicionar URL do anexo" class="inputAnexo" />
          <label class="arquivoIcon" for="arquivo"> </label>
          <input type="file" name="arquivo" id="arquivo" />
        </div>
        <button (click)="cadastrarProduto()" class="botaoCadastrar">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</div>

<app-header></app-header>
<app-filtro></app-filtro>

<main>
  <div class="divPrincipal">
    <div id="container">
      <div id="containerConteudo">
        <div id="containerInput">
          <div id="containerLinhaInput">
            <div id="containerInputOrdenar">
              <div id="divInput">
                <input *ngIf="gerenciaCadastros == 1" [(ngModel)]="inputGeral" class="input" type="text"
                  placeholder="Pesquise por usuário..." />
                <input *ngIf="gerenciaUsuarios == 1" [(ngModel)]="inputGeral" class="input" type="text"
                  placeholder="Pesquise por usuário..." />
                <input *ngIf="devolucoes == 1" [(ngModel)]="inputGeral" class="input" type="text"
                  placeholder="Pesquise por produto..." />
                <input *ngIf="retirada == 1" [(ngModel)]="inputGeral" class="input" type="text"
                  placeholder="Pesquise por produto..." />
                <input *ngIf="listaItens == 1" [(ngModel)]="inputGeral" class="input" type="text"
                  placeholder="Pesquise por produto..." />
                <input *ngIf="contLocalizacoes == 1" [(ngModel)]="inputGeral" (keyup)="pesquisaLocalizacao()"
                  class="input" type="text" placeholder="Pesquise por localização..." />
                <span title="Lupa" id="lupa" class="material-symbols-outlined iconDeselect">
                  search
                </span>
              </div>
              <div id="iconListaBloco">
                <span *ngIf="listaItens == 1" (click)="ordernar()" id="iconOrdernar" class="material-symbols-outlined iconDeselect"
                  title="Ordernar">
                  sync_alt
                </span>
                <div id="containerIconFiltro">
                  <span *ngIf="listaItens == 1" title="Filtro" (click)="filtrar()" id="iconFiltro"
                    class="material-symbols-outlined iconDeselect">
                    filter_alt
                  </span>
                  <!-- ---------- MODAL FILTRAR ---------- -->
                  
                  <div *ngIf="modalFiltrar" class="modalUser" (click)="fecharModalFiltro()">
                    <h3 class="tituloFiltroModalUser">Filtro</h3>
                    <div class="setaUser"></div>
                    <div id="containerCheckboxes">
                      <div id="containerEsquerdo">
                        <div class="containerCadaCheck">
                          <input type="checkbox" id="descartavelCheckbox" />
                          <label class="checkboxes" for="descartavelCheckbox">Descartável</label>
                        </div>
                        <div class="containerCadaCheck">
                          <input type="checkbox" id="comEstoqueCheckbox" />
                          <label class="checkboxes" for="comEstoqueCheckbox">Com Estoque</label>
                        </div>
                        <div class="containerCadaCheck">
                          <input type="checkbox" id="naoDescartavelCheckbox" />
                          <label class="checkboxes" for="naoDescartavelCheckbox">Não Descartável</label>
                        </div>
                        <div class="containerCadaCheck">
                          <input type="checkbox" id="semEstoqueCheckbox" />
                          <label class="checkboxes" for="semEstoqueCheckbox">Sem Estoque</label>
                        </div>
                      </div>
                    </div>
                    <div id="containerBotao">
                      <button class="btnFiltrarModal">Limpar</button>
                    </div>
                    <!-- clicar fora: (click)="fecharModalFiltrar()" -->
                  </div>
                </div>

                <span *ngIf="emBloco == 1" (click)="mostrarEmBloco()" id="iconEmBloco"
                  class="material-symbols-outlined iconDeselect" title="Ver em bloco">
                  grid_view
                </span>
                <span *ngIf="emBloco == 0" (click)="mostrarEmLista()" id="iconEmLista"
                  class="material-symbols-outlined iconDeselect" title="Ver em lista">
                  sort
                </span>
              </div>
            </div>
            <button *ngIf="contLocalizacoes == 1" id="botaoCadastrarLocalizacoes" (click)="aparecerModalLocalizacao()">
              Cadastrar localizações
            </button>
            <button *ngIf="listaItens == 1 && (tipoUsuario == 3 || tipoUsuario == 4)" id="botaoCadastrarProduto"
              (click)="aparecerModalCadastrar()">
              Cadastrar Item
            </button>
          </div>
          <div id="filtro"></div>
          <p id="resultados">{{ numResultados }} Resultados encontrados</p>
        </div>
        <div id="botoes">
          <button *ngIf="tipoUsuario == 4" (click)="gerenciarUsuarios()" id="gerenciarUsuarios" class="semAzul">
            Gerenciar usuários
          </button>
          <button *ngIf="tipoUsuario == 4" (click)="gerenciarCadastros()" id="gerenciarCadastros" class="semAzul">
            Gerenciar cadastros
          </button>
          <button (click)="baixaDevolucoes()" id="devolucoes" class="semAzul">
            Baixa nas devoluções
          </button>
          <button (click)="confirmarRetirada()" id="retirada" class="semAzul">
            Confirmar retirada
          </button>
          <button (click)="listaDeItens()" id="listaItens" class="semAzul">
            Lista de itens
          </button>
          <button *ngIf="tipoUsuario == 3 || tipoUsuario == 4" (click)="localizacoes()" id="localizacoes"
            class="semAzul">
            Localizações
          </button>
        </div>
        <div id="risco"></div>
        <div *ngIf="gerenciaCadastros == 1 && emBloco == 0" class="usuarios">
          <div class="containerUsuario">
            <div class="containerUser">
              <img class="imgUser" src="../../../assets/user.png" alt="" />
              <div class="containerInfo">
                <span class="user">Nome Sobrenome</span>
                <span class="email">nome_sobrenome@estudante.sc.senai.br</span>
              </div>
            </div>
            <div class="containerOpcoes">
              <div (click)="modalRecusar()" class="recusar">
                <span title="Fechar" class="icone" class="material-symbols-outlined iconDeselect">
                  close
                </span>
              </div>
              <div (click)="modalAceitar()" class="aceitar">
                <span title="Confirmar" class="icone" class="material-symbols-outlined iconDeselect">
                  done
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="gerenciaCadastros == 1 && emBloco == 1" class="usuarios">
          <div class="containerUsuarioLista">
            <div class="containerUser">
              <div id="containerUserImagemTexto">
                <img class="imgUser" src="../../../assets/user.png" alt="Imagem de Usuário" />
                <div class="containerInfo">
                  <span class="user">Nome Sobrenome</span>
                  <span class="email">nome_sobrenome@estudante.sc.senai.br</span>
                </div>
              </div>
            </div>
            <div class="containerOpcoes">
              <div (click)="modalRecusar()" class="recusar">
                <span title="Fechar" id="fecharIcone" class="icone" class="material-symbols-outlined iconDeselect">
                  close
                </span>
              </div>
              <div (click)="modalAceitar()" class="aceitar">
                <span title="Cofirmar" class="icone" class="material-symbols-outlined iconDeselect">
                  done
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="gerenciaUsuarios == 1 && emBloco == 0" class="telaUsuarios">
          <div class="containerUsuarios">
            <div class="containerUser">
              <img class="imgUser" src="../../../assets/user.png" alt="Imagem de Usuário" />
              <div class="containerInfo">
                <span class="user">Nome Sobrenome</span>
                <span class="email">nome_sobrenome@edu.sc.senai.br</span>
              </div>
              <div class="containerLixeira">
                <span title="Deletar" id="iconeLixeira" class="material-symbols-outlined iconDeselect">
                  delete
                </span>
              </div>
            </div>
            <div class="parteBaixo">
              <select id="selecionarFuncao2">
                <option value="paredeCentro" selected>Professor</option>
                <option value="armario">Atendente 1</option>
                <option value="porta">Atendente 2</option>
                <option value="supervisor">Supervisor</option>
              </select>
              <div class="aceitar">
                <span title="Cofirmar" class="icone" class="material-symbols-outlined iconDeselect">
                  done
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="gerenciaUsuarios == 1 && emBloco == 1" class="telaUsuarios">
          <div class="containerUsuariosLista">
            <div class="containerUser">
              <div id="containerUserImagemTexto">
                <img class="imgUser" src="../../../assets/user.png" alt="Imagem de Usuário" />
                <div class="containerInfo">
                  <span class="user">Nome Sobrenome</span>
                  <span class="email">nome_sobrenome@edu.sc.senai.br</span>
                </div>
              </div>
              <div class="parteBaixo">
                <select id="selecionarFuncao2">
                  <option value="paredeCentro" selected>Professor</option>
                  <option value="armario">Atendente 1</option>
                  <option value="porta">Atendente 2</option>
                </select>
                <div class="aceitar">
                  <span title="Confirmar" class="icone" class="material-symbols-outlined iconDeselect">
                    done
                  </span>
                </div>
              </div>
              <div class="containerLixeiraLista">
                <span title="Deletar" id="iconeLixeira" class="material-symbols-outlined iconDeselect">
                  delete
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="devolucoes == 1" class="containerDevolucoes">
          <app-reserva-atendente [lista]="emBloco" (click)="abrirDevolucao(1)"></app-reserva-atendente>
          <app-reserva-atendente [lista]="emBloco" (click)="abrirDevolucao(1)"></app-reserva-atendente>
        </div>
        <div *ngIf="retirada == 1" class="containerRetirada">
          <app-reserva-atendente [lista]="emBloco" (click)="abrirDevolucao(2)"></app-reserva-atendente>
          <app-reserva-atendente [lista]="emBloco" (click)="abrirDevolucao(2)"></app-reserva-atendente>
        </div>
        <div *ngIf="listaItens == 1 && emBloco == 0" class="containerLista">
          <app-item [lista]="emBloco" *ngFor="let item of listaItens2" [item]="item"></app-item>
        </div>
        <div *ngIf="listaItens == 1 && emBloco == 1" class="containerListaLista">
          <app-item [lista]="emBloco" *ngFor="let item of listaItens2" [item]="item"></app-item>
        </div>
        <div *ngIf="contLocalizacoes == 1" id="conteudoLocalizacoes">
          <div id="containerLocalizacoes">
            <div *ngFor="let loc of localizacoesFiltradas; let i = index" id="divLocalizacao">
              <p>{{ loc.nome }}</p>
              <span title="Deletar" (click)="confirmacaoLocalizacao(i)" id="lixo"
                class="material-symbols-outlined iconDeselect">
                delete
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="contadorRecusar == 1" class="modalRecusar">
    <div class="containerModal">
      <hr class="riscoAzul" />
      <span title="Alerta" id="iconeAlert" class="material-symbols-outlined iconDeselect">
        error
      </span>
      <div class="containerInfoModal">
        <span class="textoModal">{{ buscarTextoModalRecusar() }}</span>
      </div>
      <div class="containerBotoes">
        <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
        <button (click)="btnRecusar()" class="botaoRecusar">
          {{ buscarTextoBotaoModalRecusar() }}
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="contadorAceitar == 1" class="modalRecusar">
    <div class="containerModal">
      <div class="linhaAzul"></div>
      <span title="Alerta" id="iconeAlert" class="material-symbols-outlined iconDeselect">
        error
      </span>
      <div class="containerInfoModal">
        <span class="textoModal">Selecione a função: </span>
        <select id="selecionarFuncao">
          <option value="paredeCentro" selected>Professor</option>
          <option value="armario">Atendente 1</option>
          <option value="porta">Atendente 2</option>
          <option value="supervisor">Supervisor</option>
        </select>
      </div>
      <div class="containerBotoes">
        <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
        <button class="botaoRecusar">Aceitar</button>
      </div>
    </div>
  </div>
  <!-- Modal remover localizacao -->
  <div *ngIf="aparecerConfirmacao == 1" class="modalRecusar">
    <div class="containerModal">
      <hr class="riscoAzul" />
      <span title="Alerta" id="iconeAlert" class="material-symbols-outlined iconDeselect">
        error
      </span>
      <div class="containerInfoModal">
        <span class="textoModal">Tem certeza que deseja remover a localização?</span>
      </div>
      <div class="containerBotoes">
        <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
        <button (click)="excluirLocalizacao()" class="botaoRecusar">
          Remover
        </button>
      </div>
    </div>
  </div>
</main>