* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

p:hover {
    color: #0047B6;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 890px;
}

#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
}

#casa {
    width: 22px;
    cursor: pointer;
}

#maior {
    padding: 0 2px;
    width: 18px;
}

#containerConteudo {
    margin-top: 2rem;
    width: 80%;
}

#containerInput {
    margin-bottom: 1.2rem;
}

#divInput {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 23rem;
    height: 2.4rem;
}

.input {
    padding-left: 0.5rem;
    outline: none;
    border: 0;
    width: 100%;
}

#iconListaBloco {
    display: flex;
    align-items: center;
    margin: 0 0 0 10px;
}

#emBloco {
    width: 1.5rem;
    cursor: pointer;
    animation: opacidade 0.5s;
}

#emLista {
    width: 1.5rem;
    cursor: pointer;
    animation: opacidade 0.5s;
}

@keyframes opacidade {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

#lupa {
    opacity: 0.7;
}

#resultados {
    font-size: 14px;
    margin-top: 0.3rem;
    opacity: 0.7;
}

#risco {
    margin-top: 0.5rem;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.usuarios {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}

.telaUsuarios{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;    
}

.containerDevolucoes, .containerRetirada{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;  
    margin-top: 1%;
}

.containerLista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 1%;
}

.containerListaLista{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1%;
}


.containerUsuario, .containerUsuarioLista {
    width: 22.5rem;
    height: 5.625rem;
    border-radius: 5px;
    border: solid 1px black;
    padding: 10px 10px 0px 10px;
}

#containerUserImagemTexto {
    display: flex;
    align-items: center;
}

.containerUsuarioLista {
    width: 100rem;
}

.containerImg {
    width: 3.75rem;
}

.containerInfo {
    margin-left: 2%;
    width: 16.875rem;
    display: flex;
    flex-direction: column;
}

.imgUser {
    width: 60px;
    border-radius: 20px;
}

.user {
    font-size: 15px;
    cursor: default;
}

.user:hover {
    color: #0047B6;
    cursor: default;
}

.email {
    margin-top: 2px;
    font-size: 13px;
}

.email:hover {
    text-decoration: underline;
}

.containerOpcoes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin-top: -1.5%;
}

.recusar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.938rem;
    height: 0.938rem;
    background-color: rgba(191, 10, 10, 0.75);
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.aceitar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.938rem;
    height: 0.938rem;
    background-color: rgba(0, 155, 25, 0.75);
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.aceitar:hover {
    background-color: #009B19;
}

.recusar:hover {
    background-color: #BF0A0A;
}

.icone {
    width: 10px;
    height: 10px;
}

.containerUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Modais */

.containerModal {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.375rem;
    height: 16.188rem;
    border-radius: 10px;
    right: 30%;
    top: 30%;
    border: solid 1px black;
    background-color: #fff;
    animation:fadein 0.5s;
}

@keyframes fadein {
	from {
        margin-top: -10px;
		opacity:0;
	}
	to {
        margin-top: 0px;
		opacity:1;
	}
}

.linhaAzul {
    width: 100%;
    height: 0.931rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #0047B6;
}

.iconeAlert {
    width: 4.625rem;
    margin-top: 5%;
}

.containerInfoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    margin-top: 5%;
}

.textoModal {
    font-size: 24px;
}

.containerBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.botaoCancelar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #AAAAAA;
    cursor: pointer;
}

.botaoRecusar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #0047B6;
    cursor: pointer;
}

#selecionarFuncao {
    width: 8.625rem;
    height: 1.813rem;
    padding: 0 0.5rem;
    margin-left: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.containerUsuarios, .containerUsuariosLista {
    width: 22.5rem;
    margin-top: 1%;
    border-radius: 5px;
    border: solid 1px black;
    padding: 10px 10px 0px 10px;
}

.containerUsuariosLista {
    width: 100rem;
    height: 5rem;
}

.parteBaixo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

#selecionarFuncao2 {
    width: 8.625rem;
    height: 1.813rem;
    padding: 0 0.5rem;
    margin-top: -2.5%;
    margin-right: 5%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.iconeLixeira {
    width: 1.438rem;
    height: 1.438rem;
}

.iconeLixeira:hover{
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    cursor: pointer;
}

.containerLixeira{
    height: 100%;
    margin-right: 1.7%;
    margin-bottom: 10%;
}

.containerLixeiraLista{
    height: 100%;
}

.semAzul {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition:ease-out 0.2s;
}

.semAzul:hover {
    background-color: rgb(212, 212, 212);
}

.comAzul {
    padding: 5px 10px;
    background-color: #0047B6;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #fff;
}

.comAzul:hover {
    background-color: #003791;
}

#selecionarLocalizacao {
    height: 1.8rem;
    padding: 0 0.5rem;
    margin-top: 1%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

#selecionarLocalizacao:hover {
    background-color: rgb(233, 233, 233);
}

#divLocalizacao {
    max-width: 8rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 0 0;
    background-color: #F8F4F4;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
}

#divLocalizacao:hover {
    background-color: #dadada;
}

.lixo {
    padding: 5px;
    position: relative;
    left: 30px;
    width: 24%;
}

.lixo:hover {
    background-color: rgb(177, 177, 177);
    border-radius: 10px;
    cursor: pointer;
}

#containerLocalizacoes {
    display: flex;
    flex-wrap: wrap;
}

#botaoCadastrarLocalizacoes,
#botaoCadastrarProduto {
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #0047B6;
    color: #fff;
    cursor: pointer;
}

#botaoCadastrarLocalizacoes:hover,
#botaoCadastrarProduto:hover {
    background-color: #003180;
}

#containerLinhaInput {
    display: flex;
    justify-content: space-between;
}

#containerInputOrdenar {
    display: flex;
}

/* Modal Cadastrar Produto */

.containerModalCadastrar{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgRele{
    width: 13rem;
}

.imgFechar{
    position: absolute;
    left: 54%;
    width: 1rem;
    cursor: pointer;
}

.divImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
}

.selecionarImg{
    background-color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    width: 13.625rem;
    height: 31px;
    cursor: pointer;
}

.inputsCadastro{
    width: 13rem;
    height: 30px;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
}

.inputDescricao{
    width: 13rem;
    height: 80px;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    resize: none;
}

.nomeProduto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.classificacao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.descricao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.localizacao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.opcao{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anexo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.625rem;
}

.containerInput{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.localizacaoProduto {
    width: 3.5rem;
    height: 1.8rem; 
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 2px;
}

#selecionarDescartavel{
    width: 9.5rem;
    height: 1.8rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.inputQtd{
    width: 4.563rem;
    height: 1.8rem;
    padding-left: 10px;
}

.addAnexo{
    width: 9.188rem;
    height: 31px;
    border: solid 1px black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.botaoCadastrar{
    width: 10.938rem;
    height: 3.188rem;
    background-color: #0047B6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 23px;
    margin-top: 1.875rem;   
    cursor: pointer;
}

#containerLocalizacoes {
    display: flex;
    flex-wrap: wrap;
}

#fundoModalLocalizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color:rgba(0, 0, 0, 0.349);
}

#containerModalLocalizacao {
    width: 22rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    animation:fadein 0.5s;
}

#containerModalCadastrar{
    width: 33.75rem;
    height: 37.5rem;
    background-color: #fff;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    animation:fadein 0.5s;
}

@keyframes fadein {
	from {
        margin-top: -10px;
		opacity:0;
	}
	to {
        margin-top: 0px;
		opacity:1;
	}
}

#riscoAzul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    background: #0047B6;
    border-radius: 7px 7px 0px 0px;
}

#iconFechar {
    width: 5%;
    cursor: pointer;
}

#containerIcons {
    display: flex;
    justify-content: flex-end;
    margin: 3% 3% 0 0;
}

#containerNome {
    display: flex;
    align-items: center;
}

#containerNome, #containerClassificacao {
    margin-left: 15%;
}

#inputNome {
    margin-left: 3%;
    padding: 8px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    outline: none;
    width: 40%;
    font-weight: bold;
}

#containerCheckbox {
    margin-left: 6%;
    color: rgba(0, 0, 0, 0.815);
    font-weight: 600;
}

#paredeCentro, #armario, #porta {
    width: 15px;
    height: 15px;
    margin-right: 3%;
}

#botaoCadastrar {
    margin-top: 5%;
    padding: 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #0047B6;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#botaoCadastrar:hover {
    background-color: #003180;
}

#containerCadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerInformarMotivo {
    border-radius: 0.3rem;
    background-color: white;
    animation:fadein 0.5s;
} 

#containerInformarDefeitoModal {
    padding: 0.6rem 1.5rem 1.5rem 1.5rem;
}

.tituloInformarDefeito {
    text-align: center;
    color: #0047B6;
    margin-bottom: 1rem;
}

#informarDefeitoInput {
    width: 30vw;
    height: 28vh;
}

.divBotoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}

#voltarInformarDefeito {
    font-size: large;
    width: 40%;
}

#salvarInformarDefeito {
    font-size: large;
    width: 55%;
}

#texteArea {
    padding: 5px;
    outline: none;
}

#baixaDevolucoesModal {
    width: 40%;
    min-width: 420px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3);
    animation:fadein 0.5s;
}

#containerDevolucaoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

.containerFechar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fecharIcone {
    width: 3%;
}

.fecharIcone:hover {
    cursor: pointer;
}

#quantidadeProduto {
    margin-right: 13rem;
}

#listaItemsBaixaDevolucao {
    list-style-type: none;
}

.containerConteudoBaixaDevolucao {
    display: flex;
    align-items: center;
}

.containerImgBaixaDevolucao {
    width: 35%;
}

.imgItemBaixaDevolucao {
    width: 80%;
    min-width: 100px;
}

.parteDireitaItemBaixaDevolucao {
    width: 100%;
}

.nomeItemBaixaDevolucao {
    color: #0047B6;
}

.containerInfoItemBaixaDevolucao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoesDevolucaoModal {
    display: flex;
    flex-direction: column;
}

.btnDevolucaoModal {
    background-color: #0047B6;
    color: white;
    border: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
}

.btnDevolucaoModal:hover {
    cursor: pointer;
}

.darBaixa {
    font-size: large;
    font-weight: 500;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.5rem 1.5rem;
}
#baixaDevolucoesModal {
    width: 40%;
    min-width: 420px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3);
    animation:fadein 0.5s;
}

#containerDevolucaoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

.containerFechar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fecharIcone {
    width: 3%;
}

.fecharIcone:hover {
    cursor: pointer;
}

#quantidadeProduto {
    margin-right: 13rem;
}

#listaItemsBaixaDevolucao {
    list-style-type: none;
}

.containerConteudoBaixaDevolucao {
    display: flex;
    align-items: center;
}

.containerImgBaixaDevolucao {
    width: 35%;
}

.imgItemBaixaDevolucao {
    width: 80%;
    min-width: 100px;
}

.parteDireitaItemBaixaDevolucao {
    width: 100%;
}

.nomeItemBaixaDevolucao {
    color: #0047B6;
}

.containerInfoItemBaixaDevolucao {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btnDevolucaoModal {
    background-color: #0047B6;
    color: white;
    border: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
}

.btnDevolucaoModal:hover {
    cursor: pointer;
}

.darBaixa {
    font-size: large;
    font-weight: 500;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.5rem 1.5rem;
}

/* Informar motivo */

#containerInformarMotivo {
    border-radius: 0.3rem;
    background-color: white;
    animation:fadein 0.5s;
} 

#containerInformarDefeitoModal {
    padding: 0.6rem 1.5rem 1.5rem 1.5rem;
}

.tituloInformarDefeito {
    text-align: center;
    color: #0047B6;
    margin-bottom: 1rem;
}

#informarDefeitoInput {
    width: 30vw;
    height: 28vh;
}

.divBotoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}

#voltarInformarDefeito {
    font-size: large;
    width: 40%;
}

#salvarInformarDefeito {
    font-size: large;
    width: 55%;
}

#texteArea {
    padding: 5px;
    outline: none;
}


/* ----- Fedback ----- */


#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom:0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#fechar {
    position: absolute;
    width: 3%;
    top: 10%;
    right: 3%;
}

#fechar:hover {
    cursor: pointer;
}

#imgCerto {
    width: 12%;
    padding-bottom: 5px;
}

#spanTexto {
    font-family: 'Inter';
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

@keyframes animacao {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

/* @keyframes lateral {
    from {
        right: -5rem;
    }

    to {
        right: 0.5rem;
    }
} */

.divPonto {
    min-height: 30px;
    min-width: 30px;
    border-radius: 100px;
    background-color: #0047B6;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: 10px;
}

.divPonto:hover {
    cursor: pointer;
}

.imgMaisLoc {
    width: 20px;
}