#fundoModal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

.containerModalAnexos {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.375rem;
    border-top: 0.63rem #0047B6 solid;
    border-radius: 5px;
    background-color: #fff;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

#iconeFechar {
    position: absolute;
    right: 0;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

.titleModal {
    margin-top: 8px;
    color: #0047B6;
}

#conteudo {
    width: 100%;
    padding: 1rem 3rem;
}

.dividerStyle {
    margin-bottom: 16px;
}

.containerInfoModal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textoDescricao {
    font-size: var(--font-size--medium);
    font-weight: bold;
    margin-bottom: 8px;
}

.descricaoItem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 80%;
    font-size: var(--font-size--default);
    padding: 0 8px;
}

.parteAnexos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.linhaDescricaoAnexo {
    display: flex;
    align-items: center;
}

.linhaTabelaAnexos {
    vertical-align: middle;
}

.descricaoAnexo {
    margin: 0;
}

.linkAnexo {
    text-align: center;
}