<div id="fundoModal">
    <div class="containerModalAnexos">
        <span title="Fechar" (click)="fecharModalAnexos()" class="material-symbols-outlined iconDeselect"
            id="iconeFechar">
            close
        </span>
        <div id="conteudo">
            <h2 class="titleModal">Detalhes</h2>
            <mat-divider class="dividerStyle"></mat-divider>
            <div class="containerInfoModal">
                <p class="textoDescricao">Descrição do item:</p>
                <p class="descricaoItem">
                    {{ item.descricao }}
                </p>
            </div>
            <mat-divider class="dividerStyle"></mat-divider>
            <p class="textoDescricao">Anexos:</p>
            <div class="parteAnexos">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                Descrição do anexo
                            </th>
                            <th scope="col" class="linkAnexo">
                                Link
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="linhaTabelaAnexos" *ngFor="let anexo of item.anexos">
                            <td class="linhaDescricaoAnexo">
                                <p class="descricaoAnexo">
                                    {{ anexo.descricao }}
                                </p>
                            </td>
                            <td class="linkAnexo">
                                <a mat-buton href="{{ anexo.anexo }}" target="_blank">
                                    Anexo
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>