<!-- Modal de alerta caso o email digitado seja inválido -->
<app-alertaFeito
  *ngIf="emailInvalido"
  [tipoMensagemModal]="4"
  (fecharModal)="fecharModalAlerta(1)"
></app-alertaFeito>

<!-- Modal de alerta caso o código aleatório criado estiver incorreto -->
<app-alertaFeito
  *ngIf="codigoVerificacaoIncorreto"
  [tipoMensagemModal]="5"
  (fecharModal)="fecharModalAlerta(2)"
></app-alertaFeito>

<!-- Modal de alerta caso o as duas novas senhas não sejam iguais -->
<app-alertaFeito
  *ngIf="senhasNaoConferem"
  [tipoMensagemModal]="6"
  (fecharModal)="fecharModalAlerta(3)"
></app-alertaFeito>

<div class="modalSenha">
  <img
    class="sairModal"
    (click)="fecharComponente()"
    src="../../../assets/close.png"
    alt="Fechar modal de senha"
  />
  <h3 class="tituloRecuperarSenha">Recuperar Senha</h3>

  <!-- Primeira etapa da recuperação de senha (pedir email) -->
  <div *ngIf="etapaRedefinicaoSenha == 1" class="divInsercaoEmail">
    <div class="labelInsercao">
      <h5 class="textoInserirEmail">Insira seu Email:</h5>
      <div class="asteriscoObrigatorio">*</div>
    </div>

    <input
      [(ngModel)]="emailVerificacao"
      class="inputEmail"
      type="email"
      placeholder="nome@gmail.com"
    />
  </div>
  <span *ngIf="etapaRedefinicaoSenha == 1" class="descricaoEnvioCodigo"
    >Caro Usuário, enviaremos um código de verificação no seu email para
    identificação.</span
  >
  <button
    *ngIf="etapaRedefinicaoSenha == 1"
    class="proximaEtapaModal"
    (click)="prosseguirEtapaSenha()"
  >
    Enviar
  </button>

  <!-- Segunda etapa da recuperação de senha (inserir código recebido no email) -->
  <h3 *ngIf="etapaRedefinicaoSenha == 2" class="inserirCodigoRecebido">
    Insira o Código
  </h3>
  <div *ngIf="etapaRedefinicaoSenha == 2" class="divInputsCodigo">
    <input
      id="cod1"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(1)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[0]"
    />
    <input
      id="cod2"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(2)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[1]"
    />
    <input
      id="cod3"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(3)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[2]"
    />
    <input
      id="cod4"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(4)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[3]"
    />
    <input
      id="cod5"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(5)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[4]"
    />
    <input
      id="cod6"
      class="inputCodigo"
      (keyup)="trocarCodigoVerificacao(6)"
      maxlength="1"
      [(ngModel)]="listaCodigoInput[5]"
    />
  </div>
  <span *ngIf="etapaRedefinicaoSenha == 2" class="timerInsercaoCodigo">{{
    formatarTempoTimer()
  }}</span>
  <span
    *ngIf="etapaRedefinicaoSenha == 2"
    class="opcaoReenvioCodigo"
    (click)="reenviarCodigo()"
    >Reenviar Código</span
  >
  <button
    *ngIf="etapaRedefinicaoSenha == 2"
    class="proximaEtapaModal"
    (click)="prosseguirEtapaSenha()"
  >
    Próximo
  </button>

  <!-- Terceira e última etapa da recuperação de senha (Colocar nova senha) -->
  <div *ngIf="etapaRedefinicaoSenha == 3" class="divInsercaoNovaSenha">
    <div class="labelInsercao">
      <span class="spanNovaSenha">Nova Senha:</span>
      <div class="asteriscoObrigatorio">*</div>
    </div>
    <div class="divInputsNovaSenha">
      <input
        type="password"
        id="inputSenha2"
        class="inputNovaSenha"
        placeholder="*****"
        [(ngModel)]="senhaNova"
      />
      <span
        *ngIf="!visibilidadeOlho1"
        class="material-symbols-outlined iconeOlho iconDeselect"
        id="olho1"
        (click)="trocarOlho(1)"
        alt="Visualização da senha"
      >
        visibility_off
      </span>
      <span
        *ngIf="visibilidadeOlho1"
        class="material-symbols-outlined iconeOlho iconDeselect"
        id="olho1"
        (click)="trocarOlho(1)"
        alt="Visualização da senha"
      >
        visibility
      </span>
    </div>
  </div>
  <div
    *ngIf="etapaRedefinicaoSenha == 3"
    class="divRepeticaoSenha"
    id="inputRepetirSenha"
  >
    <div class="labelInsercao">
      <span class="spanNovaSenha">Repita a Senha:</span>
      <div class="asteriscoObrigatorio">*</div>
    </div>
    <div class="divInputsNovaSenha">
      <input
        type="password"
        id="inputSenha3"
        class="inputNovaSenha"
        placeholder="*****"
        [(ngModel)]="senhaNova2"
      />
      <span
        *ngIf="!visibilidadeOlho2"
        class="material-symbols-outlined iconeOlho iconDeselect"
        id="olho2"
        (click)="trocarOlho(2)"
        alt="Visualização da senha"
      >
        visibility_off
      </span>
      <span
        *ngIf="visibilidadeOlho2"
        class="material-symbols-outlined iconeOlho iconDeselect"
        id="olho2"
        (click)="trocarOlho(2)"
        alt="Visualização da senha"
      >
        visibility
      </span>
    </div>
  </div>
  <button
    *ngIf="etapaRedefinicaoSenha == 3"
    class="proximaEtapaModal"
    (click)="verificarNovasSenhas()"
  >
    Enviar
  </button>
</div>
