<!-- -------- MODAL EDITAR USER -------- -->
<app-modal-editar-user *ngIf="abrirEditar" (fecharModal)="fecharModalEdicao($event)"></app-modal-editar-user>
<!-- ----------- FIM MODAL EDITAR USER ------------ -->

<!-- -------- MODAL CONFIGURAÇÕES -------- -->
<app-modal-configuracoes *ngIf="modalConfiguracoes" (fecharModal)="fecharModalConfiguracoes()">
</app-modal-configuracoes>
<!-- ----------- FIM MODAL CONFIGURAÇÕES ------------ -->

<div class="modalUser parteModal">
    <div class="setaUser parteModal"></div>
    <div id="editarPerfil" class="parteModal">
        <span title="Editar" (click)="editarPerfil()" id="iconEditarPerfil"
            class="material-symbols-outlined iconDeselect parteModal">
            edit
        </span>
    </div>
    <div id="usuarioIconeModal" class="parteModal">
        <span title="Usuario" id="topHeader" class="material-symbols-outlined iconDeselect parteModal">
            account_circle
        </span>
    </div>
    <span class="nomeUser parteModal">{{ nomeUsuario }}</span>
    <span title="{{emailUsuario}}" class="emailUser parteModal">{{ emailUsuario }}</span>
    <hr style="width: 80%" />
    <div *ngIf="usuarioTipo == 1" class="divOpcao parteModal" (click)="navegar('/professor/reservas')">
        <span title="Minhas Reservas" id="iconsUser" class="material-symbols-outlined iconDeselect parteModal">
            pending_actions
        </span>
        <span class="spanUser parteModal">Minhas Reservas</span>
    </div>
    <div class="divOpcao parteModal" (click)="abrirConfiguracoes()">
        <span title="Configurações" id="iconsUser" class="material-symbols-outlined iconDeselect parteModal">
            settings
        </span>
        <span class="spanUser parteModal">Configurações</span>
    </div>
    <div class="divOpcao parteModal" (click)="abrirAjuda()">
        <span title="Ajuda" id="iconsUser" class="material-symbols-outlined iconDeselect parteModal">
            help
        </span>
        <span class="spanUser parteModal">Ajuda</span>
    </div>
    <div class="divOpcao parteModal" (click)="logout()">
        <span title="Deslogar" id="imgUser2" class="material-symbols-outlined iconDeselect parteModal">
            logout
        </span>
        <span class="spanUser parteModal">Sair</span>
    </div>
</div>