#fundoModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

#containerModal {
    width: 30rem;
    height: 27rem;
    background-color: #fff;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

#riscoAzul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    background: #0047B6;
    border-radius: 7px 7px 0px 0px;
}

#containerTopo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#palavraFiltro {
    margin-left: 37%;
}

#containerIcon {
    display: flex;
    justify-content: flex-end;
    margin: 3% 2.5% 0 0;
    position: relative;
    right: 3%;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconeFechar {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 30px;
    cursor: pointer;
}

#containerConteudoTeste {
    height: 11rem;
    overflow: auto;
    margin-top: 3%;
    flex-wrap: wrap;
}

.divFiltro {
    display: flex;
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 2%;
    border-bottom: solid 1px black;
    justify-content: space-between;
    align-items: center;
}

.divFiltro:hover {
    background-color: #f2f2f2;
}

#iconLixoTeste {
    font-size: 30px;
    cursor: pointer;
    font-weight: 300;
}

#iconLixoTeste:hover {
    color: #be0101;
    animation: mudarCor 0.5s;
}

@keyframes mudarCor {
    from {
        color: #000;
    }

    to {
        color: #be0101;
    }
}

#textoCadastrar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10%;
}

#containerCadastrar {
    width: 100%;
    margin-top: 1%;
}

#riscoGrande {
    margin-top: 5%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 3px;
}

#NomeFiltro {
    margin-top: 1%;
    width: 250px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
}

#containerBotaoAdicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#botaoAdicionar {
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 5rem;
    background-color: #0047B6;
    color: #ffff;
    cursor: pointer;
}

#inputNomeFiltro {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#containerSalvar,
#containerConteudoTeste {
    display: flex;
    align-items: center;
    justify-content: center;
}

#botaoSalvar {
    margin-top: 5%;
    padding: 0.6rem 1.2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #0047B6;
    color: #fff;
    font-size: var(--font-size--big);
    cursor: pointer;
}

#botaoSalvar:hover,
#botaoAdicionar:hover {
    background-color: #003180;
}