<div id="containerModalCadastrar">
    <div id="containerIcons">
        <span (click)="fecharModalCadastro('fechar')" title="Fechar" id="fecharIcone" class="icone"
            class="material-symbols-outlined iconDeselect">
            close
        </span>
    </div>
    <div class="principal">
        <div class="containerModalCadastrar">
            <div class="containerImagem">
                <img class="imgPreview" id="imagemItem">
                <div class="mb-3 divInputImagem">
                    <label for="formFileSm" class="form-label">Escolher Imagem:</label>
                    <input class="form-control form-control-sm " id="formFileSm" type="file"
                        (change)="carregarImagem($event)">
                </div>
            </div>
            <div class="nomeProduto">
                <span>Nome Produto: </span>
                <div class="containerInput">
                    <input class="inputsCadastro" type="text" placeholder="Nome produto" />
                </div>
            </div>
            <div class="classificacao">
                <span>Classificação: </span>
                <div class="addClassificacao">
                    <div (click)="mudarClassificacao()" class="divPonto" id="adicionarClassificacao"
                        style="background-color: #B6B3B3;">
                        <span title="Adicionar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            add
                        </span>
                    </div>
                </div>
                <select *ngIf="!criarClassificacao" class="inputsCadastro" name="">
                    <option *ngFor="let classificacao of listaClassificacao" value="">
                        {{ classificacao.classificacao }}
                    </option>
                </select>
                <input *ngIf="criarClassificacao" type="text" class="inputsCadastro" placeholder="Nova Classificação">
            </div>
            <div class="localizacao">
                <div style="display: flex; align-items: center;">
                    <span style="margin-right: 20px">Localização: </span>
                    <div class="containerLocalizacao">
                        <select style="margin-right: 10px;" *ngFor="let l of listaLocalizacoes; let i = index;"
                            id="localizacaoProduto1" class="localizacaoProduto" (change)="mudarLocalizacoes(i)"
                            [(ngModel)]="listaLocalizacoesEscolhidas[i]">
                            <option *ngFor="let loc of (listaLocalizacoes[i])" value="{{loc.id}}">
                                {{ loc.nome }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="opcao">
                <span>Opção: </span>
                <select id="selecionarDescartavel">
                    <option value="paredeCentro" selected>Descartável</option>
                    <option value="armario">Não Descartável</option>
                </select>
                <div class="qtdItem">
                    <span>QTD: </span>
                    <div class="pontosQtd" (click)="mudarQtd(1)">
                        <span title="Deletar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            remove
                        </span>
                    </div>
                    <input class="inputQtd" type="text" [(ngModel)]="qtdItem" />
                    <div class="pontosQtd" (click)="mudarQtd(2)">
                        <span title="Adicionar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            add
                        </span>
                    </div>
                </div>
            </div>
            <button class="botaoCadastrar">
                Cadastrar
            </button>
        </div>
    </div>
</div>