<div *ngIf="modalDetalhes" id="backdrop">
    <app-cadastrar-descricao-item (fecharModal)="toggleModalDetalhes()"></app-cadastrar-descricao-item>
</div>

<div id="containerModalCadastrar">
    <div id="containerIcons">
        <span (click)="fecharModalCadastro('fechar')" title="Fechar" id="fecharIcone" class="icone"
            class="material-symbols-outlined iconDeselect">
            close
        </span>
    </div>
    <div class="principal">
        <div class="containerModalCadastrar">
            <div class="containerImagem">
                <img class="imgPreview" id="imagemItem">
                <div class="mb-3 divInputImagem">
                    <label for="formFileSm" class="form-label tamanhoTextos">Escolher Imagem:</label>
                    <input class="form-control form-control-sm " id="formFileSm" type="file"
                        (change)="carregarImagem($event)">
                </div>
            </div>
            <div class="nomeProduto">
                <span class="tamanhoTextos">Nome Produto: </span>
                <div class="containerInput">
                    <input class="inputsCadastro" type="text" placeholder="Nome produto" />
                </div>
            </div>
            <div class="classificacao">
                <span class="tamanhoTextos">Classificação: </span>
                <div class="addClassificacao">
                    <div (click)="mudarClassificacao()" class="divPonto" id="adicionarClassificacao"
                        style="background-color: #B6B3B3;">
                        <span title="Adicionar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            add
                        </span>
                    </div>
                </div>
                <select *ngIf="!criarClassificacao" class="inputsCadastro" name="">
                    <option *ngFor="let classificacao of listaClassificacao" class="tamanhoTextos" value="">
                        {{ classificacao.classificacao }}
                    </option>
                </select>
                <input *ngIf="criarClassificacao" type="text" class="inputsCadastro" placeholder="Nova Classificação">
            </div>
            <div class="localizacao">
                <div style="display: flex; align-items: center;">
                    <span style="margin-right: 20px" class="tamanhoTextos">Localização: </span>
                    <div class="containerLocalizacao">
                        <select style="margin-right: 10px;" *ngFor="let l of listaLocalizacoes; let i = index;"
                            id="localizacaoProduto1" class="localizacaoProduto" (change)="mudarLocalizacoes(i)"
                            [(ngModel)]="listaLocalizacoesEscolhidas[i]">
                            <option *ngFor="let loc of (listaLocalizacoes[i])" class="tamanhoTextos" value="{{loc.id}}">
                                {{ loc.nome }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="opcao">
                <span class="tamanhoTextos">Opção: </span>
                <select id="selecionarDescartavel">
                    <option value="paredeCentro" class="tamanhoTextos" selected>Descartável</option>
                    <option value="armario" class="tamanhoTextos">Não Descartável</option>
                </select>
                <div class="qtdItem">
                    <span class="tamanhoTextos">QTD: </span>
                    <div class="pontosQtd" (click)="mudarQtd(1)">
                        <span title="Deletar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            remove
                        </span>
                    </div>
                    <input class="inputQtd" type="text" [(ngModel)]="qtdItem" />
                    <div class="pontosQtd" (click)="mudarQtd(2)">
                        <span title="Adicionar" class="material-symbols-outlined iconDeselect iconMaisLoc">
                            add
                        </span>
                    </div>
                </div>
            </div>
            <div id="containerBtn">
                <button class="btnDetalhes tamanhoTextos" (click)="toggleModalDetalhes()" >
                    Detalhes
                    <span  title="Adicionar"
                        class="material-symbols-outlined iconDeselect addDetalhes">
                        add
                    </span>
                </button>
                <button class="botaoCadastrar tamanhoTextos">
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>