* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    font-size: var(--font-size--small);
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0;
}

p:hover {
    color: #0047B6;
}

/* <!-- ------------------------------- CONTEÚDO MINHA-SACOLA ------------------------------- -->*/
#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
    height: 30px;
}

#iconHome {
    font-size:20px;
    cursor: pointer;
}

#iconHome:hover {
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#caminho p {
    margin-bottom: 0.3rem;
}

#iconMaior .iconMaior {
    font-size: 15px;
}

#iconMaior{
    cursor: default;
}

#caminho p {
    margin-bottom: 0.3rem;
}

.tituloSacola {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 1px;
    margin-left: 5%;
    margin-top: 3%;
}

.titulos {
    font-size: var(--font-size--extreme);
    color: #0047B6;
}

.divMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.divProdutos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 28.125rem;
    margin-left: 5%;
    overflow-y: auto;
}

.containerItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 95%;
    max-width: 95%;
    height: 5.5rem;
    border-bottom: solid 1px #D9D9D9;
}

.nomeItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.classificacaoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 3px;
}

.containerCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-right: 1px solid black;
}

#checkbox {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.parteItem {
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
}

.divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    height: 100%;
    margin: 3px;
}

.img {
    width: 100%;
    height: 50%;
}

.infoItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.nomeProduto {
    margin-left: 5%;
    font-size: var(--font-size--default);
    overflow: visible;
    display: inline;
}

.quantidade {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 2rem;
    border-radius: 5px;
    margin-left: 5%;
    border: solid 1px black;
}

.divImagemQtd1 {
    width: 30%;
    height: 80%;
    border-right: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menosQtdIcon,
#maisQtdIcon {
    font-size: 18px;
    padding: 7% 7%;
    cursor: pointer;
}

#menosQtdIcon {
    border-right: 1px solid black;
}

#maisQtdIcon {
    border-left: 1px solid black;
}

.textoQtd {
    width: 45%;
    text-align: center;
    margin-bottom: 0;
}

.divImagemQtd2 {
    width: 30%;
    height: 80%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parteDireita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 30%;
}

#iconeLixeira {
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    padding: 3px;
}

#iconeLixeira:hover {
    color: #be0101;
    animation: mudarCor 0.5s;
}

@keyframes mudarCor {
    from {
        color: #000;
    }

    to {
        color: #be0101;
    }
}

.descartavel {
    font-size: var(--font-size--small);
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}

.divResumo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 40%;
}

.containerResumo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 480px;
    height: 35rem;
    border: solid 0.5px black;
    border-radius: 10px;
    background-color: white;
}

.divisaoContainer {
    width: 80%;
    height: 0.5px;
    border: solid 1px #D9D9D9;
    margin: 5%;
}

.texto {
    display: flex;
}

.tituloData {
    font-size: var(--font-size--big);
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

.containerData {
    width: 20rem;
    height: 13%;
    border: solid 0.5px black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 4%;
}

.calendario {
    font-size: 35px;
    cursor: pointer;
}

.calendario:hover {
    color: #0047B6;
}

.divisaoData {
    width: 0.5px;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 3%;
}

.textoData {
    font-size: var(--font-size--big);
    margin: 5px;
    color: black;
}

.inputProfessor {
    padding: 5px;
    font-size: var(--font-size--default);
    margin: 5px;
}

.divBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
}

.botaoReservar {
    min-width: 40%;
    height: 2.8rem;
    padding: 5px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size--medium);
    background-color: #0047B6;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
    transition: all 0.8s;
}

.botaoReservar:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    transition: all 0.5s;
    border: solid 0.5px black;
}

.botaoCancelarReserva {
    background-color: #d10303d8;
}

#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

/* <!-- ------------------------------- FIM CONTEÚDO MINHA-SACOLA ------------------------------- -->*/