<!-- ------------------------------- COMPONENTES ----------------------------------- -->
<app-header></app-header>
<app-filtro></app-filtro>
<!-- <app-calendario *ngIf="calendarioAberto1 == 1" (salvarData)="salvarData($event, 1)" [dataSalva]="sacola.data_retirada">
</app-calendario>
<app-calendario *ngIf="calendarioAberto2 == 1" (salvarData)="salvarData($event, 2)" [dataSalva]="sacola.data_devolucao">
</app-calendario> -->
<!-- ------------------------------- FIM COMPONENTES ----------------------------------- -->

<!-- ------------------------------- CONTEÚDO MINHA-SACOLA ------------------------------- -->

<body>
    <div id="caminho">
        <div id="iconHome">
            <span id="iconHome" class="material-symbols-outlined iconDeselect" alt="Casa" (click)="navegacao('/professor')">
                home
            </span>
        </div>
        <div id="iconMaior">
            <span class="material-symbols-outlined iconDeselect" alt="Maior">
                arrow_forward_ios
            </span>
        </div>
        <p (click)="navegacao('/professor/sacolas')" *ngIf="!reservaFeita">Minhas Sacolas</p>
        <p (click)="navegacao('/professor/reservas')" *ngIf="reservaFeita">Minhas Reservas</p>
        <div id="iconMaior">
            <span class="material-symbols-outlined iconDeselect" alt="Maior">
                arrow_forward_ios
            </span>
        </div>
        <p>Detalhes</p>
    </div>
    <div class="tituloSacola">
        <b><span class="titulos" *ngIf="!reservaFeita">Minha Sacola</span></b>
        <b><span class="titulos" *ngIf="reservaFeita">Minha Reserva</span></b>
    </div>
    <div class="divMain">
        <div class="divProdutos">
            <div *ngFor="let produto of produtosSacola; let i = index;" class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox" checked>
                </div>
                <div class="parteItem">
                    <div class="divImg">
                        <img class="img" src="../../../assets/Rele.png" alt="Imagem do Produto">
                    </div>
                    <div class="infoItem">
                        <span class="nomeProduto">{{produto.nome}}</span>
                        <div class="quantidade">
                            <div class="divImagemQtd1">
                                <span *ngIf="!reservaFeita" title="Remover"
                                    class="material-symbols-outlined iconDeselect" id="menosQtdIcon"
                                    (click)="alterarQtdProduto(1, i)">
                                    remove
                                </span>
                            </div>
                            <p class="textoQtd">{{produto.qtd_atual}}</p>
                            <div class="divImagemQtd2">
                                <span *ngIf="!reservaFeita" title="Adicionar"
                                    class="material-symbols-outlined iconDeselect" id="maisQtdIcon"
                                    (click)="alterarQtdProduto(2, i)">
                                    add
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parteDireita">
                    <div style="width: 100%;">
                        <span *ngIf="!reservaFeita" title="Deletar" id="iconeLixeira"
                            class="material-symbols-outlined iconDeselect">
                            delete
                        </span>
                    </div>
                    <p *ngIf="produto.descartavel" class="descartavel">Descartável</p>
                    <p *ngIf="!produto.descartavel" class="descartavel">Não Descartável</p>
                </div>
            </div>
        </div>
        <div class="divResumo">
            <div class="containerResumo">
                <b><span class="titulos">Resumo</span></b>
                <div class="divisaoContainer"></div>
                <div class="texto">
                    <b><span class="tituloData">Data de Retirada</span></b>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerData">
                    <!-- <span class="material-symbols-outlined iconDeselect calendario" alt="Editar data de retirada"
                        (click)="abrirCalendario(1)">
                        calendar_month
                    </span> -->
                    <div class="divisaoData"></div>
                    <span class="textoData">{{formatarData(sacola.data_retirada)}}</span>
                </div>

                <div class="texto">
                    <b><span class="tituloData">Data de Devolução</span></b>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerData">
                    <!-- <span class="material-symbols-outlined iconDeselect calendario" alt="Editar data de retirada"
                        (click)="abrirCalendario(2)">
                        calendar_month
                    </span> -->
                    <div class="divisaoData"></div>
                    <span class="textoData">{{formatarData(sacola.data_devolucao)}}</span>
                </div>
                <!-- <input *ngIf="!reservaFeita && (tipoUsuario == 2 || tipoUsuario == 3 || tipoUsuario == 4)"
                    class="inputProfessor" [(ngModel)]="professorReserva" placeholder="Professor">
                <div class="divBotoes">
                    <button *ngIf="reservaFeita && dataSacola > dataAtual" class="botaoReservar botaoCancelarReserva"
                        (click)="cancelarReserva()">Cancelar Reserva</button>
                    <button *ngIf="!reservaFeita" class="botaoReservar" (click)="excluirSacola()">Excluir Sacola</button>
                    <button *ngIf="!reservaFeita" (click)="reservarItens()" class="botaoReservar">Reservar</button>
                </div> -->
            </div>
        </div>
    </div>
</body>
<!-- ------------------------------- FIM CONTEÚDO MINHA-SACOLA ------------------------------- -->