<div [ngClass]="retornaClasseElemento(1)">
    <div class="containerUser">
        <img class="imgUser" src="../../../assets/user.png" alt="Imagem de Usuário" />
        <div class="containerInfo">
            <span class="user">Nome Sobrenome</span>
            <span class="email">nome_sobrenome@estudante.sc.senai.br</span>
        </div>
    </div>
    <div class="containerOpcoes">
        <div class="recusar" (click)="abrirModaisConfirmacao(1)">
            <span title="Fechar" class="material-symbols-outlined iconDeselect iconeRecusar">
                cancel
            </span>
        </div>
        <div (click)="abrirModaisConfirmacao(2)">
            <span title="Confirmar" class="material-symbols-outlined iconDeselect iconeAceitar">
                check_circle
            </span>
        </div>
    </div>
</div>

<div id="fundoModal" *ngIf="modalConfirmarRecusa || modalConfirmarAceite">
    <app-modal-confirmacao *ngIf="modalConfirmarRecusa" [tipoTexto]="4"
        (fecharModal)="fecharModaisConfirmacao(1, $event)">
    </app-modal-confirmacao>

    <app-modal-confirmacao *ngIf="modalConfirmarAceite" [tipoTexto]="5"
        (fecharModal)="fecharModaisConfirmacao(2, $event)">
    </app-modal-confirmacao>
</div>

<app-modal-feedback *ngIf="feedbackRecusaCadastro" [tipoFeedback]="8" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<app-modal-feedback *ngIf="feedbackAceiteCadastro" [tipoFeedback]="9" (fecharModal)="fecharModaisFeedback(2)">
</app-modal-feedback>