*{
    font-family: 'Inter',sans-serif;
}

p {
    font-size: var(--font-size--small);
    margin-bottom: 0;
    cursor: pointer;
}

/* <!-- ------------------------------- COMPONENTE DA SACOLA ------------------------------- --> */
.divPrincipal{
    width: 100%;
    margin: 0;
    padding: 0;
}

#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
    height: 30px;
}

#iconHome {
    font-size:22px;
    cursor: pointer;
    font-weight: 250;
}

#iconHome:hover {
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconMaior .iconMaior {
    font-size: 15px;
}

#iconMaior{
    cursor: default;
}

#caminho p {
    margin-bottom: 0.3rem;
}

#caminhoMinhasSacolas {
    font-size: var(--font-size--small);
    font-weight: 500;
    cursor: default;
}

.tituloSacolas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.tituloPagina{
    font-size: var(--font-size--extreme);
    color: #0047B6;
}

.divSemSacolas {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #0047B6;
    padding: 20px;
    border-top: solid rgb(153, 151, 151) 1px;
}

.containerSacolas{
   width: 88%;
    display: grid;
    
    //Pra quando o tamanho da fonte for acima de fonte pequena
    // grid-template-columns:repeat(auto-fill, minmax(30rem, 1fr));

    //Pra quando o tamanho da fonte for abaixo ou ser fonte pequena
    grid-template-columns:repeat(auto-fill, minmax(35rem, 1fr));
    grid-gap: 25px 0;
    justify-items: center;
    min-width: 890px;
    margin-left: 100px;
}
/* <!-- ------------------------------- FIM COMPONENTE DA SACOLA ------------------------------- --> */