<div class="containerModalAnexos">
    <div class="linhaAzul"></div>
    <div class="containerFechar">
        <span title="Fechar" (click)="fecharModalHistorico()" class="material-symbols-outlined iconDeselect"
            id="iconeFechar">
            close
        </span>
    </div>
    <div class="containerInfoModalHist">
        <h1>Histórico</h1>
        <div class="riscoDivisao"></div>
    </div>
    <div class="containerHistoricos">
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
        <div class="quadroHistorico">
            <span class="subtituloModal">Atendente</span>
            <span class="subtituloModal">Edição</span>
            <div class="containerData">
                <span class="textoData">20:55</span>
                <span class="textoData">24/08/2022</span>
            </div>
        </div>
    </div>
</div>