<div id="containerInformarMotivo">
    <div id="containerInformarDefeitoModal">
        <div class="containerFechar">
            <span (click)="fecharModalOcorrencia('fechar')" title="Fechar" id="fecharIcone" class="icone"
                class="material-symbols-outlined iconDeselect">
                close
            </span>
        </div>
        <h2 class="tituloInformarDefeito">{{retornaTextoOcorrencia()}}</h2>
        <div id="containerConteudoInformarDefeito">
            <!-- <input type="textarea" id="informarDefeitoInput"> -->
            <textarea id="texteArea" rows="15" cols="60" maxlength="500"></textarea>
            <div *ngIf="tipoOcorrencia == 3" id="containerRetirarItemEstoque">
                <input id="retirarDoEstoque" type="checkbox" />
                <label for="retirarDoEstoque">Retirar item do estoque</label>
            </div>
            <div class="divBotoes">
                <button id="voltarInformarDefeito" class="btnDevolucaoModal">
                    Voltar
                </button>
                <button id="salvarInformarDefeito" class="btnDevolucaoModal">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>