.tdIdLocalizacao {
    margin-left: 10px;
    text-align: left;
}

.tdCheck {
    display: flex;
    justify-content: end;
}

.tdNomeLocalizacao {
    text-align: center;
}

.itemTabela {
    vertical-align: middle;
}

