
.tdNomeLocalizacao {
    text-align: center;
}

.tdIdLocalizacao {
    text-align: center;
}

.checkboxStyle {
    width: 15px;
    height: 15px;
}

.itemTabela {
    vertical-align: middle;
}

.linhaSelecionavel {
    cursor: pointer;
}