<table id="tableItens" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th class="tdIdLocalizacao">ID</th>
            <th class="tdNomeLocalizacao">Localização</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let localizacao of localizacoes;" (click)="selecionarRow(localizacao)"
            [ngClass]="localizacao.checked ? 'table-active' : ''">
            <td class="itemTabela displayFlex tdCheck">
                <input class="checkboxStyle" [checked]="localizacao.checked" type="checkbox">
                <!-- <mat-checkbox [color]="'primary'" [disabled]="true" [checked]="localizacao.checked"></mat-checkbox> -->
            </td>
            <td class="itemTabela displayFlex tdIdLocalizacao">{{ localizacao.id }}
            </td>
            <td class="itemTabela displayFlex tdNomeLocalizacao">{{
                localizacao.nome }}</td>
        </tr>
    </tbody>
</table>