<table id="tableItens" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th class="tdIdLocalizacao">ID</th>
            <th class="tdIdLocalizacao">ID Pai</th>
            <th class="tdNomeLocalizacao">Localização</th>
        </tr>
    </thead>
    <tbody>
        <tr class="linhaSelecionavel" *ngFor="let localizacao of localizacoe;" (click)="selecionarRow(localizacao)"
            [ngClass]="localizacao.checked ? 'table-active' : ''">
            <td class="itemTabela displayFlex tdCheck">
                <input class="checkboxStyle" [checked]="localizacao.checked" type="checkbox">
            </td>
            <td class="itemTabela displayFlex tdIdLocalizacao">{{ localizacao.id }}
            </td>
            <td class="itemTabela displayFlex tdIdLocalizacao">{{ localizacao.idPai }}
            </td>
            <td class="itemTabela displayFlex tdNomeLocalizacao">{{
                localizacao.nome }}</td>
        </tr>
    </tbody>
</table>