.checkboxStyle {
    width: 15px;
    height: 15px;
}

.tdCheck {
}

.tdNomeLocalizacao {
    text-align: center;
}

.tdIdLocalizacao {
    text-align: center;
}

.itemTabela {
    vertical-align: middle;
}

