*{
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
}

#espacamento {
    height: 85px;
    width: 100%;
}

header{
    position: fixed;
    background: transparent;
    padding: 20px;
    width: 100%;
    height: 30px;
}

a span{
    display: flex;
    padding: 0px 2rem;
    font-size: 14px;
}

a:hover {
    cursor: pointer;
}

.sidebar {
    z-index: 1;
    margin-top: -85px;
    padding-top: 85px;
}

.sidebar .reservas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0047B6;
    color: #FFFFFF;
    cursor: pointer;
}

.sidebar .reservas:hover {
    background: #003c9c;
}

.sidebar .filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0047B6;
    cursor:default;
    color: #FFFFFF;
}

#iconGerenciar {
    width: 25px;
    margin-right: 15px;
}

#iconMaior {
    cursor: pointer;
    margin-right: 20px;
    width: 15px;
    transition: all 0.7s;
    transform: scaleX(-1)
}

.ContainerIconGerenciar {
    display: flex;
    align-items: center;
    justify-content:center;
}

#gerenciar{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 25px;
}

.ContainerIconMaior, .ContainerIconCalendario {
    padding-left: 25px;
    cursor: pointer;
}

.ContainerIconCalendario {
    margin-right: 15px;
}

.ContainerIconMaior:hover {
    background: #003c9c;
}   

.textoFiltro, .textoReservas {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
}

.textoFiltro, .textoReservas2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #EEEEEE;
    transition: 0.5s;
    transition-property: left;
}

.sidebar a, .filtro, .reservas{
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background;
}

.sidebar a:hover{
    background: #a5a5a5;
}


#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 16px;
    margin-left: 170px;
    width: 80px;
    padding-left: 22px;
}

#check {
    display: none;
}

#check:checked ~ .sidebar #iconMaior {
    margin-right: 20px;
    width: 15px;
    transition: all 0.7s;
    transform: scaleX(1);
}

.itensFiltro{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 37rem;  
    overflow: auto;
}

/* ------------------- MODAL PARA GERENCIAR FILTROS ----------------- */

#fundoModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color:rgba(0, 0, 0, 0.349);
}

#containerModal {
    width: 30rem;
    height: 30rem;
    background-color: #fff;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

#riscoAzul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
    background: #0047B6;
    border-radius: 7px 7px 0px 0px;
}

#containerTopo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#containerIcon {
    display: flex;
    justify-content: flex-end;
    margin: 3% 2.5% 0 0; 
}

#palavraFiltro {
    margin-left: 44%;
}

#containerIcon {
    position: relative;
    right: 3%;
}

#iconFechar {
    width: 32%;
    cursor: pointer;
}

#containerConteudoTeste {
    height: 200px;
    overflow: auto;
    margin-top: 5%;
    flex-wrap: wrap;
}

.divFiltro {
    display: flex;
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 2%;
    border: solid 1px black;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
}

#iconLixoTeste {
    width: 6%;
    cursor: pointer;
}

#riscoPequeno {
    margin-top: 2%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 3px;
}

#riscoGrande {
    margin-top: 2%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.521);
    height: 3px;
}

#containerCadastrar, #textoCadastrar, #riscoTeste{
    display: flex;
    justify-content: center;
    align-items: center;
}

#NomeFiltro {
    width: 250px;
    padding: 5px;
    border: 0.2px solid rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
    font-weight: 600;
}

#containerBotaoAdicionar {
    display: flex;
    justify-content: right;
    margin-top: 2%;
}


#botaoAdicionar {
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #0047B6;
    color: #ffff;
    cursor: pointer;
}

#botaoSalvar {
    margin-top: 5%;
    padding: 0.6rem 1.2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #0047B6;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#botaoSalvar:hover, #botaoAdicionar:hover {
    background-color: #003180;
}

#containerSalvar, #containerConteudoTeste {
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #EEEEEE;
}

::-webkit-scrollbar-thumb{
    background-color: #EEEEEE;
    border-radius: 30px;
    border: solid 1px black;
}


