<input type="checkbox" id="check" checked>
<div id="espacamento"></div>
<div class="sidebar">
    <div class="containerTopo">
        <div class="filtro">
            <div class="textoFiltro">
                <span>Filtros</span>
            </div>
            <label for="check">
                <div class="ContainerIconMaior">
                    <img id="iconMaior" src="../../../assets/simboloMaior.png" alt="Icon maior">
                </div>
            </label>
        </div>
        <div class="itensFiltro">
            <a *ngFor="let item of listaClassificacoes" (click)="fecharFiltro(item.id)">
                <span>{{item.classificacao}}</span>
            </a>
        </div>
    </div>
    <div *ngIf="usuario == 1" (click)="navegar('/professor/reservas')" class="reservas">
        <div class="textoReservas">
            <span>Minhas reservas</span>
        </div>
        <div class="ContainerIconCalendario">
            <img id="gerenciar" src="../../../assets/arquivo-gerenciar.png" alt="Gerenciar">
        </div>
    </div>
    <div *ngIf="usuario == 3 || usuario == 4"
        (click)="modalFiltro()" class="reservas">
        <div class="textoReservas2">
            <span>Gerenciar Filtros</span>
        </div>
    </div>
</div>