<div *ngIf="aparecer == 1" id="fundoModal">
    <div id="containerModal">
        <div id="riscoAzul"></div>
        <div id="dados">
            <div id="containerTopo">
                <div id="palavraFiltro">
                    <p>
                        Filtros
                    </p>
                </div>
                <div id="containerIcon">
                    <img id="iconFechar" (click)="fecharModal()" src="../../../assets/close.png" alt="fechar">
                </div>
            </div>
            <div id="containerConteudoTeste">
                <div class="divFiltro">
                    <div id="texto">
                        Materiais do projeto
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Ferramentas Elétricas
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Componentes Eletrônicos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Materiais Elétricos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Materiais Elétricos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Materiais Elétricos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Materiais Elétricos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                <div class="divFiltro">
                    <div id="texto">
                        Materiais Elétricos
                    </div>
                        <img id="iconLixoTeste" src="../../../assets/lixeira-de-reciclagem.png" alt="Lixo" />
                </div>
                
            </div>
            <div id="riscoTeste">
                <hr id="riscoPequeno">
            </div>
            <div id="containerCadastrar">
                
                <div id="parteCadastrar">
                    <div id="textoCadastrar">
                        <p>
                            Cadastrar
                        </p>
                    </div>
                    <div id="inputNomeFiltro">
                        <input type="text" id="NomeFiltro" placeholder="Nome do filtro">
                    </div>
                    <div id="containerBotaoAdicionar">
                        <button id="botaoAdicionar">Adicionar</button>
                    </div>
                    
                </div>
            </div>
            <div id="riscoTeste">
                <hr id="riscoGrande">
            </div>
                <div id="containerSalvar">
                    <button id="botaoSalvar" (click)="salvar()">Salvar</button>
                </div>
            
        </div>
    </div>
</div>

<!-- --------------------------------------------------------- -->

<input type="checkbox" id="check" checked>
<div id="espacamento"></div>
<div class="sidebar">
    <div class="containerTopo">
        <div class="filtro">
            <div class="textoFiltro">
                <span>Filtros</span>
            </div>
            <label for="check">
                <div class="ContainerIconMaior">
                    <img id="iconMaior" src="../../../assets/simboloMaior.png" alt="Icon maior">
                </div>
            </label>
        </div>
        <div class="itensFiltro">
            <a *ngFor="let item of listaClassificacoes" (click)="fecharFiltro(item.id)">
                <span>{{item.classificacao}}</span>
            </a>
        </div>
    </div>
    <div *ngIf="usuario == 1" (click)="navegar('/professor/reservas')" class="reservas">
        <div class="textoReservas">
            <span>Minhas reservas</span>
        </div>
        <div class="ContainerIconCalendario">
            <img id="gerenciar" src="../../../assets/arquivo-gerenciar.png" alt="Gerenciar">
        </div>
    </div>
    <div *ngIf="usuario == 3 || usuario == 4"
        (click)="modalFiltro()" class="reservas">
        <div class="textoReservas2">
            <span>Gerenciar Filtros</span>
        </div>
        <div class="ContainerIconGerenciar">
            <img id="iconGerenciar" src="../../../assets/gerenciamento-de-projetos (1).png" alt="Gerenciar">
        </div>
    </div>
</div>