<input type="checkbox" id="check" checked>
<div id="espacamento"></div>
<div class="sidebar">
    <div class="containerTopo">
        <div class="filtro">
            <div class="textoFiltro">
                <span>Filtros</span>
            </div>
            <label for="check">
                <div class="ContainerIconMaior">
                    <img id="iconMaior" src="../../../assets/simboloMaior.png" alt="Icon maior">
                </div>
            </label>
        </div>
        <a (click)="fecharFiltro()">
            <span>Materiais para Projetos</span>
        </a>
        <a (click)="fecharFiltro()">
            <span>Ferramentas Elétricas</span>
        </a>
        <a (click)="fecharFiltro()">
            <span>Componentes Elétricos</span>
        </a>
        <a (click)="fecharFiltro()">
            <span>Materiais Elétricos</span>
        </a>
        <a (click)="fecharFiltro()">
            <span>Materiais de Limpeza</span>
        </a>
    </div>
    <div (click)="navegar('/professor/reservas')" class="reservas">
        <div class="textoReservas">
            <span>Minhas reservas</span>
        </div>
        <div class="ContainerIconCalendario">
            <img id="gerenciar" src="../../../assets/arquivo-gerenciar.png" alt="Gerenciar">
        </div>
    </div>
</div>