<html>
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<body>
  <!-- Aqui deve aparecer um componente de confirmar cadastro -->
  <app-confirmar-cadastro (fecharModal)="fecharModalConfirmacao($event)" *ngIf="modalConfirmarCadastro" style="position:relative; z-index: 5;">
  </app-confirmar-cadastro>

  <div class="divPrincipal">

    <!-- Modal de aviso para caso o usuário digite duas senhas diferentes -->
    <app-alerta-feito *ngIf="senhaIncorreta" [tipoMensagemModal]="6" (fecharModal)="fecharModalFeito(1)">
    </app-alerta-feito>

    <!-- Modal de aviso para caso o usuário não preencha todos os dados -->
    <app-alerta-feito *ngIf="dadosIncorretos" [tipoMensagemModal]="7" (fecharModal)="fecharModalFeito(2)">
    </app-alerta-feito>

    <!-- Modal de Email inválido -->
    <app-alerta-feito *ngIf="emailInvalido" [tipoMensagemModal]="4" (fecharModal)="fecharModalFeito(1)">
    </app-alerta-feito>

    <div id="containerLogin" class="shadow mb-5 rounded">
      <div id="barraAzul">
        <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário" />
      </div>
      <h1 id="titulo">Cadastrar</h1>
      <div class="form-floating div-float-label">
        <input name="usuario" [(ngModel)]="usuario" type="text" class="form-control input-float-label"
          placeholder="Nome">
        <label class="label-float-label" for="usuario">Nome</label>
      </div>
      <div class="form-floating div-float-label">
        <input name="email" [(ngModel)]="email" type="email" class="form-control input-float-label" placeholder="Email">
        <label class="label-float-label" for="email">Email</label>
      </div>

      <div class="form-floating div-float-label div-senha">
        <input id="inputSenha" name="senhaUser" [(ngModel)]="senhaUser" type="password"
          class="form-control input-float-label" placeholder="Email">
        <label class="label-float-label" for="senhaUser">Senha</label>
        <span title="Ver senha" *ngIf="!senhaVisivel" class="material-symbols-outlined imgOlho iconDeselect" (click)="trocarOlho(1)"
          alt="Visualização da senha">
          visibility_off
        </span>
        <span title="Ocultar senha" *ngIf="senhaVisivel" class="material-symbols-outlined imgOlho iconDeselect" (click)="trocarOlho(1)"
          alt="Visualização da senha">
          visibility
        </span>
      </div>

      <div class="form-floating div-float-label div-senha">
        <input id="inputConfirmarSenha" name="repetirSenhaUser" [(ngModel)]="repetirSenhaUser" type="password"
          class="form-control input-float-label" placeholder="Email">
        <label class="label-float-label" for="repetirSenhaUser">Confirmar Senha</label>
        <span title="Ver senha" *ngIf="!confirmarSenhaVisivel" class="material-symbols-outlined imgOlho iconDeselect"
          (click)="trocarOlho(2)" alt="Visualização da senha">
          visibility_off
        </span>
        <span title="Ocultar senha" *ngIf="confirmarSenhaVisivel" class="material-symbols-outlined imgOlho iconDeselect"
          (click)="trocarOlho(2)" alt="Visualização da senha">
          visibility
        </span>
      </div>
      <button id="cadastrar" (click)="verificarDadosValidos()">Cadastrar</button>
      <p id="textoConta">
        Já possui uma conta?
        <span (click)="entrar()" id="entrar">Entrar</span>
      </p>
    </div>
  </div>
</body>

</html>