// $input-group-addon-padding-y:           0;
// $input-group-addon-padding-x: 0;

// $form-floating-height:            add(3.5rem, $input-height-border);
// $form-floating-line-height:       1.25;
// $form-floating-padding-x:         0;
// $form-floating-padding-y:         1rem;
// $form-floating-input-padding-t:   1.625rem;
// $form-floating-input-padding-b:   .625rem;
// $form-floating-label-opacity:     .65;
// $form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.15rem);
// $form-floating-transition:        opacity .1s ease-in-out, transform .1s ease-in-out;

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, #EAEAEA 0%, #DFDFDF 100%);
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

a {
    color: rgba(0, 0, 0, 0.65);
}

.divPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30.5%;
    background-color: #ffffff;
    border-radius: 5px;
}

#imagemUsuario {
    position: absolute;
    margin-top: -30px;
    width: 5%;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #0047B6;
    margin-top: 10%;
    font-weight: 500;
}

.div-float-label {
    width: 80%;
    border-bottom: 1px solid black;
}

.input-float-label {
    padding: 0;
    padding-left: 2px;
    border: 0;
}

.input-float-label:focus~.label-float-label {
    margin-top: -2px;
    color: #0047B6;
}

.input-float-label:focus~.imgOlho {
    color: #0047b6;
}

.div-float-label:has(.input-float-label:focus) {
    border-color: #0047B6;
}

.label-float-label {
    margin-top: -2px;
    padding: 0;
    padding-top: 18px;
    border: 0;
    width: 100%;
}

.div-senha {
    display: flex;
    align-items: center;
}

#barraAzul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17px;
    background: #0047B6;
    border-radius: 7px 7px 0px 0px;
}

.inputsCadastro {
    width: 80%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #0047B6;
    margin: 5px;
    font-family: 'Inter', sans-serif;
}

#cadastrar {
    width: 35%;
    height: 2.2rem;
    background-color: #0047B6;
    color: #ffffff;
    font-size: var(--font-size--default);
    border-radius: 5px;
    border: none;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s;
}

#cadastrar:hover {
    transition: all 0.3s;
    background-color: #013fa3;
    cursor: pointer;
}

#textoConta {
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size--default);
    color: rgba(0, 0, 0, 0.65);
    margin: 5%;
}

#entrar {
    font-weight: 500;
    text-decoration: underline;
}

#entrar:hover {
    cursor: pointer;
}

.divSenha {
    border: none;
    width: 80%;
    height: 2rem;
    border-bottom: 1px solid #0047B6;
    margin: 2%;
    font-family: 'Inter';
    display: flex;
}

.imgOlho {
    padding: 4px;
    transition: all 0.3s;
    cursor: pointer;
    height: fit-content;
    user-select: none;
}

.imgOlho:hover {
    transition: all 0.3s;
    border-radius: 50px;
    background-color: #dddddd;
}

.inputsCadastro2 {
    width: 90%;
    border: none;
    font-family: 'Inter', sans-serif;
}

#modalCadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30.5%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    top: 2%;
    height: 14%;
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#spanCadastro {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#imgAlerta {
    width: 8%;
}

#imgAlerta2 {
    width: 15%;
    margin-bottom: 5%;
}

#fechar {
    position: absolute;
    width: 3%;
    top: 10%;
    right: 3%;
}

#fechar:hover {
    cursor: pointer;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0047B6;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

#vermelho {
    background-color: red;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

@keyframes animacao {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

.texto {
    display: flex;
}

// Required Bootstrap imports
// @import "../../../../node_modules/bootstrap/scss/variables";
// @import "../../../../node_modules/bootstrap/scss/maps";
// @import "../../../../node_modules/bootstrap/scss/mixins";
// @import "../../../../node_modules/bootstrap/scss/root";

// @import "../../../../node_modules/bootstrap/scss/forms";
// @import "../../../../node_modules/bootstrap/scss/input";