
@import "../../../../node_modules/bootstrap/scss/bootstrap";

// $form-floating-input-padding-b: 0;
// $form-floating-input-padding-t: 0;
// $form-floating-height: 0;
// $form-floating-padding-x: 0;
// $form-floating-height:  0;
// $form-floating-label-opacity: 1;

$form-floating-padding-x: 0;
$form-floating-label-transform: none;
$form-floating-height: 0;

.divSenha {
    background-color: red;
}


