#modalCadastro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  max-width: 25rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 2vh;
  right: 2vh;
  min-height: 13%;
  animation-name: animacao;
  animation-duration: 5.5s;
}

.divInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.containerIconFiltro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.divDivisaoAlerta {
  height: 3rem;
  width: 1px;
  margin: 0 0.5rem;
  background-color: black;
}

#fecharModal {
  position: absolute;
  width: 0.6rem;
  top: 10%;
  right: 3%;
}

#fecharModal:hover {
  cursor: pointer;
}

#imgAlerta {
  width: 2.5rem;
}

#spanCadastro {
  font-family: "Inter";
  font-size: var(--font-size--default);
  text-align: center;
  font-weight: 600;
}

@keyframes animacao {
  0% {
    opacity: 0.3;
  }

  5% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }


  100% {
    opacity: 0;
  }
}