<html>
<body>
    <div class="divPrincipal">
        <div *ngIf="cadastro == 1" id="modalCadastro">
            <img id="fechar" src="../../../assets/close.png">
            <img id="imgAlerta" src="../../../assets/alert.png">
            <span id="spanCadastro">Sua solicitação de cadastro foi enviada para confirmação</span>
        </div>
        <div id="containerLogin">
            <div id="barraAzul">
                <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
            </div>
            <h1 id="titulo">
                AlmaSis
            </h1>
            <input type="text" class="inputsCadastro" placeholder="Email ou usuário">
            <input type="password" class="inputsCadastro" placeholder="Senha">
            <div class="containerSenha">
                <span id="esqueciSenha">
                    <a href="">Esqueci a senha</a>
                </span>
            </div>
            <div class="containerCheckbox">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">
                    Lembrar-me
                </label>
            </div>
            <button type="button" id="entrarGoogle">
                <img id="imgGoogle" src="../../../assets/google.png" alt="Google icon">
                Entrar com o Google
            </button>
            <button type="button" id="entrar">
                Entrar
            </button>
            <p id="textoConta">
                Não tem uma conta?
                <span (click)="cadastrar()" id="cadastrar">Cadastrar</span>
            </p>
        </div>
    </div>
</body>
</html>