@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, #EAEAEA 0%, #DFDFDF 100%);
    display: flex;
    justify-content: center;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

a {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Inter';
}

label{
    margin-left: 5px;
}

.divPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30.5%;
    background-color: #ffffff;
    border-radius: 5px;
}

#imagemUsuario {
    position: absolute;
    margin-top: -30px;
    width: 5%;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #0047B6;
    margin-top: 10%;
    font-weight: 500;
}

#barraAzul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17px;
    background: #0047B6;
    border-radius: 7px 7px 0px 0px;
}

.inputsCadastro {
    width: 80%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #0047B6;
    margin: 2%;
    font-family: 'Inter';
}

#esqueciSenha {
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 1%;
    font-family: 'Inter';
    text-decoration: underline;
}

#esqueciSenha:hover {
    cursor: pointer;
}

#entrarGoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2.5rem;
    border: solid 0.5px black;
    border-radius: 5px;
    margin-top: 5%;
    font-family: 'Inter';
    font-size: 15px;
}

#entrarGoogle:hover {
    cursor: pointer;
}

#imgGoogle {
    width: 10%;
    height: 1.5rem;
    margin-right: 10%;
}

#entrar {
    width: 35%;
    height: 2.2rem;
    background-color: #0047B6;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
    font-family: 'Inter';
}

#entrar:hover {
    cursor: pointer;
}

#textoConta {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.65);
    margin: 4%;
}

.containerSenha {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
}

.containerCheckbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 1%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.80);
}

#checkbox{
    width: 18px;
    height: 18px;
}

#checkbox:hover {
    cursor: pointer;
}

.botaoCadastro{
    border: none;
}

#cadastrar {
    text-decoration: underline;
}

#cadastrar:hover {
    cursor: pointer;
}

#modalCadastro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30.5%;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    top: 2%;
    height: 14%;
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#spanCadastro {
    font-family: 'Inter';
    font-size: 17px;
    text-align: center;
    font-weight: 600;
}

#imgAlerta {
    width: 8%;
}

#fechar {
    position: absolute;
    width: 3%;
    top: 10%;
    right: 3%;
}

#fechar:hover {
    cursor: pointer;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0047B6;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

@keyframes animacao {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
}

.modalSenha {
    width: 26%;
    height: 40%;
    position: absolute;
    top: 30%;
    background-color: #ffffff;
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    border-top: 8px solid #0047B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#fechar2 {
    position: absolute;
    width: 4%;
    top: 5%;
    right: 4%;
}

#fechar2:hover {
    cursor: pointer;
}

#tituloSenha {
    font-family: 'Inter';
    font-size: 28px;
    color: #0047B6;
    font-weight: 800;
}

#divEmail {
    width: 80%;
}

#inserirEmail {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 2%;
}

#inputEmail {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 3%;
    font-size: 16px;
}

#avisoCadastro {
    font-size: 16px;
    font-family: 'Inter';
    text-align: center;
    padding: 0% 10%;
}

#enviarCodigo {
    background-color: #0047B6;
    padding: 2% 6%;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 600;
    border: 1px solid transparent;
}

#enviarCodigo:hover {
    cursor: pointer;
}

#inserirCodigo {
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 400;
}

#divCodigo {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 10%;
}

.inputCodigo {
    width: 10%;
    height: 100%;
    background-color: #DEDEDE;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding-left: 4%;
}