<link rel="stylesheet" href="./login.component.css">
<main>
  <div id="containerLogin">
    <div id="barraAzul">
    <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
    </div>
    <h1 id="titulo">
      AlmaSis
    </h1>
    <input type="text" id="identificacao" placeholder="Email ou usuário">
    <input type="password" id="senha" placeholder="Senha">
    <a href="">
      Esqueci minha senha
    </a>
    <input type="checkbox" id="checkbox">
    <label for="checkbox">
      Lembrar-me
    </label>
    <button type="button" id="entrarGoogle">
      <img src="../../../assets/google.png" alt="Google icon">
      Entrar com o Google
    </button>
    <button type="button" id="entrar">
      Entrar
    </button>
    <p>
      Não tem uma conta?
      <a href="">
        Cadastrar
      </a>
    </p>

  </div>
</main>