<div class="modalCalendario">
    <div class="headerCalendario">
        <img src="../../../assets/seta.png" class="imgSeta1" (click)="onPreviousMonth()" alt="Mês Anterior">
        <span class="mesAno"> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; - &nbsp; {{ year }} </span>
        <img src="../../../assets/seta.png" class="imgSeta2" (click)="onNextMonth()" alt="Próximo Mês">
    </div>
    <div class="divCalendario">
        <div class="calendar">
            <span *ngFor='let weekDay of weekDaysName' class="week">
                {{ weekDay }}
            </span>

            <span (click)="selecionarDia(day)" *ngFor='let day of monthDays' class="day"
                id="Dia{{day.number}}Mes{{day.monthIndex}}Ano{{day.year}}">
                {{ day.number }}
            </span>
        </div>
        <div class="inputs">
            <input type="time" class="inputHora" id="inputHora" (change)="mostrarHora()" [(ngModel)]="horaSelecionada">
            <button class="botaoSalvar" (click)="salvar()">Salvar</button>
        </div>
    </div>
</div>