@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

#containerSacola {
    display: flex;
    width: 38rem;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 50px;
}

#status {
    width: 100%;
    height: 10px;
    background-color: red;
    border-radius: 10px 10px 0 0;
    border: 0px;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

#parteEsquerda {
    width: 50%;
}

.dataTitulo {
}

#divisaoCentral {
    display: flex;
}

.dataInput {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.3rem;
    text-align: center;
}

.calendario {
    width: 10%;
}

.calendario:hover {
    cursor: pointer;
}

.dataTexto {
    width: 100%;
}

#parteDireita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#itens {    
    list-style-type: none;
    width: 80%;
    border-radius: 6px;
    border: 1px solid black;
    max-height: 3.6rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.bolaAzul {
    width: 10px;
    margin-right: 10px;
}

.item {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    text-overflow: ellipsis;
}

#botoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao {
    width: 80%;
    font-weight: bold;
    color: white;
    background-color: #0047B6;
    padding: 0.55rem;
    border-radius: 5px;
    border: 0;
}

.botao:hover {
    cursor: pointer;
}

.fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color:rgba(0, 0, 0, 0.349);
}

.containerModal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 14.5rem;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #fff;
}

.linhaAzul {
    width: 100%;
    height: 0.931rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #0047B6;
}

.iconeAlert {
    width: 4.625rem;
    margin-top: 5%;
}

.containerInfoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    margin-top: 5%;
}

.textoModal {
    font-size: 24px;
}

.containerBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.botaoCancelar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #AAAAAA;
    cursor: pointer;
}

.botaoReservar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #0047B6;
    cursor: pointer;
}

#dataRetirada {
    font-size: 20px;
}

#dataDevolucao {
    font-size: 20px;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #EEEEEE;
    border-radius: 0px 6px 6px 0px;
}

::-webkit-scrollbar-thumb{
    background-color: #d3d3d3;
    border-radius: 30px;
}