<body>
    <div class="principal">
    <h1 class="titulos">Minha Sacola</h1>
    <div class="containerItem">
        <div class="containerCheckbox">
            <input type="checkbox" id="checkbox">
        </div>
        <div class="linhaDivisao"></div>
        <img class="img" src="../../../assets/Rele.png" alt="">
        <div class="infoItem">
            <span class="nomeProduto">Nome produto</span>
            <div class="quantidade">
                <img class="iconeQtd" src="../../../assets/menos.png" alt="">
                <div class="divisaoQtd"></div>
                <span>05</span>
                <div class="divisaoQtd"></div>
                <img class="iconeQtd" src="../../../assets/mais.png" alt="">
            </div>
        </div>
        <div class="parteDireita">
            <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
            <span class="descartavel">Descartável</span>
        </div>
    </div>

    <!-- Resumo -->
    <div class="containerResumo">
        <h1 class="titulos">Resumo</h1>
        <div class="divisaoContainer"></div>
        <span>Data de Retirada</span>
        <div class="containerData">

        </div>
        <span>Data de Devolução</span>
        <div class="containerData">

        </div>
        <button class="botaoReservar">Reservar</button>
    </div>
</div>
</body>