<app-calendario *ngIf="calendarioAberto1 == 1" (salvarData)="salvarData1($event)"></app-calendario>
<app-calendario *ngIf="calendarioAberto2 == 1" (salvarData)="salvarData2($event)"></app-calendario>
<div id="containerSacola">
  <div id="container">
    <div id="divisaoCentral">
      <div id="parteEsquerda">
        <h2 class="dataTitulo">Data de retirada:</h2>
        <div class="dataInput">
          <img class="calendario" src="./assets/calendario.png" alt="Calendário" (click)="abrirCalendario1()">
          <div class="dataTexto">
            <p id="dataRetirada">{{ dataRetirada }}</p>
          </div>
        </div>
        <h2 class="dataTitulo" style="margin-top: 1rem">Data de devolução:</h2>
        <div class="dataInput">
          <img class="calendario" src="./assets/calendario.png" alt="Calendário" (click)="abrirCalendario2()">
          <div class="dataTexto">
            <p id="dataDevolucao">{{ dataDevolucao }}</p>
          </div>
        </div>
      </div>
      <div id="parteDireita">
        <ul id="itens">
          <li class="item">
            <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
            item.nome ff
          </li>
          <li class="item">
            <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
            item.nome ff
          </li>
          <li class="item">
            <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
            item.nome ff
          </li>
        </ul>
        <div id="botoes">
          <div *ngIf="atendente()" id="adicionarProfessor">
            <select name="" id="professores">
              <option *ngFor="let professor of listaProfessores" value="{{ professor.id }}">{{ professor.nome }}
              </option>
            </select>
          </div>
          <button class="botao" (click)="verDetalhes()" style="margin-bottom: 5px;">Ver Detalhes</button>
          <button class="botao" (click)="reservar()">Reservar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="contadorReservar == 1" class="fundoModal">
  <div class="containerModal">
    <div class="linhaAzul"></div>
    <img class="iconeAlert" src="../../../assets/alert.png" alt="">
    <div class="containerInfoModal">
      <span class="textoModal">Tem certeza que deseja reservar?</span>
    </div>
    <div class="containerBotoes">
      <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
      <button class="botaoReservar" (click)="finalizarReserva()">Reservar</button>
    </div>
  </div>
</div>