*{
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

p {
    font-size: var(--font-size--small);
    font-weight: 500;
    cursor: pointer;
}

p:hover {
    color: #0047B6;
}

/* <!-- ------------------------------- CONTEÚDO MINHA-SACOLA ------------------------------- -->
































/* <!-- ------------------------------- FIM CONTEÚDO MINHA-SACOLA ------------------------------- -->*/ */

.divMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.containerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    max-width: 30rem;
    min-width: 20rem;
    height: 9rem;
    border-radius: 8px;
    border: solid 1px black;
    padding: 5px;
    margin: 10px;
}

#checkbox {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
}

.divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
}

.img {
    width: 100%;
    height: 40%;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
}

.quantidade {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    height: 2rem;
    border-radius: 5px;
    border: solid 1px black;
}

.divImagemQtd1 {
    width: 30%;
    height: 80%;
    border-right: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconHome {
    cursor: pointer;
}

#iconHome:hover {
    color: #0047B6;
}

#iconMaior {
    margin-top: .25rem;
    cursor: default;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#iconeLixeira{
    font-size: var(--font-size--giant);
    font-weight: 300;
    cursor: pointer;
}

#iconeLixeira:hover{
    color: #be0101;
    animation: mudarCor 0.5s;
}

@keyframes mudarCor {
    from {
        color: #000;
    }

    to {
        color: #be0101;
    }
}

.calendario {
    cursor: pointer;
}

.calendario:hover {
    color: #0047B6;
}

#menosQtdIcon,
#maisQtdIcon {
    font-size: var(--font-size--medium);
    padding: 7% 7%;
    cursor: pointer;
}

#menosQtdIcon {
    border-right: 1px solid black;
}

#maisQtdIcon {
    border-left: 1px solid black;
}

.divImagemQtd2 {
    width: 30%;
    height: 80%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeQtd {
    width: 0.8em;
    height: 0.8rem;
    cursor: pointer;
}

.textoQtd {
    width: 40%;
    text-align: center;
}

.parteDireita {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-width: 30%;
}

.iconeLixeira {
    width: 2.3rem;
    height: 2rem;
    cursor: pointer;
    float: right;
}

.descartavel {
    font-size: var(--font-size--small);
    color: rgba(0, 0, 0, 0.6);
    text-align: end;
}

.titulos {
    font-size: var(--font-size--extreme);
    color: #0047B6;
}

.containerResumo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    border: solid 0.5px black;
    border-radius: 10px;
    background-color: white;
}

.divisaoContainer {
    width: 80%;
    height: 0.5px;
    border: solid 1px #D9D9D9;
    margin: 5%;
}

.containerData {
    width: 20rem;
    height: 13%;
    border: solid 0.5px black;
    border-radius: 5px;
}

.botaoReservar {
    width: 40%;
    height: 2.8rem;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size--medium);
    background-color: #0047B6;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.imgCalendario {
    width: 13%;
    cursor: pointer;
}

.containerData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 4%;
}

.divisaoData {
    width: 0.5px;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 3%;
}

.textoData {
    font-size: var(--font-size--big);
    margin: 5px;
    color: black;
}

#adicionarProfessor {
    width: 20rem;
    height: 8%;
    margin-top: 3%;
    margin-bottom: 2%;
    border: solid 0.5px black;
    border-radius: 5px;
}

#professores {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: inherit;
    outline: none;
}

.tituloData {
    font-size: var(--font-size--big);
}

.divProdutos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 28.125rem;
    overflow: auto;
}

.divResumo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tituloSacola {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 1px;
    margin-top: 3%;
}

#casa {
    width: 22px;
    cursor: pointer;
}

#maior {
    padding: 0 2px;
    width: 18px;
}

#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
}

.divBotoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.containerCheckbox {
    width: 20%;
    display: flex;
    justify-content: center;
}

.parteItem {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.nomeProduto {
    margin-left: 5%;
    font-size: var(--font-size--default);
    overflow: visible;
    display: inline;
}

.inputProfessor {
    padding: 5px;
    font-size: var(--font-size--default);
    margin: 5px;
}

.botaoCancelarReserva {
    background-color: #d10303d8;
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

.texto {
    display: flex;
}