<app-header></app-header>
<app-filtro></app-filtro>
<body>
    <div id="caminho">
        <img (click)="home()" id="casa" src="../../../assets/casa.png" alt="Casa">
        <img id="maior" src="../../../assets/maior-preto.png" alt="Maior">
        <p (click)="minhasSacolas()" *ngIf="usuario != 1">Minhas Sacolas</p>
        <p (click)="minhasReservas()" *ngIf="usuario == 1">Minhas Reservas</p>
        <img id="maior" src="../../../assets/maior-preto.png" alt="Maior">
        <p>Detalhes</p>
    </div>
    <div class="tituloSacola">
        <b><span class="titulos" *ngIf="usuario != 1">Minha Sacola</span></b>
        <b><span class="titulos" *ngIf="usuario == 1">Minha Reserva</span></b>
    </div>
    <div class="divMain">
        <div class="divProdutos">
            <div *ngFor="let produto of produtosSacola; let i = index;" class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox" checked>
                </div>
                <div class="parteItem">
                    <div class="divImg">
                        <img class="img" src="../../../assets/Rele.png" alt="">
                    </div>
                    <div class="infoItem">
                        <span class="nomeProduto">{{produto.nome}}</span>
                        <div class="quantidade">
                            <div class="divImagemQtd1">
                                <img (click)="qtdProduto(1, i)" class="iconeQtd" src="../../../assets/menos.png" alt="">
                            </div>
                            <p class="textoQtd">{{produto.qtd_atual}}</p>
                            <div class="divImagemQtd2">
                                <img (click)="qtdProduto(2, i)" class="iconeQtd" src="../../../assets/mais.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parteDireita">
                    <div style="width: 100%;">
                        <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
                    </div>
                    <p *ngIf="produto.descartavel" class="descartavel">Descartável</p>
                    <p *ngIf="!produto.descartavel" class="descartavel">Não Descartável</p>
                </div>
            </div>
        </div>
        <div class="divResumo">
            <div class="containerResumo">
                <b><span class="titulos">Resumo</span></b>
                <div class="divisaoContainer"></div>
                <b><span class="tituloData">Data de Retirada</span></b>
                <div class="containerData">
                    <img class="imgCalendario" src="../../../assets/calendario.png" alt="">
                    <div class="divisaoData"></div>
                    <span class="textoData">30/06/2022 - 13:30</span>
                </div>

                <b><span class="tituloData">Data de Devolução</span></b>
                <div class="containerData">
                    <img class="imgCalendario" src="../../../assets/calendario.png" alt="">
                    <div class="divisaoData"></div>
                    <span class="textoData">01/07/2022 - 15:00</span>
                </div>

                <div class="divBotoes">
                    <button class="botaoReservar" (click)="excluir()">Excluir Sacola</button>   
                    <button *ngIf="usuario != 1" (click)="reservar()" class="botaoReservar">Reservar</button>
                </div>

            </div>
        </div>
    </div>
</body>