<app-header></app-header>
<app-filtro></app-filtro>
<body>
    <div id="caminho">
        <img (click)="home()" id="casa" src="../../../assets/casa.png" alt="Casa">
        <img id="maior" src="../../../assets/maior-preto.png" alt="Maior">
        <p (click)="minhasSacolas()">Minhas Sacolas</p>
        <img id="maior" src="../../../assets/maior-preto.png" alt="Maior">
        <p>Detalhes</p>
    </div>
    <div class="tituloSacola">
        <b><span class="titulos">Minha Sacola</span></b>
    </div>
    <div class="divMain">
        <div class="divProdutos">
            <div class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox">
                </div>
                <div class="linhaDivisao"></div>
                <img class="img" src="../../../assets/Rele.png" alt="">
                <div class="infoItem">
                    <span class="nomeProduto">Nome produto</span>
                    <div class="quantidade">
                        <img class="iconeQtd" src="../../../assets/menos.png" alt="">
                        <div class="divisaoQtd"></div>
                        <span>05</span>
                        <div class="divisaoQtd"></div>
                        <img class="iconeQtd" src="../../../assets/mais.png" alt="">
                    </div>
                </div>
                <div class="parteDireita">
                    <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
                    <span class="descartavel">Descartável</span>
                </div>
            </div>
            <div class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox">
                </div>
                <div class="linhaDivisao"></div>
                <img class="img" src="../../../assets/Rele.png" alt="">
                <div class="infoItem">
                    <span class="nomeProduto">Nome produto</span>
                    <div class="quantidade">
                        <img class="iconeQtd" src="../../../assets/menos.png" alt="">
                        <div class="divisaoQtd"></div>
                        <span>05</span>
                        <div class="divisaoQtd"></div>
                        <img class="iconeQtd" src="../../../assets/mais.png" alt="">
                    </div>
                </div>
                <div class="parteDireita">
                    <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
                    <span class="descartavel">Descartável</span>
                </div>
            </div>
            <div class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox">
                </div>
                <div class="linhaDivisao"></div>
                <img class="img" src="../../../assets/Rele.png" alt="">
                <div class="infoItem">
                    <span class="nomeProduto">Nome produto</span>
                    <div class="quantidade">
                        <img class="iconeQtd" src="../../../assets/menos.png" alt="">
                        <div class="divisaoQtd"></div>
                        <span>05</span>
                        <div class="divisaoQtd"></div>
                        <img class="iconeQtd" src="../../../assets/mais.png" alt="">
                    </div>
                </div>
                <div class="parteDireita">
                    <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
                    <span class="descartavel">Descartável</span>
                </div>
            </div>
            <div class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox">
                </div>
                <div class="linhaDivisao"></div>
                <img class="img" src="../../../assets/Rele.png" alt="">
                <div class="infoItem">
                    <span class="nomeProduto">Nome produto</span>
                    <div class="quantidade">
                        <img class="iconeQtd" src="../../../assets/menos.png" alt="">
                        <div class="divisaoQtd"></div>
                        <span>05</span>
                        <div class="divisaoQtd"></div>
                        <img class="iconeQtd" src="../../../assets/mais.png" alt="">
                    </div>
                </div>
                <div class="parteDireita">
                    <img class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="">
                    <span class="descartavel">Descartável</span>
                </div>
            </div>
        </div>
        <div class="divResumo">
            <div class="containerResumo">
                <b><span class="titulos">Resumo</span></b>
                <div class="divisaoContainer"></div>
                <b><span class="tituloData">Data de Retirada</span></b>
                <div class="containerData">
                    <img class="imgCalendario" src="../../../assets/calendario.png" alt="">
                    <div class="divisaoData"></div>
                    <span class="textoData">30/06/2022 - 13:30</span>
                </div>

                <b><span class="tituloData">Data de Devolução</span></b>
                <div class="containerData">
                    <img class="imgCalendario" src="../../../assets/calendario.png" alt="">
                    <div class="divisaoData"></div>
                    <span class="textoData">01/07/2022 - 15:00</span>
                </div>
                <button *ngIf="usuario != 1" (click)="reservar()" class="botaoReservar">Reservar</button>
            </div>
        </div>
    </div>
</body>