<app-header></app-header>
<app-filtro></app-filtro>
<app-calendario *ngIf="calendarioAberto1 == 1" (salvarData)="salvarData($event, 1)" [dataSalva]="sacola.data_retirada"></app-calendario>
<app-calendario *ngIf="calendarioAberto2 == 1" (salvarData)="salvarData($event, 2)" [dataSalva]="sacola.data_devolucao"></app-calendario>
<body>
    <div id="caminho">
        <img (click)="home()" id="casa" src="../../../assets/casa.png" alt="Página Inicial">
        <img id="maior" src="../../../assets/maior-preto.png" alt="Seta para a direita">
        <p (click)="minhasSacolas()" *ngIf="usuario != 1">Minhas Sacolas</p>
        <p (click)="minhasReservas()" *ngIf="usuario == 1">Minhas Reservas</p>
        <img id="maior" src="../../../assets/maior-preto.png" alt="Seta para a direita">
        <p>Detalhes</p>
    </div>
    <div class="tituloSacola">
        <b><span class="titulos" *ngIf="usuario != 1">Minha Sacola</span></b>
        <b><span class="titulos" *ngIf="usuario == 1">Minha Reserva</span></b>
    </div>
    <div class="divMain">
        <div class="divProdutos">
            <div *ngFor="let produto of produtosSacola; let i = index;" class="containerItem">
                <div class="containerCheckbox">
                    <input type="checkbox" id="checkbox" checked>
                </div>
                <div class="parteItem">
                    <div class="divImg">
                        <img class="img" src="../../../assets/Rele.png" alt="Imagem do Produto">
                    </div>
                    <div class="infoItem">
                        <span class="nomeProduto">{{produto.nome}}</span>
                        <div class="quantidade">
                            <div class="divImagemQtd1">
                                <img *ngIf="usuario != 1" (click)="qtdProduto(1, i)" class="iconeQtd" src="../../../assets/menos.png" alt="Diminuir Quantidade">
                            </div>
                            <p class="textoQtd">{{produto.qtd_atual}}</p>
                            <div class="divImagemQtd2">
                                <img *ngIf="usuario != 1" (click)="qtdProduto(2, i)" class="iconeQtd" src="../../../assets/mais.png" alt="Aumentar Quantidade">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parteDireita">
                    <div style="width: 100%;">
                        <img *ngIf="usuario != 1" class="iconeLixeira" src="../../../assets/lixeira-de-reciclagem.png" alt="Excluir Produto">
                    </div>
                    <p *ngIf="produto.descartavel" class="descartavel">Descartável</p>
                    <p *ngIf="!produto.descartavel" class="descartavel">Não Descartável</p>
                </div>
            </div>
        </div>
        <div class="divResumo">
            <div class="containerResumo">
                <b><span class="titulos">Resumo</span></b>
                <div class="divisaoContainer"></div>
                <div class="texto">
                    <b><span class="tituloData">Data de Retirada</span></b>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerData">
                    <img (click)="abrirCalendario(1)" class="imgCalendario" src="../../../assets/calendario.png" alt="Editar data de retirada">
                    <div class="divisaoData"></div>
                    <span class="textoData">{{formatarData(sacola.data_retirada)}}</span>
                </div>

                <div class="texto">
                    <b><span class="tituloData">Data de Devolução</span></b>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerData">
                    <img (click)="abrirCalendario(2)" class="imgCalendario" src="../../../assets/calendario.png" alt="Editar data de devolução">
                    <div class="divisaoData"></div>
                    <span class="textoData">{{formatarData(sacola.data_devolucao)}}</span>
                </div>
                <input *ngIf="usuario != 1 && (tipoUsuario == 2 || tipoUsuario == 3 || tipoUsuario == 4)" class="inputProfessor" [(ngModel)]="professorReserva" placeholder="Professor">
                <div class="divBotoes">
                    <button *ngIf="usuario == 1" class="botaoReservar botaoCancelarReserva" (click)="cancelarReserva()">Cancelar Reserva</button>   
                    <button *ngIf="usuario != 1" class="botaoReservar" (click)="excluir()">Excluir Sacola</button>   
                    <button *ngIf="usuario != 1" (click)="reservar()" class="botaoReservar">Reservar</button>
                </div>

            </div>
        </div>
    </div>
</body>