<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<!-- ------------------------------------- COMPONENTE DA RESERVA ------------------------------------- -->
<div id="containerSacola">
    <hr id="status">
    <div id="container">
        <h3 class="dataTitulo">Data de retirada:</h3>
        <div id="divisaoCentral">
            <div id="parteEsquerda">
                <div class="dataInput">
                    <span class="material-symbols-outlined iconDeselect calendario" alt="Calendário">
                        calendar_month
                    </span>
                    <div class="dataTexto">
                        <p id="dataRetirada">{{ formatarData(reserva.data_retirada) }}</p>
                    </div>
                </div>
                <h3 class="dataTitulo">Data de devolução:</h3>
                <div class="dataInput">
                    <span class="material-symbols-outlined iconDeselect calendario" alt="Calendário">
                        calendar_month
                    </span>
                    <div class="dataTexto">
                        <p id="dataDevolucao">{{ formatarData(reserva.data_devolucao) }}</p>
                    </div>
                </div>
            </div>
            <div id="parteDireita">
                <ul id="itens">
                    <li class="item" *ngFor="let item of listaItens">
                        <img class="bolaAzul" src="./assets/circulo-azul.png" alt="circulo-azul">
                        {{ item.nome }}
                    </li>
                </ul>
                <button id="verDetalhes" (click)="verDetalhes()">Ver Detalhes</button>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------- FIM COMPONENTE DA RESERVA ------------------------------------- -->