* {
    font-family: 'Inter', sans-serif;
}

label {
    margin-left: 5px;
    width: 32px;
    height: 32px;
    background-image: url(../../../assets/pasta.png);
    cursor: pointer;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconEstrelaPreenchida {
    color: #0047B6;
    font-size: 30px;
}

.iconeEstrela {
    font-size: 30px;
    font-weight: 300;
    border-radius: 50%;
    transition: all 0.5s;
    padding: 5px;
    cursor: pointer;
}

.iconeEstrela {
    color: #0047B6;
}

.iconeEstrela:hover {
    transition: all 0.5s;
    background-color: rgb(190, 190, 190);
}