<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<app-header></app-header>
<app-filtro></app-filtro>

<div id="conteudoGeralAjuda">
  <div id="caminho">
    <div id="iconHome">
      <span
        title="Tela inicial"
        id="iconHome"
        class="material-symbols-outlined iconDeselect"
        alt="Casa"
        (click)="home()"
      >
        home
      </span>
    </div>
    <div id="iconMaior">
      <span
        class="material-symbols-outlined iconDeselect iconMaior"
        alt="Maior"
      >
        arrow_forward_ios
      </span>
    </div>
    <p id="caminhoMinhasSacolas">Ajuda</p>
  </div>
  <div>
    <b><span id="tituloPaginaAjuda">Ajuda</span></b>
    <div class="centralizarConteudo">
      <hr style="width: 80%; border: 1px solid black" />
      <div id="conteudoAjuda">
        <div id="containerPerguntasFrequentes">
          <div id="tituloPerguntasFrequentes">
            <p>Perguntas Frequentes</p>
          </div>
          <div id="perguntasFrequentes">
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(1)" id="header1">
                <p>Reserva</p>
                <span class="material-symbols-outlined" id="expandir1"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card1">
                <blockquote class="blockquote mb-0" id="conteudo1">
                  <li>Como reservar um item</li>
                  <li>Como reservar mais de um item</li>
                  <li>Reserva não foi entregue (pelo atendente)</li>
                  <li>Como Aumentar a quantidade de um item reservado</li>
                  <li>Como trocar a data de uma reserva</li>
                </blockquote>
              </div>
            </div>
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(2)" id="header2">
                <p>Filtro</p>
                <span class="material-symbols-outlined" id="expandir2"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card2">
                <blockquote class="blockquote mb-0" id="conteudo2">
                  <li>Como o filtro funciona</li>
                </blockquote>
              </div>
            </div>
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(3)" id="header3">
                <p>Sacola</p>
                <span class="material-symbols-outlined" id="expandir3"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card3">
                <blockquote class="blockquote mb-0" id="conteudo3">
                  <li>Quantos itens podem ter em uma sacola</li>
                </blockquote>
              </div>
            </div>
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(1)">
                <p>Reserva</p>
                <span class="material-symbols-outlined"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card1">
                <blockquote class="blockquote mb-0">
                  <li>Como reservar um item</li>
                  <li>Como reservar mais de um item</li>
                  <li>Reserva não foi entregue (pelo atendente)</li>
                  <li>Como Aumentar a quantidade de um item reservado</li>
                  <li>Como trocar a data de uma reserva</li>
                </blockquote>
              </div>
            </div>
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(2)">
                <p>Filtro</p>
                <span class="material-symbols-outlined"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card2">
                <blockquote class="blockquote mb-0">
                  <li>Como o filtro funciona</li>
                </blockquote>
              </div>
            </div>
            <div class="containerCard">
              <div class="headerCard" (click)="fecharCard(3)">
                <p>Sacola</p>
                <span class="material-symbols-outlined"> expand_more </span>
              </div>
              <div class="conteudoCard" id="card3">
                <blockquote class="blockquote mb-0">
                  <li>Quantos itens podem ter em uma sacola</li>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
