<div id="containerGeralAjuda">
    <div id="conteudoGeralAjuda">
        <div id="caminhosAjuda">
            <div id="iconHome">
                <span class="material-symbols-outlined">
                    home
                </span>
            </div>
            <div id="iconMaior">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
            <div id="textoAjuda">
                Ajuda
            </div>
        </div>
        <div>
            <div id="tituloPaginaAjuda">
                <h1>Ajuda</h1>
            </div>
            <div class="centralizarConteudo">
                <div id="risco"></div>
                <div id="conteudoAjuda">
                    <div id="containerPerguntasFrequentes">
                        <div id="tituloPerguntasFrequentes">
                            <h1>Perguntas Frequentes</h1>
                        </div>
                        <div id="perguntasFrequentes">
                            <div id="grupoPergunta">
                                <div id="pergunta">
                                    <h2>Como cadastrar um produto?</h2>
                                </div>
                                <div id="resposta">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the <br />
                                        printing and typesetting industry. Lorem <br />
                                        Ipsum has been the industry's standard dummy <br />
                                        text ever since the 1500s, when an unknown <br />
                                        printer took a galley of type and scrambled <br />
                                        it to make a type specimen book. It has survived <br />
                                        not only five centuries, but also the leap into <br />
                                        electronic typesetting, remaining essentially <br />
                                        unchanged. It was popularised in the 1960s with <br />
                                        the release of Letraset sheets containing Lorem <br />
                                        Ipsum passages, and more recently with desktop <br />
                                        publishing software like Aldus PageMaker including <br />
                                        versions of Lorem Ipsum.<br />
                                    </p>
                                </div>
                            </div>
                            <div id="grupoPergunta">
                                <div id="pergunta">
                                    <h2>Como cadastrar um produto?</h2>
                                </div>
                                <div id="resposta">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the <br />
                                        printing and typesetting industry. Lorem <br />
                                        Ipsum has been the industry's standard dummy <br />
                                        text ever since the 1500s, when an unknown <br />
                                        printer took a galley of type and scrambled <br />
                                        it to make a type specimen book. It has survived <br />
                                        not only five centuries, but also the leap into <br />
                                        electronic typesetting, remaining essentially <br />
                                        unchanged. It was popularised in the 1960s with <br />
                                        the release of Letraset sheets containing Lorem <br />
                                        Ipsum passages, and more recently with desktop <br />
                                        publishing software like Aldus PageMaker including <br />
                                        versions of Lorem Ipsum.<br />
                                    </p>
                                </div>
                            </div>
                            <div id="grupoPergunta">
                                <div id="pergunta">
                                    <h2>Como cadastrar um produto?</h2>
                                </div>
                                <div id="resposta">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the <br />
                                        printing and typesetting industry. Lorem <br />
                                        Ipsum has been the industry's standard dummy <br />
                                        text ever since the 1500s, when an unknown <br />
                                        printer took a galley of type and scrambled <br />
                                        it to make a type specimen book. It has survived <br />
                                        not only five centuries, but also the leap into <br />
                                        electronic typesetting, remaining essentially <br />
                                        unchanged. It was popularised in the 1960s with <br />
                                        the release of Letraset sheets containing Lorem <br />
                                        Ipsum passages, and more recently with desktop <br />
                                        publishing software like Aldus PageMaker including <br />
                                        versions of Lorem Ipsum.<br />
                                    </p>
                                </div>
                            </div>
                            <div id="grupoPergunta">
                                <div id="pergunta">
                                    <h2>Como cadastrar um produto?</h2>
                                </div>
                                <div id="resposta">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the <br />
                                        printing and typesetting industry. Lorem <br />
                                        Ipsum has been the industry's standard dummy <br />
                                        text ever since the 1500s, when an unknown <br />
                                        printer took a galley of type and scrambled <br />
                                        it to make a type specimen book. It has survived <br />
                                        not only five centuries, but also the leap into <br />
                                        electronic typesetting, remaining essentially <br />
                                        unchanged. It was popularised in the 1960s with <br />
                                        the release of Letraset sheets containing Lorem <br />
                                        Ipsum passages, and more recently with desktop <br />
                                        publishing software like Aldus PageMaker including <br />
                                        versions of Lorem Ipsum.<br />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>