*{
    font-family: 'Inter',sans-serif;
}

p {
    font-size: var(--font-size--small);
    margin-bottom: 0;
}

li {
    font-size: var(--font-size--default);
    margin-bottom: 5px;
    color: #0047B6;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}

#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
    height: 30px;
}

#iconHome {
    font-size:24px;
    cursor: pointer;
    font-weight: 250;
}

#iconHome:hover {
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconMaior .iconMaior {
    font-size: 16px;
}

#iconMaior{
    cursor: default;
}

#caminho p {
    margin-bottom: 0.3rem;
}

#caminhoMinhasSacolas {
    font-size: var(--font-size--small);
    font-weight: 500;
    cursor: default;
}


#containerGeralAjuda {
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudoGeralAjuda {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tituloPaginaAjuda {
    font-size: var(--font-size--extreme);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0047B6;
    cursor: default;
}

#tituloPerguntasFrequentes p{
    font-size: var(--font-size--extreme);
    color: #0047B6;
    cursor: default;
}

#perguntasFrequentes {
    margin: 25px 0;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(29rem, 1fr));
    grid-gap: 0 1.5rem;
}

#grupoPergunta {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 8px;
    padding: 0 3% 3% 3%;
}

#grupoPergunta:hover {
    border: 1px solid #0046b649;
    background-color: rgba(0, 0, 0, 0.021);
}

.centralizarConteudo {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudoAjuda {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
}

#duasColunas {
    display: flex;
}

.pergunta p{
    font-size: var(--font-size--giant);
    font-weight: 500;
    color: rgba(0, 0, 0, 0.541);
    cursor: default;
}

.resposta p {
    font-size: var(--font-size--default);
    text-align: justify;
    cursor: default;
}

.containerCard {
    margin: 1rem 0rem;
}

.headerCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border: 1px solid rgba(196, 196, 196, 0.933);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.headerCard:hover {
    background-color: rgba(238, 238, 238, 0.952);
}

.headerCard p {
    font-size: var(--font-size--big);
}

.conteudoCard {
    border: 1px solid rgba(196, 196, 196, 0.933);
    border-radius: 0 0 5px 5px;
    padding: 2px;
    height: 0px;
}

#conteudo1, #conteudo2, #conteudo3 {
    display: none;
}

@keyframes descer {
    from {
        height: 0;
    }
  
    to {
        height: 180px;
    }
  }

  @keyframes subir {
    from {
        height: 180px;
    }
    to {
        height: 0;
    }
  }