<!-- Feedback filtros salvos -->
<app-modal-feedback *ngIf="feedbackFiltrosSalvos" [tipoFeedback]="19" (fecharModal)="mudarModalFeedback()">
</app-modal-feedback>

<!-- Modal gerenciar Filtros -->
<app-gerenciar-filtros [listaFiltros]="listaClassificacoes" (fecharModal)="fecharModalFiltros($event)"
  *ngIf="modalGerenciarFiltros">
</app-gerenciar-filtros>

<!-- -------------------------------FILTRO EM SI-------------------------------------------- -->
<input type="checkbox" id="check" checked />
<div id="espacamento" class="parteFiltro"></div>
<div class="sidebar parteFiltro">
  <div class="containerTopo parteFiltro">
    <div class="filtro parteFiltro">
      <div class="textoFiltro parteFiltro">
        <span class="parteFiltro">Filtros</span>
      </div>
      <label class="parteFiltro" for="check">
        <div class="ContainerIconMaior">
          <span title="Filtro" class="material-symbols-outlined iconDeselect" id="iconMaior">
            filter_alt
          </span>
          <!-- <span class="material-symbols-outlined">
              filter_alt_off
              </span> -->
        </div>
      </label>
    </div>
    <div id="containerConteudoFiltro" class="parteFiltro">
      <div class="itensFiltro tipoFiltro parteFiltro">
        <div id="containerDescartavel" class="parteFiltro">
          <input class="checkbox parteFiltro" type="checkbox" id="checkDescartavel" />
          <div class="parteFiltroInputText" (click)="checkDescartavel()">
            <span class="texto parteFiltro">Descartáveis</span>
          </div>
        </div>
        <div id="containerNaoDescartavel" class="parteFiltro">
          <input class="checkbox parteFiltro" type="checkbox" id="checkNaoDescartavel" />
          <div class="parteFiltroInputText" (click)="checkNaoDescartavel()">
            <span class="texto parteFiltro">Não Descartáveis</span>
          </div>
        </div>
        <div id="containerSemEstoque" class="parteFiltro">
          <input class="checkbox parteFiltro" type="checkbox" id="checkSemEstoque" />
          <div class="parteFiltro parteFiltroInputText" (click)="checkSemEstoque()">
            <span class="texto parteFiltro">Sem estoque</span>
          </div>
        </div>
        <div id="containerComEstoque" class="parteFiltro">
          <input class="checkbox parteFiltro" type="checkbox" id="checkComEstoque" />
          <div class="parteFiltro parteFiltroInputText" (click)="checkComEstoque()">
            <span class="texto parteFiltro">Com estoque</span>
          </div>
        </div>
        <div id="containerFavoritos" class="parteFiltro">
          <input class="checkbox parteFiltro" type="checkbox" id="checkFavoritos" />
          <div class="parteFiltro parteFiltroInputText" (click)="checkFavoritos()">
            <span class="texto parteFiltro">Favoritos</span>
          </div>
        </div>
      </div>
      <div id="separacaoFiltroClassificacao" class="parteFiltro">
        <div id="riscoSeparar" class="parteFiltro">
          <hr id="riscoGrande" class="parteFiltro" />
          <hr id="riscoGrande" class="parteFiltro" />
        </div>
        <div id="textoClassificacoes" class="parteFiltro">↓ Classificações ↓</div>
        <div id="riscoSeparar" class="parteFiltro">
          <hr id="riscoGrande" class="parteFiltro" />
        </div>
      </div>
      <div class="itensFiltro tipoClassificacao parteFiltro">
        <a *ngFor="let item of listaClassificacoes" (click)="filtrar(item)">
          <span>{{ item.classificacao }}</span>
        </a>
        <div id="espacoEscondido"></div>
      </div>
    </div>
  </div>
  <div *ngIf="usuario == 1" (click)="navegar('/professor/reservas')" class="reservas">
    <div class="textoReservas">
      <span>Minhas reservas</span>
    </div>
    <div class="gerenciarReservas">
      <span title="Minhas Reservas" id="iconsUser" id="arquivo" class="material-symbols-outlined iconDeselect">
        pending_actions
      </span>
    </div>
  </div>
  <div *ngIf="usuario == 3 || usuario == 4" (click)="abrirModalFiltro()" class="reservas">
    <div class="textoReservas2">
      <span>Gerenciar</span>
    </div>
    <div class="ContainerIconGerenciar">
      <span title="Gerenciar filtros" class="material-symbols-outlined iconDeselect" id="gerenciarIcon">
        tune
      </span>
    </div>
  </div>
</div>

<!-- -------------------------------FIM FILTRO EM SI-------------------------------------------- -->