/* ---------------------- CSS PADRÃO GERAL ---------------------- */

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: var(--font-size--big);
    font-weight: 600;
    line-height: 36px;
}

a span {
    display: flex;
    padding: 0 0 0 1rem;
    font-size: var(--font-size--small);
}

a {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #EEEEEE;
}
::-webkit-scrollbar {
    width: 6px;
    background: #EEEEEE;
}
::-webkit-scrollbar-thumb {
    transition: all .5s ease;
    background: #dad7d7;
}

::-webkit-scrollbar-thumb:hover {
    transition: all .5s ease;
    background: #cac7c7;
}

::-webkit-scrollbar-thumb:active {
    background: #bbb8b8;
}

/* ------------------------- FIM CSS PADRAO GERAL ------------------------- */

#fundoModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
    animation: fadein 0.5s;
}

/* <!-- -------- Modal FeddBack Salvo com sucesso ----------- --> */

#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom: 0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconeFechar {
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 30px;
    cursor: pointer;
}

#imgCerto {
    font-size: var(--font-size--extreme);
    padding-bottom: 5px;
    color: #0047B6;
}

#spanTexto {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
    background-color: #AEAEAE;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

@keyframes animacao {
    from {
        width: 0%;
    }
    to {
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

/* ----------------------FIM MODAL FEEDBACK SALVO------------------------------ */


/*-- -------------------------------FILTRO EM SI-------------------------------------------- */
#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span, #check:checked~.sidebar #containerConteudoFiltro, #check:checked~.sidebar #riscoSeparar {
    display: none;
}

#check:checked~.sidebar a {
    margin-left: 85px;
    width: 80px;
    height: 60px;
    padding-left: 22px;
}

#check {
    display: none;
}

#espacamento {
    height: 85px;
    width: 100%;
}

.sidebar {
    z-index: 1;
    margin-top: -85px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #EEEEEE;
    transition: 0.5s;
    transition-property: left;
}

.sidebar a:hover {
    background: #a5a5a5;
}

.sidebar .reservas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0047B6;
    color: #FFFFFF;
    cursor: pointer;
}

.sidebar .reservas:hover {
    background: #003c9c;
}

.sidebar .filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0047B6;
    cursor: default;
    color: #FFFFFF;
}

.filtro,
.reservas {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.containerTopo {
    height: 90%;
}

.textoFiltro,
.textoReservas {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
}

.textoFiltro,
.textoReservas2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: var(--font-size--small);
}

.ContainerIconMaior:hover {
    background: #003c9c;
    cursor: pointer;
}

.ContainerIconMaior {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconMaior {
    cursor: pointer;
    font-size: 32px;
}


.itensFiltro .tipoClassificacao,.itensFiltro .tipoFiltro {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 91%;
    overflow: auto;
}

#containerConteudoFiltro {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#containerDescartavel, #containerNaoDescartavel, #containerSemEstoque, #containerComEstoque, #containerFavoritos {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 60px;
    transition: 0.5s;
    transition-property: background;
    cursor: pointer;
}

#containerDescartavel:hover, #containerNaoDescartavel:hover, #containerSemEstoque:hover, #containerComEstoque:hover, #containerFavoritos:hover {
    background: #a5a5a5;
}

#espacoEscondido {
    height: 60px;
    transition: 0.5s;
}

.parteFiltroInputText {
    width: 100%;
    height: 100%;
}

.checkbox {
    margin: 10px 0px 10px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.texto {
    font-size: var(--font-size--small);
    padding: 0 0 0 10px;
}

.iconsSideBar {
    font-size: 30px;
}

#riscoSeparar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

#textoClassificacoes {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a5a5a5;
    font-size: var(--font-size--small);
    font-weight: 600;
    margin-top: 5%;
}

.gerenciarReservas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#gerenciarIcon {
    font-size: 35px;
    padding-right: 12px;
}

.ContainerIconGerenciar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#iconsUser {
    font-size: 100px;
    font-weight: 400;
}

/* -------------------------------FIM FILTRO EM SI-------------------------------------------- */