* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
}

#caminhoReservas {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

#caminhoReservas:hover {
    color: #0047B6;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
}

#casa{
    width: 22px;
    cursor: pointer;
}

#maior {
    padding: 0 2px;
    width: 18px;
}

#containerConteudo {
    margin-top: 2rem;
    width: 80%;
}

#containerInput {
    width: 80%;
    margin-bottom: 1.2rem;
}

#divInput {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 23rem;
    height: 2.4rem;
}

#input {
    padding-left: 0.5rem;
    outline: none;
    border: 0;
    width: 100%;
}

#lupa {
    opacity: 0.7;
}

#lupa:hover {
    cursor: pointer;
}

#resultados {
    font-size: 14px;
    margin-top: 0.3rem;
    opacity: 0.7;
}

#reservasPendentes {
    background-color: #0047B6;
    color: #fff;
}

#reservasPendentes:hover {
    cursor: pointer;
}

#historicoReservas {
    background-color: #fff;
}

#historicoReservas:hover {
    cursor: pointer;
}

#reservasPendentes, #historicoReservas {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    border-radius: 5px 5px 0 0;
}

#reservasPendentes:hover {
    background-color: #003180;
}

#historicoReservas:hover {
    background-color: rgb(212, 212, 212);
}

#risco {
    margin-top: 0.5rem;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

#containerReservas {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* justify-content: center; */
}

.reserva {
    /* margin-top: 30px; */
}