<app-header></app-header>
<app-filtro></app-filtro>
<main>
    <!-- ------------------------------- CAMINHO DO SITE (O PATH) ------------------------------ -->
    <div id="caminho">
        <img id="casa" src="../../../assets/casa.png" alt="Página Inicial" (click)="home()">
        <img id="maior" src="../../../assets/maior-preto.png" alt="Seta para a direita">
        <p id="caminhoReservas">Minhas Reservas</p>
    </div>
    <!-- ------------------------------- FIM CAMINHO DO SITE (O PATH) ------------------------------ -->

    <!-- ------------------------- CONTEUDO GERAL DA PÁGINA -------------------------------->
    <div id="container">
        <div id="containerConteudo">
            <div id="containerInput">
                <div id="divInput">
                    <input id="input" type="text" placeholder="Pesquise por produto...">
                    <img id="lupa" src="../../../assets/lupa.png" alt="Fazer Pesquisa">
                </div>
                <p id="resultados">{{ numResultados }} Resultados encontrados</p>
            </div>
            <div id="botoes">
                <button (click)="botaoReservas()" class="reservasPendentes">Reservas pendentes</button>
                <button (click)="botaoHistorico()" class="historicoReservas">Histórico de reservas</button>
                <div class="divLegenda">
                    <div class="legenda">
                        <div class="bola" style="background-color: red;"></div>
                        <span class="labelLegenda">Devolução Atrasada</span>
                    </div>
                    <div class="legenda">
                        <div class="bola" style="background-color: #D47606"></div>
                        <span class="labelLegenda">Esperando Devolução</span>
                    </div>
                    <div class="legenda">
                        <div class="bola" style="background-color: green;"></div>
                        <span class="labelLegenda">Esperando Retirada</span>
                    </div>
                </div>
            </div>
            <div id="risco"></div>
            <div *ngIf="reservasPendentes == 1" id="containerReservas">
                <app-reserva *ngFor="let reserva of listaReservas" class="reserva" [reserva]="reserva"></app-reserva>
            </div>
            <div *ngIf="reservasHistorico == 1" id="containerReservas">
                <app-reserva *ngFor="let reserva of listaReservas2" class="reserva" [reserva]="reserva"></app-reserva>                 
            </div>
        </div>
    </div>
    <!-- ------------------------- FIM CONTEUDO GERAL DA PÁGINA -------------------------------->
</main>