<div *ngIf="aparecer == 1" id="fundoModalLocalizacao">
    <div id="containerModalLocalizacao">
        <div id="riscoAzul"></div>
        <div id="containerIcons">
            <img id="iconFechar" (click)="fecharModal()" src="../../../assets/close.png" alt="fechar">
        </div>
        <div id="dados">
            <div id="containerNome">
                <p>
                    Nome:
                </p>
                <input id="inputNome" type="text" placeholder="Nome">
            </div>
            <div id="containerClassificacao">
                <p style="margin-top: 15px">
                    Classificação:
                </p>
                <div id="containerCheckbox">
                <div>
                    <input type="radio" id="paredeCentro" name="drone" value="paredeCentro">
                    <label for="paredeCentro">Parede/Centro</label>
                </div>
                <div>
                    <input type="radio" id="armario" name="drone" value="armario">
                    <label for="armario">Armário</label>
                </div>
                <div>
                    <input type="radio" id="porta" name="drone" value="porta">
                    <label for="porta">Porta</label>
                </div>    
                </div>
            </div>
            <div id="containerCadastrar">
                <button id="botaoCadastrar" (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<app-header></app-header>
<app-filtro></app-filtro>

<div id="container">
    <div id="containerConteudo">
        <div id="containerInput">
            <div id="containerLinhaInput">
                <div id="divInput">
                    <input id="input" type="text" placeholder="Pesquise por produto...">
                    <img id="lupa" src="../../../assets/lupa.png" alt="Lupa">
                </div>
                <button *ngIf="localizacao == 1" id="botaoCadastrarLocalizacoes" (click)="aparecerModal()">Cadastrar localizações</button>
            </div>
            <p id="resultados">{{ numResultados }} Resultados encontrados</p>
        </div>
        <div id="botoes">
            <button id="baixaDevolucoes" class="semAzul" (click)="telaBaixaDevolucoes()">Baixa nas devoluções</button>
            <button id="confirmarRetirada" class="semAzul" (click)="telaConfirmarRetirada()">Confirmar retirada</button>
            <button id="listaItens" class="semAzul" (click)="telaListaItens()">Lista de itens</button>
            <button id="localizacoes" class="semAzul" (click)="telaLocalizacoes()">Localizações</button>
        </div>
        <div id="risco"></div>

        <div *ngIf="baixaDevolucoes == 1" id="conteudoBaixaDevolucoes">
            <div id="containerDevolucoes">
                <app-reserva-atendente></app-reserva-atendente>
            </div>
        </div>

        <div *ngIf="confirmarRetirada == 1" id="conteudoConfirmarRetirada">
            <div id="containerRetiradas">
                <app-reserva-atendente></app-reserva-atendente>
            </div>
        </div>

        <div *ngIf="listaItens == 1" id="conteudoListaItens">
            <div id="containerItens">
                <app-item></app-item>
            </div>
            <!-- <div *ngFor="let item of listaItens" id="containerItens">
                <app-item></app-item>
            </div> -->
        </div>

        <div *ngIf="localizacao == 1" id="conteudoLocalizacoes">
            <select id="selecionarLocalizacao">
                <option value="paredeCentro">Parede / Centro</option>
                <option value="armario" selected>Armário</option>
                <option value="porta">Porta</option>
            </select>
            <div id="containerLocalizacoes">
                <div id="divLocalizacao">
                    <p>
                        {{localizacaoNome}}
                        P1
                    </p>
                    <img class="lixo" src="../../../assets/lixeira-de-reciclagem.png" alt="lixo">
                </div>
                <!-- <div *ngFor="let localizacao of listaLocalizacoes" id="divLocalizacao">
                <p>
                    {{localizacaoNome}}
                    P1
                </p>
                <img class="lixo" src="../../../assets/lixeira-de-reciclagem.png" alt="lixo">
            </div> -->
            </div>
        </div>
    </div>
</div>