<div *ngIf="aparecer" id="fundoModalLocalizacao">
    <!-- Baixa nas devoluções -->
    <div *ngIf="devolucaoModal" id="baixaDevolucoesModal">
        <hr class="riscoAzul">
        <div id="containerDevolucaoModal">
            <div class="containerFechar">
                <img class="fecharIcone" (click)="fecharModalBaixaDevolucao()" src="../../../assets/close.png"
                    alt="fechar">
            </div>
            <ul id="listaItemsBaixaDevolucao">
                <li>
                    <!-- *ngFor="let item of listaItemsBaixaDevolucao" -->
                    <div class="containerConteudoBaixaDevolucao">
                        <div class="containerImgBaixaDevolucao">
                            <img class="imgItemBaixaDevolucao" src="../../../assets/Rele.png" alt="Relé térmico">
                        </div>
                        <div class="parteDireitaItemBaixaDevolucao">
                            <h2 class="nomeItemBaixaDevolucao">Nome Produto</h2>
                            <div class="containerInfoItemBaixaDevolucao">
                                <!-- {{ item.posicao }} -->
                                <p>posicao</p>
                                <!-- {{ item.qtd }} -->
                                <p>qtd</p>
                                <button class="btnDevolucaoModal">Informar Defeito</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <button (click)="darBaixaDevolucao()" class="btnDevolucaoModal darBaixa">Dar baixa</button>
        </div>
    </div>

    <!-- Localização -->
    <div *ngIf="localizacaoModal" id="containerModalLocalizacao">
        <hr class="riscoAzul">
        <div id="containerIcons">
            <img id="iconFechar" (click)="fecharModalLocalizacao()" src="../../../assets/close.png" alt="fechar">
        </div>
        <div id="dados">
            <div id="containerNome">
                <p>
                    Nome:
                </p>
                <input id="inputNome" type="text" placeholder="Nome">
            </div>
            <div id="containerClassificacao">
                <p style="margin-top: 15px">
                    Classificação:
                </p>
                <div id="containerCheckbox">
                    <div>
                        <input type="radio" id="paredeCentro" name="drone" value="paredeCentro">
                        <label for="paredeCentro">Parede/Centro</label>
                    </div>
                    <div>
                        <input type="radio" id="armario" name="drone" value="armario">
                        <label for="armario">Armário</label>
                    </div>
                    <div>
                        <input type="radio" id="porta" name="drone" value="porta">
                        <label for="porta">Porta</label>
                    </div>
                </div>
            </div>
            <div id="containerCadastrar">
                <button id="botaoCadastrar" (click)="cadastrar()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="">

</div>

<app-header></app-header>
<app-filtro></app-filtro>

<div id="container">
    <div id="containerConteudo">
        <div id="containerInput">
            <div id="containerLinhaInput">
                <div id="divInput">
                    <input id="input" type="text" placeholder="Pesquise por produto...">
                    <img id="lupa" src="../../../assets/lupa.png" alt="Lupa">
                </div>
                <button *ngIf="localizacao == 1" id="botaoCadastrarLocalizacoes"
                    (click)="aparecerModalLocalizacao()">Cadastrar localizações</button>
            </div>
            <p id="resultados">{{ numResultados }} Resultados encontrados</p>
        </div>
        <div id="botoes">
            <button id="baixaDevolucoes" class="semAzul" (click)="telaBaixaDevolucoes()">Baixa nas devoluções</button>
            <button id="confirmarRetirada" class="semAzul" (click)="telaConfirmarRetirada()">Confirmar retirada</button>
            <button id="listaItens" class="semAzul" (click)="telaListaItens()">Lista de itens</button>
            <button id="localizacoes" class="semAzul" (click)="telaLocalizacoes()">Localizações</button>
        </div>
        <div id="risco"></div>

        <div *ngIf="baixaDevolucoes == 1" id="conteudoBaixaDevolucoes">
            <div id="containerDevolucoes">
                <app-reserva-atendente (click)="abrirDevolucao()"></app-reserva-atendente>
            </div>
        </div>

        <div *ngIf="confirmarRetirada == 1" id="conteudoConfirmarRetirada">
            <div id="containerRetiradas">
                <!-- *ngFor="let reserva of listaReservas" -->
                <app-reserva-atendente (click)="abrirReserva()"></app-reserva-atendente>
            </div>
        </div>

        <div *ngIf="listaItens == 1" id="conteudoListaItens">
            <div id="containerItens">
                <app-item></app-item>
            </div>
            <!-- <div *ngFor="let item of listaItens" id="containerItens">
                <app-item></app-item>
            </div> -->
        </div>

        <div *ngIf="localizacao == 1" id="conteudoLocalizacoes">
            <select id="selecionarLocalizacao">
                <option value="paredeCentro">Parede / Centro</option>
                <option value="armario" selected>Armário</option>
                <option value="porta">Porta</option>
            </select>
            <div id="containerLocalizacoes">
                <div id="divLocalizacao">
                    <p>
                        {{localizacaoNome}}
                        P1
                    </p>
                    <img class="lixo" src="../../../assets/lixeira-de-reciclagem.png" alt="lixo">
                </div>
                <!-- <div *ngFor="let localizacao of listaLocalizacoes" id="divLocalizacao">
                <p>
                    {{localizacaoNome}}
                    P1
                </p>
                <img class="lixo" src="../../../assets/lixeira-de-reciclagem.png" alt="lixo">
            </div> -->
            </div>
        </div>
    </div>
</div>