<!-- (click)="close()" -->

<!-- Alerta de dados faltantes no cadastro de localização -->
<app-alerta-feito *ngIf="feedbackDados" (fecharModal)="fecharModalAlerta($event)" [tipoMensagemModal]="7"></app-alerta-feito>

<div id="modalItem" class="shadow-sm rounded">
    <div class="containerModal">
        <!-- fechar -->
        <div id="fecharModal" >
            <span title="Fechar" (click)="close('fechar')" class="material-symbols-outlined iconDeselect icone">
                close
            </span>
        </div>
        <!-- conteudo -->
        <div id="conteudo">
            <h2 class="title tamanhoTextos">Nova localização</h2>
            <div class="form-floating div-float-label divInputLogin">
                <input name="localizacao" [(ngModel)]="localizacao" type="text"
                    class="form-control input-float-label inputsLogin" placeholder="Localização">
                <label class="label-float-label tamanhoTextos">Localização</label>
            </div>
            <div id="localizacaoPai">
                <h2 class="title tamanhoTextos">Localização pai</h2>
                <div style="display: flex; align-items: center;">
                    <span style="margin-right: 20px" class="tamanhoTextos">Localização: </span>
                    <div class="containerLocalizacao">
                        <select style="margin-right: 10px;" *ngFor="let l of listaLocalizacoes; let i = index;"
                            id="localizacaoProduto1" class="localizacaoProduto" (change)="mudarLocalizacoes(i)"
                            [(ngModel)]="listaLocalizacoesEscolhidas[i]">
                            <option *ngFor="let loc of (listaLocalizacoes[i])" class="tamanhoTextos" value="{{loc.id}}">
                                {{ loc.nome }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="containerBotao">
                <button (click)="cadastrar()" mat-flat-button color="primary" class="tamanhoTextos">Cadastrar</button>
            </div>
        </div>
    </div>
</div>