* {
    font-family: 'Inter', sans-serif;
}

/* Estilo do filtro */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #EEEEEE;
    border-radius: 30px;
    border: solid 1px black;
}

/* <!-- --------------- ITEM EM SI EM BLOCO ---------------- -->*/
#conteudoItem {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 7.5rem;
    max-width: 360px;
    max-height: 7.5rem;
    margin-bottom: 2rem;
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0.9rem;
    cursor: pointer;
    user-select: none;
}

.quadroItemBloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#conteudoItem:hover {
    background-color: rgba(201, 201, 201, 0.616);
}

.imagemItem {
    width: 35%;
}

.imgProdutoBloco {
    width: 100%;
    height: 100%;
}

.descricaoItemBloco {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    height: 90%;
    font-size: var(--font-size--default);
}

.nomeItem {
    font-size: var(--font-size--default);
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.baixoItem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--font-size--small);
    display: flex;
    flex-direction: column;
}

.infoItemBloco {
    padding-top: 3%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ferramentas {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconeEditar, #iconeHistorico, #iconeExcluir, .iconeEstrela {
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

#iconeEditar, #iconeHistorico {
    margin-bottom: 0.5rem;
}

#iconeEditar:hover, #iconeHistorico:hover, .iconeEstrela:hover {
    color: #0047B6;
}

#iconeExcluir:hover {
    color: #be0101;
    animation: mudarCor 0.5s;
}

@keyframes mudarCor {
    from {
        color: #000;
    }
    to {
        color: #be0101;
    }
}
/*<!-- --------------- FIM ITEM EM SI EM BLOCO ---------------- -->*/

#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}