<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Div do item Completa (recebe classes com ngClass) -->
<div id="conteudoItem" class="shadow-sm rounded" title="{{item.nome}}">
  <div [ngClass]="retornarClassesVisualizacao(1)">
    <div class="imagemItem" (click)="abrirModalReserva()">
      <img [ngClass]="retornarClassesVisualizacao(2)"
        src="{{imagemUrl}}" alt="Imagem do Produto" />
    </div>
    <div [ngClass]="retornarClassesVisualizacao(3)" (click)="abrirModalReserva()">
      <span class="nomeItem">{{ item.nome }}</span>
      <div class="baixoItem">
        <span>{{ retornaTextoDescartavel() }}</span>
        <div [ngClass]="retornarClassesVisualizacao(4)">
          <span>QTD:</span>
          <span>{{ item.quantidade }} UN</span>
        </div>
      </div>
    </div>
    <div class="ferramentas">

      <span title="Editar" *ngIf="tipoUser == 3 || tipoUser == 4" class="material-symbols-outlined iconDeselect"
        (click)="abrirModalEditar()" id="iconeEditar" alt="iconeEditar">
        edit
      </span>
      <span title="Histórico" *ngIf="tipoUser == 2 || tipoUser == 3 || tipoUser == 4"
        class="material-symbols-outlined iconDeselect" (click)="abrirHistorico()" id="iconeHistorico">
        history
      </span>
      <span title="Deletar" *ngIf="tipoUser == 3 || tipoUser == 4" class="material-symbols-outlined iconDeselect"
        (click)="removerItem()" id="iconeExcluir">
        delete
      </span>
    </div>
  </div>
  <span title="Favoritos" *ngIf="!favorito && tipoUser == 1" class="material-symbols-outlined iconDeselect iconeEstrela"
    (click)="favoritos()" alt="icone estrela">
    star
  </span>
  <span title="Favoritos" *ngIf="favorito && tipoUser == 1" class="material-symbols-outlined iconDeselect iconeEstrela"
    (click)="favoritos()" id="iconEstrelaPreenchida" alt="icone estrela">
    star
  </span>
  <style>
    #iconEstrelaPreenchida{
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 0
    }
    </style>
</div>

<!-- Feedback de reserva concluída -->
<app-modal-feedback *ngIf="feedbackReservaFeita" [tipoFeedback]="1" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<!-- Feedback de colocar item na sacola -->
<app-modal-feedback *ngIf="feedbackColocadoSacola" [tipoFeedback]="2" (fecharModal)="fecharModaisFeedback(2)">
</app-modal-feedback>

<!-- Feedback Item Editado -->
<app-modal-feedback *ngIf="feedbackEditarItem" [tipoFeedback]="3" (fecharModal)="fecharModaisFeedback(3)">
</app-modal-feedback>

<!-- Feedback Item Removido -->
<app-modal-feedback *ngIf="feedbackRemoverItem" [tipoFeedback]="4" (fecharModal)="fecharModaisFeedback(4)">
</app-modal-feedback>

<!-- Div usada como fundo para modais -->
<div *ngIf="modalReservar || modalEditar || modalMotivoEdicao || modalConfirmarRemocao || modalAnexos || modalHistorico"
  id="fundoModal">

  <!-- Modal Reservar Item -->
  <app-modal-reservar-item *ngIf="modalReservar" [item]="item" (fecharModal)="fecharModaisItem(1, $event)"
    style="width: 100%; display: flex; justify-content: center;"></app-modal-reservar-item>

  <!-- Modal Editar Item -->
  <app-modal-editar-item *ngIf="modalEditar" [item]="item" (fecharModal)="fecharModaisItem(3, $event)">
  </app-modal-editar-item>

  <!-- Modal Motivo Edição de Quantidade -->
  <app-modal-motivo-edicao *ngIf="modalMotivoEdicao" [item]="item" (fecharModal)="fecharModaisItem(4, $event)">
  </app-modal-motivo-edicao>

  <!-- Modal Ver Anexos -->
  <app-anexos-item *ngIf="modalAnexos" [item]="item" (fecharModal)="fecharModaisItem(2, undefined)"></app-anexos-item>

  <!-- Modal Histórico de Edição -->
  <app-modal-historico-edicao *ngIf="modalHistorico" [item]="item" (fecharModal)="fecharModaisItem(5, undefined)">
  </app-modal-historico-edicao>

  <!-- Modal Confirmar Remoção -->
  <app-modal-confirmacao *ngIf="modalConfirmarRemocao" [tipoTexto]="1"
    (fecharModal)="fecharModaisConfirmacao(1, $event)"></app-modal-confirmacao>
</div>