* {
    font-family: 'Inter', sans-serif;
}

label {
    margin-left: 5px;
    width: 32px;
    height: 32px;
    background-image: url(../../../assets/pasta.png);
    cursor: pointer;
}

/* <!-- --------------- ITEM EM SI EM BLOCO ---------------- -->*/

.quadroItem {
    /* 
    Código criado primeiro:
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    
    
    Código modificado para poder se encaixar na página home:
    */

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22.5rem;
    height: 7.5rem;
    max-width: 22.5rem;
    max-height: 7.5rem;
    /* width: 25%; */
    margin-bottom: 2rem;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.9rem;
    cursor: pointer;
}

.quadroItem:hover {
    background-color: rgba(201, 201, 201, 0.616);
}

.imagemItem {
    width: 35%;
}

.imgProduto {
    width: 100%;
    height: 100%;
}

.descricaoItem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 80%;
    font-size: var(--font-size--default);
}

.nomeItem {
    font-size: var(--font-size--default);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.baixoItem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--font-size--small);
    display: flex;
    flex-direction: column;
}

.infoItem {
    padding-top: 3%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.ferramentas {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconeEditar, #iconeHistorico, #iconeExcluir {
    font-size: var(--font-size--giant);
    font-weight: 300;
    cursor: pointer;
}

#iconeEditar, #iconeHistorico {
    margin-bottom: 0.5rem;
}

#iconeEditar:hover, #iconeHistorico:hover {
    color: #0047B6;
}

#iconeExcluir:hover {
    color: #be0101;
    animation: mudarCor 0.5s;
}
/*<!-- --------------- FIM ITEM EM SI EM BLOCO ---------------- -->*/

/* <!-- ----------------------------- ITEM EM SI EM LISTA ---------------------------- --> */
.quadroItemLista {
    /* 
    Código criado primeiro:
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    
    
    Código modificado para poder se encaixar na página home:
    */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 72rem;
    /* width: 25%; */
    margin-bottom: 1%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 0.9rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.imagemItem {
    width: 35%;
}

.imgProdutoLista {
    width: 50%;
}

.descricaoItemLista {
    width: 50%;
    height: 80%;
}

.nomeItem {
    font-size: var(--font-size--default);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.baixoItem {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: var(--font-size--small);
    display: flex;
    flex-direction: column;
}

.infoItemLista {
    padding-top: 3%;
    width: 80%;
    display: flex;
}

.ferramentas {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconeEditar, #iconeHistorico, #iconeExcluir {
    font-size: var(--font-size--giant);
    font-weight: 300;
    cursor: pointer;
}

#iconeEditar, #iconeHistorico {
    margin-bottom: 0.5rem;
}

#iconeEditar:hover, #iconeHistorico:hover {
    color: #0047B6;
}

#iconeExcluir:hover {
    color: #be0101;
    animation: mudarCor 0.5s;
}
/* <!-- ----------------------------- FIM ITEM EM SI EM LISTA ---------------------------- --> */

/* <!-- ----------------------------- FEEDBACK ITEM RESERVADO COM SUCESSO ---------------------------- --> */

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom: 0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}


#fechar {
    position: absolute;
    width: 3%;
    top: 6%;
    right: 7%;
}

#fechar:hover {
    cursor: pointer;
}

#imgCerto {
    font-size: var(--font-size--extreme);
    padding-bottom: 5px;
    color: #0047B6;
}

#spanTexto {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}
/* <!-- ----------------------------- FIM FEEDBACK ITEM RESERVADO COM SUCESSO ---------------------------- --> */

/* <!-- ----------------------------- FEEDBACK ITEM EDITADO COM SUCESSO ---------------------------- --> */

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom: 0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}


#fechar {
    position: absolute;
    width: 3%;
    top: 6%;
    right: 7%;
}

#fechar:hover {
    cursor: pointer;
}

#imgCerto {
    font-size: var(--font-size--extreme);
    padding-bottom: 5px;
    color: #0047B6;
}

#spanTexto {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}
/* <!-- ----------------------------- FIM FEEDBACK ITEM EDITADO COM SUCESSO ---------------------------- --> */

/* <!-- ----------------------------- MODAL ITEM ABERTO ---------------------------- --> */
#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

#modalItem {
    width: 31%;
    border-radius: 0.3rem;
    background-color: white;
    animation: fadein 0.5s;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

.containerModal {
    padding: 1rem 1.8rem;
}

#fechar {
    position: absolute;
    width: 3%;
    top: 6%;
    right: 7%;
}

#fechar:hover {
    cursor: pointer;
}

#fecharIcone {
    font-size: var(--font-size--giant);
    margin-right: -3%;
    cursor: pointer;
}

.produtoInfo {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.containerImg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.imgProdModal {
    width: 80%;
}

.nomeTipoProd {
    width: 60%;
}

.tituloAzul {
    color: #0047B6;
}

.containerClassQtd {
    margin-bottom: 1rem;
}

.subtituloModal {
    font-weight: bold;
    margin-top: 5px;
}

.quantidadeModal {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 1rem;
}

.containerQuantidadeInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto {
    display: flex;
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

#containerQtd {
    display: flex;
    border: 1px solid black;
    border-radius: 0.3rem;
    width: 40%;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
}

#menosQtdIcon,
#maisQtdIcon {
    font-size: var(--font-size--medium);
    padding: 7% 7%;
    cursor: pointer;
}

#menosQtdIcon {
    border-right: 1px solid black;
}

#maisQtdIcon {
    border-left: 1px solid black;
}

#inputQtd {
    width: 35%;
    border: none;
    outline: none;
    text-align: center;
    font-size: var(--font-size--medium);
}

.divQtdInvalida {
    padding: 0% 7%;
}

.qtdMax {
    text-align: end;
    font-size: var(--font-size--small);
    margin-top: 2px;
}

.containerDatas {
    width: 90%;
}

.linhaData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.containerInputData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 0.3rem;
    width: 70%;
    min-width: 130px;
    height: 2.3rem;
}

.containerDataText {
    width: 75%;
    text-align: center;
}

.dataText {
    align-items: center;
    font-size: var(--font-size--small);
}

.containerIconData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-left: 1px solid black;
}

#professores {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 0;
    outline: 0;
    border-radius: inherit;
}

.containerAcoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
    margin-bottom: 0.7rem;
}

.btnModal, .btnModal2 {
    
    color: white;
    border-radius: 5px;
    border: 0;
    width: 70%;
    font-size: var(--font-size--medium);
    font-weight: 500;
    cursor: pointer;
}

.btnModal {
    background-color: #0047B6;
}

.btnModal2 {
    background-color: gray;
}

#iconModal2 {
    font-size: var(--font-size--giant);
    cursor: pointer;
    color: #000000;
}

#iconModal {
    font-size: var(--font-size--extreme);
    cursor: pointer;
    color: #000000;
}

#iconModal:hover, #iconModal2:hover {
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* <!-- ----------------------------- FIM MODAL ITEM ABERTO ---------------------------- --> */

/* <!-- ----------------------------- MODAL EDITAR ITEM ---------------------------- --> */
#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

.containerModalCadastrar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerModalCadastrar {
    width: 33.75rem;
    height: 37.5rem;
    background-color: #fff;
    border-radius: 7px;
    min-width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
    animation: fadein 0.5s;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

#containerIcons {
    display: flex;
    justify-content: flex-end;
    margin: 2px 2px 0 0;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconFechar {
    font-size: var(--font-size--giant);
    cursor: pointer;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.25rem;
}

.selecionarImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px black;
    border-radius: 5px;
    width: 13.625rem;
    height: 31px;
    cursor: pointer;
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

.nomeProduto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.texto {
    display: flex;
}

.containerInput {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inputsCadastro {
    width: 13rem;
    height: 30px;
    border: solid 1px black;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 10px;
}

.classificacao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.descricao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.inputDescricao {
    width: 13rem;
    height: 80px;
    border: solid 1px black;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    resize: none;
    font-size: var(--font-size--default);
}

.localizacao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

#localizacaoProduto {
    width: 4.12rem;
    height: 1.8rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: 2px;
}

.opcao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

#selecionarDescartavel {
    width: 9.5rem;
    height: 1.8rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.inputQtd {
    width: 4.563rem;
    height: 1.8rem;
    padding-left: 10px;
}

.anexo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.625rem;
}

.inputAnexo {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px black;
}

#arquivo {
    display: none;
}

.botaoCadastrar {
    width: 10.938rem;
    height: 3.188rem;
    background-color: #0047B6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size--big);
    margin-top: 1.875rem;
    cursor: pointer;
}
/* <!-- ----------------------------- FIM MODAL EDITAR ITEM ---------------------------- --> */

/* <!-- ----------------------------- MODAL MOTIVO EDIÇÃO QUANTIDADE ITENS ---------------------------- --> */
#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

#containerConteudoModalMotivo {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    animation: fadein 0.5s;
}

.topoModalMotivo {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

#containerIcons {
    display: flex;
    justify-content: flex-end;
    margin: 2px 2px 0 0;
}

#iconFechar {
    font-size: var(--font-size--giant);
    cursor: pointer;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerModalMotivo {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 0 1.8rem 1rem 1.8rem;
}

.inputDescricaoMotivo {
    margin-top: 3%;
    width: 16rem;
    height: 85px;
    border: solid 1px black;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: var(--font-size--default);
}

.containerBotaoEditarItem {
    display: flex;
    justify-content: end;
}

.botaoEditarItem {
    margin-top: 5%;
    width: 7.5rem;
    height: 2.5rem;
    background-color: #0047B6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size--big);
    cursor: pointer;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* <!-- ----------------------------- FIM MODAL MOTIVO EDIÇÃO QUANTIDADE ITENS ---------------------------- --> */

/* <!-- ----------------------------- MODAL CONFIRMAR REMOÇÃO ---------------------------- --> */
#fundoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.349);
}

.containerModalExcluir {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.375rem;
    height: 16.188rem;
    border-radius: 10px;
    right: 30%;
    top: 30%;
    border: solid 1px black;
    background-color: #fff;
    animation: fadein 0.5s;
}

.linhaAzul {
    width: 100%;
    height: 0.931rem;
    border-radius: 10px 10px 0px 0px;
    background-color: #0047B6;
}

#iconeAlert {
    font-size: 100px;
    margin-top: 3%;
    color: #0047B6;
}

.containerInfoModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 13rem;
}

.textoModal {
    font-size: var(--font-size--verybig);
}

.containerBotoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.botaoCancelar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: var(--font-size--big);
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #AAAAAA;
    cursor: pointer;
}

.botaoRecusar {
    width: 7.813rem;
    height: 2.625rem;
    font-size: var(--font-size--big);
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #0047B6;
    cursor: pointer;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* <!-- ----------------------------- FIM MODAL CONFIRMAR REMOÇÃO ---------------------------- --> */

/* <!-- ----------------------------- FEEDBACK REMOVIDO COM SUCESSO ---------------------------- --> */
#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom: 0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#fechar {
    position: absolute;
    width: 3%;
    top: 6%;
    right: 7%;
}

#fechar:hover {
    cursor: pointer;
}

#imgCerto {
    font-size: var(--font-size--extreme);
    padding-bottom: 5px;
    color: #0047B6;
}

#spanTexto {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}
/* <!-- ----------------------------- FIM FEEDBACK REMOVIDO COM SUCESSO ---------------------------- --> */

/* <!-- ----------------------------- MODAL VER ANEXOS ---------------------------- --> */

















































































/* <!-- ----------------------------- FIM MODAL VER ANEXOS ---------------------------- --> */

@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}



.containerSacolaModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
}

.sacolaIcon {
    width: 10%;
}

.fechar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: -5%;
}

.marginBottom {
    margin-bottom: 0.5rem;
}

@keyframes animacao {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

/* @keyframes lateral {
    from {
        right: -5rem;
    }

    to {
        right: 0.5rem;
    }
} */





@keyframes mudarCor {
    from {
        color: #000;
    }
    to {
        color: #be0101;
    }
}

.imgRele {
    width: 13rem;
}

.imgFechar {
    position: absolute;
    left: 54%;
    width: 1rem;
    cursor: pointer;
}

.addAnexo {
    width: 9.188rem;
    height: 31px;
    border: solid 1px black;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#containerLocalizacoes {
    display: flex;
    flex-wrap: wrap;
}



@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

.visualizarAnexo {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.imgArquivo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.containerVisualizarAnexos {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

/* Modal visualizar anexos */
.containerModalAnexos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33.375rem;
    height: 30rem;
    border-radius: 10px;
    background-color: #fff;
    animation: fadein 0.5s;
}

.containerFechar {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

#iconeFechar {
    padding: 5px;
    margin: 5px;
    font-size: var(--font-size--giant);
    cursor: pointer;
}

.campoDescricao {
    text-align: justify;
    width: 80%;
    height: 8rem;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    border: solid 1px black;
}

.textoDescricao {
    font-size: var(--font-size--medium);
    font-weight: bold;
}

.containerAnexos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

.riscoDivisao {
    width: 70%;
    height: 2px;
    margin-top: 1rem;
    background-color: black;
}

#iconeAnexo {
    font-size: 60px;
}

.parteAnexos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.containerHistoricos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    overflow: auto;
    margin-top: 10px;
}

.quadroHistorico {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 70%;
    height: 3.5rem;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px black;
}

.containerData{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoData{
    font-size: var(--font-size--small);
    color: rgb(170, 168, 168);
}

.containerInfoModalHist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}





/* Estilo do filtro */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #EEEEEE;
    border-radius: 30px;
    border: solid 1px black;
}







.topoModal {
    display: flex;
    justify-content: center;
    align-items: center;
}