<div (click)="abrirModalItem()" class="quadroItem">
    <div class="imagemItem">
        <img class="imgProduto" src="https://static.weg.net/medias/images/h97/h6f/RW_02.png?cimgnr=UbfLe" alt="">
    </div>
    <div class="descricaoItem">
        <span class="nomeItem">{{item.nome}}</span>
        <div class="baixoItem">
            <span>{{textoDescartavel}}</span>
            <div class="infoItem">
                <span>QTD:</span>
                <span>{{item.quantidade}} UN</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="aparecer" id="fundoModal">
    <!-- Modal item -->
    <div id="modalItem">
        <hr class="riscoAzul">
        <div class="containerModal">
            <div class="fechar">
                <img class="fecharIcone" (click)="fecharModal()" src="../../../assets/close.png" alt="Fechar">
            </div>
            <div class="produtoInfo">
                <div class="containerImg">
                    <img class="imgProdModal" src="../../../assets/Rele.png" alt="Relé térmico">
                </div>
                <div class="nomeTipoProd">
                    <h2 class="tituloAzul">{{ item.nome }}</h2>
                    <h4 class="tituloAzul">{{ textoDescartavel }}</h4>
                </div>
            </div>

            <div class="containerClassQtd">
                <p><span class="subtituloModal">Classificação: </span> {{ buscarClassificacao(item.classificacao) }}</p>
                <div class="quantidadeModal">
                    <div class="containerQuantidadeInput">
                        <p class="subtituloModal">QTD:</p>
                        <div id="containerQtd">
                            <div class="containerIconQtd">
                                <img src="../../../assets/menos.png" alt="" class="menosQtdIcon">
                            </div>
                            <span>0</span>
                            <div class="containerIconQtd">
                                <img src="../../../assets/mais.png" alt="" class="maisQtdIcon">
                            </div>
                        </div>
                    </div>
                    <p class="qtdMax">Máx: {{item.quantidade}}</p>
                </div>
            </div>

            <div class="containerDatas">
                <div class="linhaData">
                    <p class="subtituloModal">Retirada: </p>
                    <div class="containerInputData">
                        <div class="containerDataText">
                            <p class="dataText">
                                DD/MM/YYYY
                            </p>
                        </div>
                        <div class="containerIconData">
                            <img src="../../../assets/calendario.png" alt="Calendário" class="iconModal">
                        </div>
                    </div>
                </div>
                <div class="linhaData">
                    <p class="subtituloModal">Devolução: </p>
                    <div class="containerInputData">
                        <div class="containerDataText">
                            <p class="dataText">
                                DD/MM/YYYY
                            </p>
                        </div>
                        <div class="containerIconData">
                            <img src="../../../assets/calendario.png" alt="Calendário" class="iconModal">
                        </div>
                    </div>
                </div>
            </div>
            <span *ngIf="item.quantidade == 0">Este item está indisponível no momento</span>
            <div class="containerAcoes">
                <button class="btnModal">Reservar Agora</button>
                <img src="../../../assets/documento.png" alt="Ver Detalhes" class="iconModal sacolaIcon">
                <img src="../../../assets/sacola-de-compras.png" alt="Adicionar à sacola" class="iconModal sacolaIcon">
            </div>
        </div>

    </div>
</div>