<!-- Alerta de dados faltantes no cadastro de localização -->
<app-alerta-feito *ngIf="feedbackDados" (fecharModal)="fecharModalAlerta($event)" [tipoMensagemModal]="7">
</app-alerta-feito>

<div id="modalItem">
  <div class="containerModal">
    <div class="fechar">
      <span title="Fechar" (click)="fecharModalReserva('fechar')" class="material-symbols-outlined iconDeselect"
        id="fecharIcone">
        close
      </span>
    </div>
    <div class="produtoInfo">
      <div class="containerImg">
        <img class="imgProdModal" src="../../../assets/Rele.png" alt="Imagem do Produto no Modal" />
      </div>
      <div class="nomeTipoProd">
        <h2 class="tituloAzul">{{ item.nome }}</h2>
        <h4 class="tituloAzul">{{ retornaTextoDescartavel() }}</h4>
      </div>
    </div>
    <div class="containerClassQtd">
      <p>
        <span class="subtituloModal">Classificação: </span>
        {{ buscarClassificacao(item.classificacao) }}
      </p>
      <div class="quantidadeModal">
        <div class="containerQuantidadeInput">
          <div class="texto">
            <p class="subtituloModal">QTD:</p>
            <div class="asterisco">*</div>
          </div>
          <div id="containerQtd">
            <span title="Remover" class="material-symbols-outlined iconDeselect" id="menosQtdIcon"
              (click)="mudarQtd(2)">
              remove
            </span>
            <input *ngIf="item.quantidade > 0" id="inputQtd" [(ngModel)]="qtdItem" />
            <div class="divQtdInvalida" *ngIf="item.quantidade < 1">0</div>
            <span title="Adicionar" class="material-symbols-outlined iconDeselect" id="maisQtdIcon"
              (click)="mudarQtd(1)">
              add
            </span>
          </div>
        </div>
        <b>
          <p *ngIf="item.quantidade > 0" class="qtdMax">
            Máx: {{ item.quantidade }}
          </p>
        </b>
        <p *ngIf="item.quantidade < 1" class="qtdMax">Item Indisponível</p>
      </div>
    </div>
    <div class="containerDatas">
      <div class="linhaData">
        <div class="texto">
          <p class="subtituloModal">Retirada:</p>
          <div class="asterisco">*</div>
        </div>
        <div class="containerInputData">
          <div class="containerDataText">
            <p class="dataText">
              {{ formatarData(dataRetirada) }}
            </p>
          </div>
          <div class="containerIconData">
            <span title="Calendário" class="material-symbols-outlined iconDeselect" alt="Calendário" id="iconModal2"
              (click)="abrirCalendario(1)">
              calendar_month
            </span>
          </div>
        </div>
      </div>
      <div class="linhaData">
        <div class="texto">
          <p class="subtituloModal">Devolução:</p>
          <div class="asterisco">*</div>
        </div>
        <div class="containerInputData">
          <div class="containerDataText">
            <p class="dataText">
              {{ formatarData(dataDevolucao) }}
            </p>
          </div>
          <div class="containerIconData">
            <span title="Calendário" class="material-symbols-outlined iconDeselect" alt="Calendário" id="iconModal2"
              (click)="abrirCalendario(2)">
              calendar_month
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="retornarUsuarioGerencia()" id="adicionarProfessor">
      <div class="texto">
        <p class="subtituloModal">Professor:</p>
        <div class="asterisco">*</div>
      </div>
      <div class="containerInputData">
        <input type="text" id="professores" placeholder="Digite o nome" [disabled]="isDisabled()" />
      </div>
    </div>
    <span *ngIf="item.quantidade == 0">Este item está indisponível no momento</span>
    <div class="containerAcoes">
      <button *ngIf="item.quantidade > 0" class="btnModal" (click)="reservar()">
        Reservar Agora
      </button>
      <button *ngIf="item.quantidade <= 0" class="btnModal2" (click)="reservar()">
        Reservar Agora
      </button>
      <span title="Ver Detalhes" (click)="verDetales()" id="iconModal" class="material-symbols-outlined iconDeselect">
        file_present
      </span>
      <div id="adicionarSacola" title="Adicionar à sacola" (click)="adicionarSacola()">
        <span class="material-symbols-outlined iconDeselect GambiarraAdicionarSacola">
          add
        </span>
        <span class="material-symbols-outlined iconDeselect GambiarraSacola" alt="Adicionar à sacola">
          shopping_bag
        </span>
      </div>
    </div>
  </div>
  <app-calendario *ngIf="calendarioRetirada" (salvarData)="salvarData(1, $event)" [dataSalva]="dataRetirada">
  </app-calendario>
  <app-calendario *ngIf="calendarioDevolucao" (salvarData)="salvarData(2, $event)" [dataSalva]="dataDevolucao">
  </app-calendario>
</div>