<div *ngIf="modalOrdernar" id="fundoModalOrdenar">
    <div id="containerModalOrdenar">
        <hr class="riscoAzul">
        <div class="containerFechar">
            <img class="fecharIcone espacoFecharOrdenarModal" (click)="fecharModalOrdenar()"
                src="../../../assets/close.png" alt="Fechar Modal de Ordenar">
        </div>
        <div id="containerConteudoModalOrdernar">
            <div style="width: 100%;">
                <h2 class="titleModalOrdenar">Ordenar</h2>
            </div>
            <div id="ordenarConteudo">
                <div>
                    <p class="subtitleOrdenar">Tipo</p>
                    <select name="tipoOrdenar" class="selectOrdenar">
                        <option value="0">Crescente</option>
                        <option value="1">Decrescente</option>
                    </select>
                </div>
                <div>
                    <p class="subtitleOrdenar">Opção</p>
                    <select name="opcaoOrdenar" class="selectOrdenar">
                        <option value="0">Nome</option>
                        <option value="1">Quantidade em estoque</option>
                    </select>
                </div>
            </div>
            <div id="containerBotoesOrdenar">
                <button class="btnDevolucaoModal" style="background-color: red;"
                    (click)="cancelarOrdenar()">Cancelar</button>
                <button class="btnDevolucaoModal" (click)="realizarOrdenacao()">Ordenar</button>
            </div>
        </div>
    </div>
</div>


<app-header></app-header>
<app-filtro></app-filtro>
<main>
    <div id="container">
        <div id="containerInput">
            <div id="containerInputOrdenar">
                <div id="divInput">
                    <input id="input" type="text" placeholder="Pesquise por produto...">
                    <img id="lupa" src="../../../assets/lupa.png" alt="Fazer Pesquisa">
                </div>
                <div id="iconListaBloco">
                    <img src="../../../assets/ordenar.png" id="ordernar" (click)="ordernar()" alt="Ordenar Página"
                        title="Ordernar">
                    <img *ngIf="emBloco == 1" (click)="mostrarEmBloco()" id="emBloco" src="../../../assets/emBloco.png"
                        alt="Visualizando em lista">
                    <img *ngIf="emBloco == 0" (click)="mostrarEmLista()" id="emLista" src="../../../assets/emLista.png"
                        alt="Visualizando em bloco">
                </div>
                <div id="containerIconFiltro">
                    <span title="Filtro" (click)="filtrar()" id="iconFiltro" class="material-symbols-outlined iconDeselect">
                      filter_alt
                    </span>
                    <!-- ---------- MODAL FILTRAR ---------- -->
                    
                    <div *ngIf="modalFiltrar" class="modalUser" (click)="fecharModalFiltro()">
                      <h3 class="tituloFiltroModalUser">Filtro</h3>
                      <div class="setaUser"></div>
                      <div id="containerCheckboxes">
                        <div id="containerEsquerdo">
                          <div class="containerCadaCheck">
                            <input type="checkbox" id="descartavelCheckbox" />
                            <label class="checkboxes" for="descartavelCheckbox">Descartável</label>
                          </div>
                          <div class="containerCadaCheck">
                            <input type="checkbox" id="comEstoqueCheckbox" />
                            <label class="checkboxes" for="comEstoqueCheckbox">Com Estoque</label>
                          </div>
                          <div class="containerCadaCheck">
                            <input type="checkbox" id="naoDescartavelCheckbox" />
                            <label class="checkboxes" for="naoDescartavelCheckbox">Não Descartável</label>
                          </div>
                          <div class="containerCadaCheck">
                            <input type="checkbox" id="semEstoqueCheckbox" />
                            <label class="checkboxes" for="semEstoqueCheckbox">Sem Estoque</label>
                          </div>
                        </div>
                      </div>
                      <div id="containerBotao">
                        <button class="btnFiltrarModal">Limpar</button>
                      </div>
                      <!-- clicar fora: (click)="fecharModalFiltrar()" -->
                    </div>
                  </div>
            </div>
            <div id="filtro">

            </div>
            <p id="resultados">{{ numResultados }} Resultados encontrados</p>
        </div>

        <div *ngIf="emBloco == 0" id="containerItens">
            <app-item [lista]="emBloco" *ngFor="let item of listaItens" [item]="item"></app-item>
        </div>

        <div *ngIf="emBloco == 1" id="containerListaLista">
            <app-item [lista]="emBloco" *ngFor="let item of listaItens" [item]="item"></app-item>
        </div>

        <!-- Fundo transparente -->
        <nav *ngIf="numeroPaginas > 0" id="containerPaginacao">
            <ul id="paginacao">
                <li *ngIf="paginaAtual > 1" (click)="voltarPagina()" class="paginaItem">Anterior</li>
                <li (click)="irPagina(paginaAtual - 1)" *ngIf="paginaAtual - 1 > 0" class="paginaItem">{{paginaAtual - 1}}</li>
                <li class="paginaItem paginaAtiva">{{paginaAtual}}</li>
                <li (click)="irPagina(paginaAtual + 1)" *ngIf="paginaAtual + 1 <= numeroPaginas" class="paginaItem">{{paginaAtual + 1}}</li>
                <li (click)="irPagina(paginaAtual + 2)" *ngIf="paginaAtual + 2 <= numeroPaginas" class="paginaItem">{{paginaAtual + 2}}</li>
                <li (click)="proximoPagina()" class="paginaItem" *ngIf="paginaAtual < numeroPaginas">Próximo</li>
            </ul>
        </nav>
    </div>
</main>