<table class="table table-hover">
    <thead>
        <tr>
            <th class="itemTabela">Nome sobrenome</th>
            <th class="itemTabela">Email</th>
            <th class="itemTabela center">Função</th>
            <th class="itemTabela center">Salvar</th>
            <th class="itemTabela center">Deletar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listaUsuarios;" class="linhaSelecionavel">
            <td class="itemTabela displayFlex tdCheck">
                {{ usuario.nomeUsuario }}
            </td>
            <td class="itemTabela displayFlex tdIdLocalizacao">
                {{ usuario.emailUsuario }}
            </td>
            <td class="itemTabela center displayFlex tdNomeLocalizacao">
                <select id="selectFuncao" [(ngModel)]="usuario.tipoUsuario">
                    <option value="PROFESSOR">Professor</option>
                    <option value="ATENDENTE1">Atendente 1</option>
                    <option value="ATENDENTE2">Atendente 2</option>
                    <option value="SUPERVISOR">Supervisor</option>
                </select>
            </td>
            <td class="itemTabela center">
                <span (click)="abrirModaisConfirmacao(1, usuario)" title="Cofirmar"
                    class="material-symbols-outlined iconDeselect iconeOpcao verde">
                    done
                </span>
            </td>
            <td class="itemTabela center">
                <span (click)="abrirModaisConfirmacao(2, usuario)" title="Deletar"
                    class="material-symbols-outlined iconDeselect iconeOpcao vermelho">
                    delete
                </span>
            </td>
        </tr>
    </tbody>
</table>

<div id="fundoModal" *ngIf="modalConfirmarEdicao || modalConfirmarExclusao">
    <app-modal-confirmacao *ngIf="modalConfirmarEdicao" [tipoTexto]="6"
        (fecharModal)="fecharModaisConfirmacao(1, $event)">
    </app-modal-confirmacao>

    <app-modal-confirmacao *ngIf="modalConfirmarExclusao" [tipoTexto]="7"
        (fecharModal)="fecharModaisConfirmacao(2, $event)">
    </app-modal-confirmacao>
</div>

<app-modal-feedback *ngIf="feedbackEdicaoUsuario" [tipoFeedback]="10" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<app-modal-feedback *ngIf="feedbackExclusaoUsuario" [tipoFeedback]="11" (fecharModal)="fecharModaisFeedback(2)">
</app-modal-feedback>