<!-- --------------------------- COMPONENTE RESERVA EM BLOCO ------------------------------ -->
<table class="table table-hover">
    <thead>
        <tr>
            <th class="itemTabela">Email</th>
            <th class="itemTabela">Data retirada</th>
            <th class="itemTabela">Data devolução</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reserva of listaReservas" (click)="mudarModalDetalhes('abrir', reserva)">
            <td class="itemTabela">{{ reserva.usuario_email }}</td>
            <td class="itemTabela">{{ reserva.data_retirada }}</td>
            <td class="itemTabela">{{ reserva.data_devolucao }}</td>
        </tr>
    </tbody>
</table>
<!-- --------------------------- FIM COMPONENTE RESERVA EM BLOCO ------------------------------ -->

<!-- Div de fundo para modais -->
<div *ngIf="modalRetirada || modalDevolucao" id="fundoModal">
    <!-- Modal de confirmar retirada -->
    <app-retirada-reserva *ngIf="modalRetirada" [reserva]="getReserva()" (fecharModal)="mudarModalDetalhes($event, getReserva())">
    </app-retirada-reserva>

    <app-devolucao-reserva *ngIf="modalDevolucao" [reserva]="getReserva()" (fecharModal)="mudarModalDetalhes($event, getReserva())">
    </app-devolucao-reserva>
</div>

<!-- Feedback retirada confirmada -->
<app-modal-feedback *ngIf="feedbackRetiradaConfirmada" [tipoFeedback]="12" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<!-- Feedback reserva cancelada -->
<app-modal-feedback *ngIf="feedbackReservaCancelada" [tipoFeedback]="13" (fecharModal)="fecharModaisFeedback(2)">
</app-modal-feedback>

<!-- Feedback Devolução Efetuada -->
<app-modal-feedback *ngIf="feedbackDevolucaoConfirmada" [tipoFeedback]="14" (fecharModal)="fecharModaisFeedback(3)">
</app-modal-feedback>

<!-- Feedback Alertar Atraso Devolução -->
<app-modal-feedback *ngIf="feedbackAtrasoDevolucao" [tipoFeedback]="15" (fecharModal)="fecharModaisFeedback(4)">
</app-modal-feedback>