/* ----------------- CSS PADRÃO ------------------- */
* {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 12px;
    color: #0047B6;
    font-size: var(--font-size--verybig);
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

img{
    user-select: none;
}

/* ----------------- FIM CSS PADRÃO ------------------- */

/* <!-- --------------------- HEADER EM SI --------------------- --> */
#containerHeader {
    min-width: 520px;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#header,
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 7.5px 10px;
}

#logo {
    cursor: pointer;
}

#logoSite {
    width: 9rem;
    margin-left: 20px;
}

#sacola,
#usuarioIcone {
    float: left;
    margin: 0 5px 0 5px;
    color: #0047B6;
    cursor: pointer;
}

#sacola:hover,
#usuarioIcone:hover {
    color: #00296b;
}

#topHeader {
    font-size: var(--font-size--extreme);
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* <!-- --------------------- FIM HEADER EM SI --------------------- --> */