<div id="containerModalCadastrar">
    <hr class="riscoAzul" />
    <div id="containerIcons">
        <span title="Fechar" (click)="fecharModalEdicao('fechar')" class="material-symbols-outlined iconDeselect"
            id="iconFechar">
            close
        </span>
    </div>
    <div class="principal">
        <div class="containerModalCadastrar">
            <div class="divImg">
                <button class="selecionarImg">
                    Selecionar Imagem
                    <div class="asterisco">*</div>
                </button>
            </div>
            <div class="nomeProduto">
                <div class="texto">
                    <span>Nome Produto:</span>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerInput">
                    <input class="inputsCadastro" type="text" placeholder="Nome produto" [(ngModel)]="item.nome" />
                </div>
            </div>
            <div class="classificacao">
                <div class="texto">
                    <span>Classificação:</span>
                    <div class="asterisco">*</div>
                </div>
                <select class="inputsCadastro" name="" (change)="atualizarListaClassificacoes()">
                    <option selected>
                        {{ retornarNomeClassificacao(item.classificacao) }}
                    </option>
                    <option *ngFor="let classificacao of listaClassificacoes" value="">
                        {{ classificacao.classificacao }}
                    </option>
                </select>
            </div>
            <div class="descricao">
                <div class="texto">
                    <span>Descrição: </span>
                    <div class="asterisco">*</div>
                </div>
                <textarea class="inputDescricao" placeholder="Descrição" [(ngModel)]="item.descricao"></textarea>
            </div>
            <div class="localizacao">
                <div class="texto">
                    <span>Localização: </span>
                    <div class="asterisco">*</div>
                </div>
                <div class="containerLocalizacao">
                    <select id="localizacaoProduto">
                        <option value="paredeCentro">xx</option>
                        <option value="armario" selected>xx</option>
                        <option value="porta">xx</option>
                    </select>
                    <select id="localizacaoProduto">
                        <option value="paredeCentro">xx</option>
                        <option value="armario" selected>xx</option>
                        <option value="porta">xx</option>
                    </select>
                    <select id="localizacaoProduto">
                        <option value="paredeCentro">xx</option>
                        <option value="armario" selected>xx</option>
                        <option value="porta">xx</option>
                    </select>
                </div>
            </div>
            <div class="opcao">
                <div class="texto">
                    <span>Opção: </span>
                    <div class="asterisco">*</div>
                </div>
                <select *ngIf="item.descartavel" id="selecionarDescartavel">
                    <option value="true" [(ngModel)]="item.descartavel" selected>Descartável</option>
                    <option value="false" [(ngModel)]="item.descartavel">Não Descartável</option>
                </select>
                <select *ngIf="!item.descartavel" id="selecionarDescartavel">
                    <option value="false" [(ngModel)]="item.descartavel" selected>Não Descartável</option>
                    <option value="true" [(ngModel)]="item.descartavel">Descartável</option>
                </select>
                <div class="texto">
                    <span>QTD: </span>
                    <div class="asterisco">*</div>
                </div>
                <input class="inputQtd" type="text" placeholder="xx" [(ngModel)]="item.quantidade" />
            </div>
            <div class="anexo">
                <input type="text" placeholder="Adicionar Anexo" class="inputAnexo" />
                <label for="arquivo"> </label>
                <input type="file" name="arquivo" id="arquivo" />
            </div>
            <button (click)="editarItem()" class="botaoCadastrar">Editar</button>
        </div>
    </div>
</div>