<div class="modalUser">
    <h3 class="tituloFiltroModalUser">Filtro</h3>
    <div class="setaUser"></div>
    <div id="containerCheckboxes">
        <div id="containerEsquerdo">
            <div class="containerCadaCheck">
                <input (change)="enviarFiltros()" type="checkbox" id="descartavelCheckbox" [(ngModel)]="filtrosAtuais[0]" />
                <label class="checkboxes" for="descartavelCheckbox">Descartável</label>
            </div>
            <div class="containerCadaCheck">
                <input (change)="enviarFiltros()" type="checkbox" id="naoDescartavelCheckbox" [(ngModel)]="filtrosAtuais[2]" />
                <label class="checkboxes" for="naoDescartavelCheckbox">Não Descartável</label>
            </div>
            <div class="containerCadaCheck">
                <input (change)="enviarFiltros()" type="checkbox" id="comEstoqueCheckbox" [(ngModel)]="filtrosAtuais[1]" />
                <label class="checkboxes" for="comEstoqueCheckbox">Com Estoque</label>
            </div>
            <div class="containerCadaCheck">
                <input (change)="enviarFiltros()" type="checkbox" id="semEstoqueCheckbox" [(ngModel)]="filtrosAtuais[3]" />
                <label class="checkboxes" for="semEstoqueCheckbox">Sem Estoque</label>
            </div>
        </div>
    </div>
    <div id="containerBotao">
        <button class="btnFiltrarModal" (click)="limparFiltros()">Limpar</button>
    </div>
</div>