<html>

<body>
    <div class="divPrincipal">
        <div id="containerLogin">
            <div id="barraAzul">
                <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
            </div>
            <h1 id="titulo">
                Cadastrar
            </h1>
            <input type="text" class="inputsCadastro" placeholder="Nome">
            <input type="email" class="inputsCadastro" placeholder="Email">
            <input type="password" class="inputsCadastro" placeholder="Senha">
            <input type="password" class="inputsCadastro" placeholder="Confirmar Senha">
            <button id="cadastrar" (click)="cadastrar()">
                Cadastrar
            </button>
            <p id="textoConta">
                Já possui uma conta?
                <span (click)="entrar()" id="entrar">Entrar</span>
            </p>
        </div>
    </div>
</body>

</html>