<html>

<body>
    <div class="divPrincipal">
        <div *ngIf="senhaIncorreta == 1" id="modalCadastro">
            <div class="divInfo">
                <img id="fechar" (click)="fechar()" src="../../../assets/close.png" alt="Fechar modal de informação">
                <img id="imgAlerta2" src="../../../assets/alert.png" alt="Ícone de alerta">
                <span id="spanCadastro">Senhas não Correspondem</span>
            </div>
            <div id="fundo" style="background-color: #AEAEAE;">
                <div id="vermelho"></div>
            </div>
        </div>
        <div *ngIf="dadosIncorretos == 1" id="modalCadastro">
            <div class="divInfo">
                <img id="fechar" (click)="fechar()" src="../../../assets/close.png" alt="Fechar modal de informação">
                <img id="imgAlerta2" src="../../../assets/alert.png" alt="Ícone de alerta">
                <span id="spanCadastro">Preencha todos os campos</span>
            </div>
            <div id="fundo" style="background-color: #AEAEAE;">
                <div id="vermelho"></div>
            </div>
        </div>
        <div id="containerLogin">
            <div id="barraAzul">
                <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
            </div>
            <h1 id="titulo">
                Cadastrar
            </h1>
            <input type="text" class="inputsCadastro" placeholder="Nome" [(ngModel)]="usuario">
            <input type="email" class="inputsCadastro" placeholder="Email" [(ngModel)]="email">
            <div class="divSenha">
                <input type="password" class="inputsCadastro2" placeholder="Senha" id="inputSenha1" [(ngModel)]="senhaUser">
                <img src="../../../assets/olho-fechado.png" class="imgOlho" (click)="trocarOlho(1)" id="olho1" alt="Visualização da senha">
            </div>
            <div class="divSenha">
                <input type="password" class="inputsCadastro2" placeholder="Confirmar Senha" id="inputSenha2" [(ngModel)]="repetirSenhaUser">
                <img src="../../../assets/olho-fechado.png" class="imgOlho" (click)="trocarOlho(2)" id="olho2" alt="Visualização da senha">
            </div>
            <button id="cadastrar" (click)="cadastrar()">
                Cadastrar
            </button>
            <p id="textoConta">
                Já possui uma conta?
                <span (click)="entrar()" id="entrar">Entrar</span>
            </p>
        </div>
    </div>
</body>

</html>