<html>

<body>
    <div class="divPrincipal">
        <div id="containerLogin">
            <div id="barraAzul">
                <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
            </div>
            <h1 id="titulo">
                Cadastrar
            </h1>
            <input type="text" class="inputsCadastro" placeholder="Nome">
            <input type="email" class="inputsCadastro" placeholder="Email">
            <div class="divSenha">
                <input type="password" class="inputsCadastro2" placeholder="Senha" id="inputSenha1">
                <img src="../../../assets/olho-fechado.png" class="imgOlho" (click)="trocarOlho(1)" id="olho1">
            </div>
            <div class="divSenha">
                <input type="password" class="inputsCadastro2" placeholder="Confirmar Senha" id="inputSenha2">
                <img src="../../../assets/olho-fechado.png" class="imgOlho" (click)="trocarOlho(2)" id="olho2">
            </div>
            <button id="cadastrar" (click)="cadastrar()">
                Cadastrar
            </button>
            <p id="textoConta">
                Já possui uma conta?
                <span (click)="entrar()" id="entrar">Entrar</span>
            </p>
        </div>
    </div>
</body>

</html>