<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<app-header></app-header>
<app-filtro></app-filtro>
<main>
    <!-- ------------------------------- CAMINHO DO SITE (O PATH) ------------------------------ -->
    <div id="caminho">
        <div id="iconHome">
            <span title="Tela inicial" id="iconHome" class="material-symbols-outlined iconDeselect" alt="Casa" (click)="home()">
                home
            </span>
        </div>
        <div id="iconMaior">
            <span class="material-symbols-outlined iconDeselect iconMaior" alt="Maior">
                arrow_forward_ios
            </span>
        </div>
        <p id="caminhoReservas">Minhas Reservas</p>
    </div>
    <!-- ------------------------------- FIM CAMINHO DO SITE (O PATH) ------------------------------ -->

    <!-- ------------------------- CONTEUDO GERAL DA PÁGINA -------------------------------->
    <div id="container">
        <div id="containerConteudo">
            <div id="botoes">
                <div id="divBotoesNavegacao">
                    <button (click)="trocarVisualizacao(1)" class="reservasPendentes">Reservas pendentes</button>
                    <button (click)="trocarVisualizacao(2)" class="historicoReservas">Histórico de reservas</button>
                </div>
                <div class="divLegenda">
                    <div class="legenda" *ngIf="reservasPendentes">
                        <div class="bola" style="background-color: red;"></div>
                        <span class="labelLegenda">Devolução Atrasada</span>
                    </div>
                    <div class="legenda" *ngIf="reservasPendentes">
                        <div class="bola" style="background-color: #D47606"></div>
                        <span class="labelLegenda">Esperando Devolução</span>
                    </div>
                    <div class="legenda" *ngIf="reservasPendentes">
                        <div class="bola" style="background-color: green;"></div>
                        <span class="labelLegenda">Esperando Retirada</span>
                    </div>
                    <div class="legenda" *ngIf="reservasHistorico">
                        <div class="bola" style="background-color: red;"></div>
                        <span class="labelLegenda">Cancelada</span>
                    </div>
                    <div class="legenda" *ngIf="reservasHistorico">
                        <div class="bola" style="background-color: green;"></div>
                        <span class="labelLegenda">Concluída</span>
                    </div>
                </div>
            </div>
            <div id="containerInput">
                <div id="divInput">
                    <input id="input" type="text" placeholder="Pesquise por produto...">
                    <span title="Lupa" id="lupa" class="material-symbols-outlined iconDeselect">
                        search
                    </span>
                </div>
                <p id="resultados">x Resultados encontrados</p>
            </div>
            <div id="containerReservas">
                <app-reserva-professor *ngFor="let reserva of listaReservas" class="reserva" [reserva]="reserva">
                </app-reserva-professor>
                <app-reserva-professor *ngFor="let reserva of listaReservas" class="reserva" [reserva]="reserva">
                </app-reserva-professor>
                <app-reserva-professor *ngFor="let reserva of listaReservas" class="reserva" [reserva]="reserva">
                </app-reserva-professor>
                <app-reserva-professor *ngFor="let reserva of listaReservas" class="reserva" [reserva]="reserva">
                </app-reserva-professor>
            </div>
        </div>
    </div>
    <!-- ------------------------- FIM CONTEUDO GERAL DA PÁGINA -------------------------------->
</main>