* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100%;
}

p{
    margin-bottom: 0;
}

/* <!-- ------------------------------- CAMINHO DO SITE (O PATH) ------------------------------ --> */
#caminho {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-left: 5.5rem;
    height: 30px;
}

#iconHome {
    font-size:22px;
    cursor: pointer;
    font-weight: 250;
}

#iconHome:hover {
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#iconMaior .iconMaior {
    font-size: 15px;
}

#iconMaior{
    cursor: default;
}

#caminho p {
    margin-bottom: 0.3rem;
}

#caminhoReservas {
    font-size: var(--font-size--small);
    font-weight: 500;
    cursor: pointer;
}

#caminhoReservas:hover {
    color: #0047B6;
}

/* <!-- ------------------------------- FIM CAMINHO DO SITE (O PATH) ------------------------------ --> */

/* <!-- ------------------------- CONTEUDO GERAL DA PÁGINA --------------------------------> */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#containerConteudo {
    margin-top: 2rem;
    width: 80%;
}

#containerInput {
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

#divInput {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 23rem;
    height: 2.4rem;
}

#input {
    padding-left: 0.5rem;
    outline: none;
    border: 0;
    width: 100%;
}

#lupa {
    font-size: var(--font-size--giant);
    font-weight: 350;
    opacity: 0.7;
    cursor: pointer;
}

#lupa:hover {
    opacity: 0.8;
}

#resultados {
    font-size: var(--font-size--small);
    margin-top: 0.3rem;
    opacity: 0.7;
}

#botoes {
    display: flex;
    width: 100%;
    border-bottom: solid 1px black;
}

#divBotoesNavegacao {
    display: flex;
    width: 30%;
}

.reservasPendentes,
.historicoReservas {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.reservasPendentes {
    color: black;
    background-color: transparent;
    font-size: var(--font-size--small);
    border-bottom: solid 2px #0047B6;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
       opacity: 0.5;
    }

    to {
       opacity: 1;
    }
}

.reservasPendentes:hover {
    color: #0047B6;
}

.historicoReservas {
    background-color: #fff;
    font-size: var(--font-size--small);
}

.historicoReservas:hover {
    background-color: rgb(241, 240, 240);
}

.divLegenda {
    width: 70%;
    min-height: 28px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.legenda {
    width: 28%;
    min-width: 150px;
    display: flex;
    align-items: center;
}

.bola {
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.labelLegenda {
    margin-left: 10px;
    font-size: var(--font-size--small);
}

#risco {
    margin-top: 0.5rem;
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

#containerReservas {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */

    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* justify-content: center; */
}

/* <!-- ------------------------- FIM CONTEUDO GERAL DA PÁGINA --------------------------------> */