<div id="editarUser">
    <div id="modalEditar">
        <div id="barraAzul">
            <div id="user">
                <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário" />
                <div id="alterarFoto">Config</div>
            </div>
        </div>
        <div id="iconSair">
            <span title="Fechar" (click)="fechar()" id="fecharIcone" class="fecharModalUser"
                class="material-symbols-outlined iconDeselect">
                close
            </span>
        </div>
        <div id="nomeUsuario">
            <p>Tamanho da Fonte: </p>
        </div>
        <select class="selectFonte" [(ngModel)]="fonteAtual">
            <option id="fonteMuitoPequena" value="1">Muito Pequena</option>
            <option id="fontePequena" value="2">Pequena</option>
            <option id="fontePadrao" value="3">Padrão</option>
            <option id="fonteGrande" value="4">Grande</option>
            <option id="fonteMuitoGrande" value="5">Muito Grande</option>
        </select>
        <div class="divEscuro">
            <span class="textEscuro">Modo Escuro</span>
            <label class="switch">
                <input type="checkbox" id="checkboxEscuro" [checked]="darkMode$ | async"/>
                <span class="slider round"></span>
            </label>
        </div>
        <button type="button" id="salvarConfig" (click)="salvarConfig()">
            Salvar
        </button>
    </div>
</div>