<app-header></app-header>
<app-filtro></app-filtro>

<main>
    <div class="divPrincipal">
        <div id="caminho">
            <img id="casa" src="../../../assets/casa.png" alt="Casa">
            <img id="maior" src="../../../assets/maior-preto.png" alt="Maior">
            <p>Minha Sacola</p>
        </div>
        <div class="tituloSacolas">
            <b><span class="tituloPagina">Minhas Sacolas</span></b>
        </div>
        <div class="containerSacolas">
            <app-sacola></app-sacola>
            <app-sacola></app-sacola>
        </div>
        <div *ngIf="contadorReservar == 1" class="modalReservar">
            <div class="containerModal">
                <div class="linhaAzul"></div>
                <img class="iconeAlert" src="../../../assets/alert.png" alt="">
                <div class="containerInfoModal">
                    <span class="textoModal">Tem certeza que deseja recusar?</span>
                </div>
                <div class="containerBotoes">
                    <button (click)="cancelar()" class="botaoCancelar">Cancelar</button>
                    <button class="botaoRecusar">Recusar</button>
                </div>
            </div>
        </div>
    </div>
</main>