<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<!-- -------- MODAL EDITAR USER -------- -->
<div *ngIf="abrirEditar" id="editarUser">
  <div id="modalEditar">
    <div id="barraAzul">
      <div id="user">
        <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem de usuário">
        <div id="alterarFoto">
          Alterar
        </div>
      </div>
    </div>
    <div id="iconSair">
      <span title="Fechar" (click)="fechar()" id="fecharIcone" class="fecharModalUser" class="material-symbols-outlined iconDeselect">
        close
      </span>
    </div>
    <div id="nomeUsuario">
      <div class="texto">
        <p>Usuário</p>
        <div class="asterisco">*</div>
      </div>

    </div>
    <input type="text" class="inputNome" placeholder="Nome de usuário" [(ngModel)]="usuario">
    <div id="tituloSenha">
      <div class="texto">
        <p>Senha</p>
        <div class="asterisco">*</div>
      </div>

    </div>
    <div class="divSenha">
      <input type="password" class="inputsSenha" id="inputSenha1" placeholder="Senha" [(ngModel)]="senha">
      <span *ngIf="!trocarOlho1" class="material-symbols-outlined imgOlho iconDeselect" id="olho1" (click)="trocarOlho(1)" alt="Visualização da senha">
        visibility_off
      </span>
      <span *ngIf="trocarOlho1" class="material-symbols-outlined imgOlho iconDeselect" id="olho1" (click)="trocarOlho(1)" alt="Visualização da senha">
          visibility
      </span>
    </div>
    <div id="tituloConfirmarSenha">
      <div class="texto">
        <p>Confirmar senha</p>
        <div class="asterisco">*</div>
      </div>
    </div>
    <div class="divConfirmarSenha">
      <input type="password" class="inputsSenha" id="inputSenha2" placeholder="Confirmar senha"
        [(ngModel)]="ConfirmarSenha">
        <span *ngIf="!trocarOlho2" class="material-symbols-outlined imgOlho2 iconDeselect" id="olho2" (click)="trocarOlho(2)" alt="Visualização da senha">
          visibility_off
        </span>
        <span *ngIf="trocarOlho2" class="material-symbols-outlined imgOlho2 iconDeselect" id="olho2" (click)="trocarOlho(2)" alt="Visualização da senha">
          visibility
        </span>
    </div>
    <button type="button" id="salvar" (click)="salvar()">
      Salvar
    </button>
  </div>
</div>
<!-- ----------- FIM MODAL EDITAR USER ------------ -->

<!-- -------- MODAL CONFIGURAÇÕES -------- -->
<div *ngIf="configuracoes" id="editarUser">
  <div id="modalEditar">
    <div id="barraAzul">
      <div id="user">
        <img id="imagemUsuario" src="../../../assets/user.png" alt="Imagem usuário">
        <div id="alterarFoto">
          Alterar
        </div>
      </div>
    </div>
    <div id="iconSair">
      <span title="Fechar" (click)="fechar()" id="fecharIcone" class="fecharModalUser" class="material-symbols-outlined iconDeselect">
        close
      </span>
    </div>
    <div id="nomeUsuario">
      <p>Tamanho da Fonte</p>
    </div>
    <select class="selectFonte" [(ngModel)]="fonteAtual">
      <option value="1">Muito Pequena</option>
      <option value="2">Pequena</option>
      <option value="3" selected>Padrão</option>
      <option value="4">Grande</option>
      <option value="5">Muito Grande</option>
    </select>
    <div class="divEscuro">
      <span class="textEscuro">Modo Escuro</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button type="button" id="salvarConfig" (click)="salvarConfig()">
      Salvar
    </button>
  </div>
</div>
<!-- ----------- FIM MODAL CONFIGURAÇÕES ------------ -->

<div id="containerHeader">
  <div id="header">
    <div (click)="navegacaoTipo()" id="logo">
      <img id="logoSesi" src="../../../assets/logo.png" alt="Logo Sesi Senai" />
      <img src="../../../assets/LogoSite.png" id="logoSite" alt="Logo do AlmaSis">
      <p>AlmaSis</p>
    </div>
    <div id="icones">
      <div id="sacola">
        <span title="Sacola" id="topHeader" class="material-symbols-outlined iconDeselect" (click)="sacolas()">
          shopping_bag
        </span>
      </div>
      <div id="usuarioIcone" (click)="abrirUser()">
        <span title="Usuario" id="topHeader" class="material-symbols-outlined iconDeselect">
          account_circle
        </span>
      </div>
    </div>
    <!-- -------- MODAL USER -------- -->
    <div *ngIf="user == 1" class="modalUser">
      <div class="setaUser"></div>
      <div id="editarPerfil">
        <span title="Editar" (click)="editarPerfil()" id="iconEditarPerfil" class="material-symbols-outlined iconDeselect">
          edit
        </span>
      </div>
      <div id="usuarioIconeModal">
        <span title="Usuario" id="topHeader" class="material-symbols-outlined iconDeselect">
          account_circle
        </span>
      </div>
      <span class="nomeUser">{{nomeUsuario}}</span>
      <span class="emailUser">{{emailUsuario}}</span>
      <hr style="width: 80%;">
      <div *ngIf="usuarioTipo == 1" class="divOpcao">
        <span title="Usuarios" id="iconsUser" class="material-symbols-outlined iconDeselect">
          pending_actions
        </span>
        <span class="spanUser" (click)="navegar('/professor/reservas')">Minhas Reservas</span>
      </div>
      <div class="divOpcao">
        <span  title="Configurações" id="iconsUser" class="material-symbols-outlined iconDeselect">
          settings
        </span>
        <span class="spanUser" (click)="abrirConfiguracoes()">Configurações</span>
      </div>
      <div class="divOpcao">
        <span  title="Configurações" id="iconsUser" class="material-symbols-outlined iconDeselect">
          help
        </span>
        <span class="spanUser" (click)="abrirAjuda()">Ajuda</span>
      </div>
      <div class="divOpcao" (click)="logout()">
        <span title="Deslogar" id="imgUser2" class="material-symbols-outlined iconDeselect">
          logout
        </span>
        <span class="spanUser">Sair</span>
      </div>
    </div>
    <!-- ----------- FIM MODAL USER ------------ -->
  </div>
  <div id="barraSeparacao"></div>
</div>