* {
    padding: 0;
    margin: 0;
}

#containerHeader {
    min-width: 520px;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#header, #logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#logo {
    cursor: pointer;
}

p {
    margin-left: 12px;
    color: #0047B6;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

#sacola,
#usuarioIcone {
    float: left;
    margin: 0 5px 0 5px;
    color: #0047B6;
    cursor: pointer;
}

#sacola:hover,
#usuarioIcone:hover {
    color: #00296b;
}

.material-symbols-outlined {
    font-size: 45px !important;
}

#barraSeparacao {
    width: 100%;
    height: 2px;
    background-color: #0000008a;
}

.modalUser {
    position: absolute;
    top: 80%;
    min-width: 200px;
    width: 14%;
    height: 25vh;
    right: 2%;
    background-color: white;
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.setaUser {
    position: absolute;
    width: 20px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    right: 2%;
    top: -10px;
}

.nomeUser {
    font-weight: 500;
    font-size: 17px;
}

.emailUser {
    font-size: 10px;
    font-weight: 600;
    color: gray;
    text-align: center;
}

.divOpcao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divOpcao:hover {
    cursor: pointer;
}

.imgsUser {
    margin-right: 3%;
    width: 14%;
}

#imgUser2 {
    transform: scaleX(-1);
    margin-right: 3%;
    width: 14%;
}

.spanUser {
    font-size: 14px;
    font-weight: 500;
}