<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div id="containerHeader">
  <div id="header">
    <div (click)="navegacaoTipo()" id="logo">
      <img id="logoSesi" src="../../../assets/logo.png" alt="Sesi Senai" />
      <p>AlmaSis</p>
    </div>

    <div id="icones">
      <div id="sacola">
        <span class="material-symbols-outlined" (click)="navegar('/professor/sacolas')">
          shopping_bag
        </span>
      </div>
      <div id="usuarioIcone" (click)="abrirUser()">
        <span class="material-symbols-outlined">
          account_circle
        </span>
      </div>
    </div>
    <div *ngIf="user == 1" class="modalUser">
      <div *ngIf="user == 1" class="setaUser"></div>
      <div id="usuarioIcone">
        <span class="material-symbols-outlined">
          account_circle
        </span>
      </div>
      <span class="nomeUser">{{nomeUsuario}}</span>
      <span class="emailUser">{{emailUsuario}}</span>
      <hr style="width: 80%;">
      <div *ngIf="usuarioTipo == 1" class="divOpcao">
        <img src="../../../assets/agenda.png" class="imgsUser">
        <span class="spanUser" (click)="navegar('/professor/reservas')">Minhas Reservas</span>
      </div>
      <div class="divOpcao">
        <img (click)="logout()" src="../../../assets/sair.png" id="imgUser2">
        <span class="spanUser" (click)="logout()">Sair</span>
      </div>
    </div>
  </div>
  <div id="barraSeparacao"></div>
</div>