<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Modal Ordenar -->
<app-modal-ordenar *ngIf="modalOrdenar" (fecharModal)="mudarModaisPesquisa(1)" (ordenarItens)="ordenarItens($event)"
    [listaOrdenacoes]="listaOrdenacoes"></app-modal-ordenar>

<app-header></app-header>
<app-filtro></app-filtro>

<main>
    <!-- Home com todas as outras funcionalidade -->
    <div *ngIf="true" class="divPrincipal">
        <div id="container">
            <div id="containerConteudo">
                <div id="containerInput">
                    <div id="containerLinhaInput">
                        <div id="containerInputOrdenar">

                            <!-- Input principal de pesquisa -->
                            <div id="divInput">
                                <input [(ngModel)]="inputGeral" class="input" type="text"
                                    placeholder="{{retornaPlaceholderPesquisa()}}" />
                                <span title="Lupa" id="lupa" class="material-symbols-outlined iconDeselect">
                                    search
                                </span>
                            </div>


                            <div id="iconListaBloco">
                                <span *ngIf="abaItens" (click)="mudarModaisPesquisa(1)" id="iconOrdernar"
                                    class="material-symbols-outlined iconDeselect iconsModais" title="Ordernar">
                                    sync_alt
                                </span>

                                <span *ngIf="listaEmBloco" (click)="mudarVisualizacao()" id="iconEmBloco"
                                    class="material-symbols-outlined iconDeselect" title="Ver em bloco">
                                    grid_view
                                </span>
                                <span *ngIf="!listaEmBloco" (click)="mudarVisualizacao()" id="iconEmLista"
                                    class="material-symbols-outlined iconDeselect" title="Ver em lista">
                                    sort
                                </span>
                            </div>
                        </div>
                        <button *ngIf="abaLocalizacoes" id="botaoCadastrarLocalizacoes"
                            (click)="aparecerModalLocalizacao()">
                            Cadastrar localizações
                        </button>
                        <button *ngIf="listaItens == 1 && (tipoUsuario == 3 || tipoUsuario == 4)"
                            id="botaoCadastrarProduto" (click)="aparecerModalCadastrar()">
                            Cadastrar Item
                        </button>
                    </div>
                    <div id="filtro"></div>
                    <p id="resultados">{{ numResultados }} Resultados encontrados</p>
                </div>


                <!-- Botões para troca de abas -->
                <div id="botoes">
                    <button *ngIf="tipoUsuario == 4" (click)="mudarAba(1)" id="gerenciarUsuarios"
                        [ngClass]="retornarClasseAba(1)">
                        Gerenciar usuários
                    </button>
                    <button *ngIf="tipoUsuario == 4" (click)="mudarAba(2)" id="gerenciarCadastros"
                        [ngClass]="retornarClasseAba(2)">
                        Gerenciar cadastros
                    </button>
                    <button (click)="mudarAba(3)" id="devolucoes" [ngClass]="retornarClasseAba(3)">
                        Baixa nas devoluções
                    </button>
                    <button (click)="mudarAba(4)" id="retirada" [ngClass]="retornarClasseAba(4)">
                        Confirmar retirada
                    </button>
                    <button (click)="mudarAba(5)" id="listaItens" [ngClass]="retornarClasseAba(5)">
                        Lista de itens
                    </button>
                    <button *ngIf="tipoUsuario == 3 || tipoUsuario == 4" (click)="mudarAba(6)" id="localizacoes"
                        [ngClass]="retornarClasseAba(6)">
                        Localizações
                    </button>
                </div>
                <div id="risco"></div>


                <!-- Aba de aceitar / recusar cadastros novos de usuários, separados em bloco ou lista -->
                <div *ngIf="abaGerenciaCadastros && listaEmBloco" class="usuarios">
                    <app-cadastrar-usuario [listaEmBloco]="true"></app-cadastrar-usuario>
                </div>
                <div *ngIf="abaGerenciaCadastros && !listaEmBloco" class="usuarios">
                    <app-cadastrar-usuario style="width: 100%;" [listaEmBloco]="false"></app-cadastrar-usuario>
                </div>

                <!-- Aba de editar ou excluir usuários existente, separada em bloco e lista (falta lista) -->
                <div *ngIf="abaGerenciaUsuarios && listaEmBloco" class="telaUsuarios">
                    <app-gerenciar-usuario></app-gerenciar-usuario>
                </div>
                <div *ngIf="abaGerenciaUsuarios && !listaEmBloco" class="telaUsuarios">

                </div>

                <div *ngIf="abaDevolucoes" class="containerDevolucoes">
                    <app-reserva *ngFor="let reserva of reservasDevolucao" [reserva]="reserva"></app-reserva>
                </div>
                <div *ngIf="abaRetiradas" class="containerRetirada">
                    <app-reserva *ngFor="let reserva of reservasRetirada" [reserva]="reserva"></app-reserva>
                </div>

                <!-- Itens do Almoxarifado, listados em bloco ou em linha -->
                <div *ngIf="listaEmBloco && abaItens" id="containerItens">
                    <app-item [visualizacaoItem]="'emBloco'" *ngFor="let item of listaItens" [item]="item"></app-item>
                </div>

                <div *ngIf="!listaEmBloco && abaItens" id="containerItensLista">
                    <app-item-lista [itens]="listaItens"></app-item-lista>
                </div>

                <div *ngIf="abaLocalizacoes" id="conteudoLocalizacoes">
                    <div id="containerAcoesLocalizacao">
                        <mat-checkbox id="selecionar-tudo" [(ngModel)]="selectAllLocalizacoes" (click)="selectAll()">
                            Selecionar tudo</mat-checkbox>
                        <div id="btnLocalizacao">
                            <button (click)="confirmacaoLocalizacao()"
                                class="btn btn-outline-primary btnCustom">Deletar</button>
                        </div>
                    </div>
                    <app-localizacao [localizacoes]="localizacoesFiltradas"></app-localizacao>
                </div>
            </div>
        </div>
    </div>
</main>