<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Modais que escurecem a tela -->
<div *ngIf="localizacaoModal || modalCadastrarItem" id="fundoModal">

    <!-- Modal Cadastrar localização -->
    <app-cadastrar-localizacao-modal *ngIf="localizacaoModal" (fecharModal)="mudarModaisPesquisa(2, $event)">
    </app-cadastrar-localizacao-modal>

    <!-- Modal Cadastrar Item -->
    <app-cadastrar-item *ngIf="modalCadastrarItem" (fecharModal)="mudarModaisPesquisa(3, $event)"></app-cadastrar-item>
</div>

<!-- Feedback Cadastro de Localização -->
<app-modal-feedback *ngIf="feedbackLocalizacaoCadastrada" [tipoFeedback]="16" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<!-- Feedback Cadastro de Item -->
<app-modal-feedback *ngIf="feedbackItemCadastrado" [tipoFeedback]="17" (fecharModal)="fecharModaisFeedback(1)">
</app-modal-feedback>

<!-- Feedback de sacola reservada -->
<app-modal-feedback *ngIf="feedbackSacolaReservada" [tipoFeedback]="1" (fecharModal)="fecharModaisFeedback(3)"></app-modal-feedback>

<!-- Feedback de sacola excluída -->
<app-modal-feedback *ngIf="feedbackSacolaExcluida" [tipoFeedback]="5" (fecharModal)="fecharModaisFeedback(4)"></app-modal-feedback>

<app-header></app-header>
<app-filtro></app-filtro>

<main>
    <!-- Home com todas as outras funcionalidades -->
    <div *ngIf="true" class="divPrincipal">
        <div id="container">
            <div id="containerConteudo">
                <div id="containerInput">
                    <div id="botoes">
                        <button *ngIf="tipoUsuario == 4" (click)="mudarAba(1)" id="gerenciarUsuarios"
                            [ngClass]="retornarClasseAba(1)">
                            Gerenciar usuários
                        </button>
                        <button *ngIf="tipoUsuario == 4" (click)="mudarAba(2)" id="gerenciarCadastros"
                            [ngClass]="retornarClasseAba(2)">
                            Gerenciar cadastros
                        </button>
                        <button (click)="mudarAba(3)" id="devolucoes" [ngClass]="retornarClasseAba(3)">
                            Baixa nas devoluções
                        </button>
                        <button (click)="mudarAba(4)" id="retirada" [ngClass]="retornarClasseAba(4)">
                            Confirmar retirada
                        </button>
                        <button (click)="mudarAba(5)" id="listaItens" [ngClass]="retornarClasseAba(5)">
                            Lista de itens
                        </button>
                        <button *ngIf="tipoUsuario == 3 || tipoUsuario == 4" (click)="mudarAba(6)" id="localizacoes"
                            [ngClass]="retornarClasseAba(6)">
                            Localizações
                        </button>
                    </div>

                    <div id="containerLinhaInput">
                        <div id="containerInputOrdenar">

                            <!-- Input principal de pesquisa -->
                            <div id="divInput">
                                <input [(ngModel)]="inputGeral" class="input" type="text"
                                    placeholder="{{retornaPlaceholderPesquisa()}}" />
                                <span title="Pesquisar" id="lupa" class="material-symbols-outlined iconDeselect">
                                    search
                                </span>
                            </div>

                            <div id="iconListaBloco">
                                <span *ngIf="abaItens" (click)="mudarModalOrdenar()" id="iconOrdernar"
                                    class="material-symbols-outlined iconDeselect iconsModais" title="Ordernar">
                                    sync_alt
                                </span>
                                <!-- Modal Ordenar -->
                                <app-modal-ordenar *ngIf="modalOrdenar" (fecharModal)="mudarModalOrdenar()"
                                (ordenarItens)="ordenarItens($event)" [listaOrdenacoes]="listaOrdenacoes" id="appModalOrdenar"></app-modal-ordenar>

                                <span *ngIf="listaEmBloco && !abaLocalizacoes" (click)="mudarVisualizacao()"
                                    id="iconEmBloco" class="material-symbols-outlined iconDeselect"
                                    title="Ver em bloco">
                                    grid_view
                                </span>
                                <span *ngIf="!listaEmBloco && !abaLocalizacoes" (click)="mudarVisualizacao()"
                                    id="iconEmLista" class="material-symbols-outlined iconDeselect"
                                    title="Ver em lista">
                                    sort
                                </span>
                            </div>
                        </div>
                        <button *ngIf="abaLocalizacoes" mat-flat-button color="primary"
                            (click)="mudarModaisPesquisa(2, '')">
                            Cadastrar Localização
                        </button>
                        <button *ngIf="abaItens && (tipoUsuario == 3 || tipoUsuario == 4)" mat-flat-button
                            color="primary" (click)="mudarModaisPesquisa(3, '')">
                            Cadastrar Item
                        </button>
                    </div>
                    <div id="filtro"></div>
                    <p id="resultados">{{ numResultados }} Resultados encontrados</p>
                </div>


                <!-- Botões para troca de abas -->

                <!-- Aba de aceitar / recusar cadastros novos de usuários, separados em bloco ou lista -->
                <div *ngIf="abaGerenciaCadastros && listaEmBloco" class="usuarios">
                    <app-cadastrar-usuario [listaEmBloco]="true"></app-cadastrar-usuario>
                </div>
                <div *ngIf="abaGerenciaCadastros && !listaEmBloco" class="usuarios">
                    <app-cadastrar-usuario-lista [listaCadastros]="listaCadastrosPendentes" style="width: 100%;">
                    </app-cadastrar-usuario-lista>
                </div>

                <!-- Aba de editar ou excluir usuários existente, separada em bloco e lista -->
                <div *ngIf="abaGerenciaUsuarios && listaEmBloco" class="telaUsuarios">
                    <app-gerenciar-usuario></app-gerenciar-usuario>
                </div>
                <div *ngIf="abaGerenciaUsuarios && !listaEmBloco" class="telaUsuarios">
                    <app-gerenciar-usuario-lista [listaUsuarios]="listaUsuarios" style="width: 100%;">
                    </app-gerenciar-usuario-lista>
                </div>

                <!-- Aba de baixa nas devoluções, separada em bloco e lista -->
                <div *ngIf="abaDevolucoes && listaEmBloco" class="containerDevolucoes">
                    <app-reserva *ngFor="let reserva of reservasDevolucao" [reserva]="reserva"></app-reserva>
                </div>
                <div *ngIf="abaDevolucoes && !listaEmBloco" class="containerDevolucoes">
                    <app-reserva-lista [listaReservas]="reservasDevolucao" style="width: 100%;"></app-reserva-lista>
                </div>

                <!-- Aba de confirmar retirada, separada em bloco e lista -->
                <div *ngIf="abaRetiradas && listaEmBloco" class="containerRetirada">
                    <app-reserva *ngFor="let reserva of reservasRetirada" [reserva]="reserva"></app-reserva>
                </div>
                <div *ngIf="abaRetiradas && !listaEmBloco" class="containerRetirada">
                    <app-reserva-lista [listaReservas]="reservasRetirada" style="width: 100%;"></app-reserva-lista>
                </div>

                <!-- Itens do Almoxarifado, listados em bloco ou em linha -->
                <div *ngIf="listaEmBloco && abaItens" id="containerItens">
                    <app-item [visualizacaoItem]="'emBloco'" *ngFor="let item of listaItens" [item]="item"></app-item>
                </div>

                <div *ngIf="!listaEmBloco && abaItens" id="containerItensLista">
                    <app-item-lista [itens]="listaItens"></app-item-lista>
                </div>

                <div *ngIf="abaLocalizacoes" id="conteudoLocalizacoes">
                    <div id="containerAcoesLocalizacao">
                        <mat-checkbox id="selecionar-tudo" [(ngModel)]="selectAllLocalizacoes" (click)="selectAll()">
                            Selecionar tudo</mat-checkbox>
                        <div id="btnLocalizacao">
                            <button (click)="excluirLocalizacoes()"
                                class="btn btn-outline-primary btnCustom">Deletar</button>
                        </div>
                    </div>
                    <app-localizacao [localizacoes]="localizacoesFiltradas"></app-localizacao>
                </div>
            </div>
        </div>
    </div>
</main>