* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size--default);
}

main {
    width: auto;
    margin: 0;
}

p {
    font-size: var(--font-size--small);
    font-weight: 500;
}

h1 {
    color: #0047B6;
}

.semAzul {
    background-color: #fff;
    font-size: var(--font-size--small);
}

.semAzul:hover {
    background-color: rgb(241, 240, 240);
}

.semAzul, 
.comAzul{
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.comAzul {
    color: black;
    background-color: transparent;
    font-size: var(--font-size--small);
    border-bottom: solid 2px #0047B6;
    animation-duration: 1s;
    animation-name: slidein;
}

.comAzul:hover {
    color: #003791;
}

#fundoModal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
}

.divPrincipal {
    width: auto;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 890px;
}

#containerConteudo {
    margin-top: 2rem;
    width: 80%;
}

#containerInput {
    margin-bottom: 1.2rem;
}

#divInput {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    width: 23rem;
    height: 2.4rem;
}

.input {
    background-color: transparent;
    padding-left: 0.5rem;
    outline: none;
    border: 0;
    width: 100%;
}

#iconListaBloco {
    display: flex;
    align-items: center;
}

#iconEmBloco,
#iconOrdernar {
    font-weight: 250;
    font-size: 30px;
    cursor: pointer;
    animation: opacidade 0.5s;
    margin: 0 0 0 1%;
}

#iconOrdernar {
    transform: rotate(90deg);
}

#appModalOrdenar {
    position: absolute;
}

#iconEmLista {
    font-weight: 250;
    font-size: 30px;
    cursor: pointer;
    animation: opacidade 0.5s;
    margin: 0 0 0 1%;
}

#iconEmLista:hover,
#iconEmBloco:hover,
#iconOrdernar:hover {
    color: #0047B6;
}

@keyframes opacidade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#lupa {
    font-size: 30px;
    font-weight: 350;
    opacity: 0.7;
    cursor: pointer;
}

#lupa:hover {
    opacity: 0.8;
}

#resultados {
    font-size: var(--font-size--small);
    margin-top: 0.3rem;
    opacity: 0.7;
}

.usuarios {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}

.telaUsuarios {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.containerDevolucoes,
.containerRetirada {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}

@media only screen and (max-width: 1000px) {
    .containerLista {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Modais */


@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes mudarCor {
    from {
        color: #000;
    }

    to {
        color: #be0101;
    }
}

@keyframes slidein {
    from {
       opacity: 0.5;
    }

    to {
       opacity: 1;
    }
}

#containerLinhaInput {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

#containerInputOrdenar {
    display: flex;
}

/* Modal Cadastrar Produto */


.containerInput {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@keyframes fadein {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}


#containerInformarMotivo {
    border-radius: 0.3rem;
    background-color: white;
    animation: fadein 0.5s;
}

#containerInformarDefeitoModal {
    padding: 0.6rem 1.5rem 1.5rem 1.5rem;
}

.tituloInformarDefeito {
    text-align: center;
    color: #0047B6;
    margin-bottom: 1rem;
}

#informarDefeitoInput {
    width: 30vw;
    height: 28vh;
}

.divBotoes {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}


#baixaDevolucoesModal {
    width: 40%;
    min-width: 420px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3);
    animation: fadein 0.5s;
}

#containerDevolucaoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 1rem 1.2rem 1rem;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

.containerFechar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#fecharOrdernar {
    cursor: pointer;
    margin: 2% 2% 0 0;
}

.containerConteudoBaixaDevolucao {
    display: flex;
    align-items: center;
}

.imgItemBaixaDevolucao {
    width: 80%;
    min-width: 100px;
}

.nomeItemBaixaDevolucao {
    color: #0047B6;
}

.containerInfoItemBaixaDevolucao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoesDevolucaoModal {
    display: flex;
    flex-direction: column;
}



.darBaixa {
    font-size: var(--font-size--medium);
    font-weight: 500;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.5rem 1.5rem;
}

#baixaDevolucoesModal {
    width: 40%;
    min-width: 420px;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3);
    animation: fadein 0.5s;
}

.riscoAzul {
    width: 100%;
    height: 12px;
    background: #0047B6;
    border: 0;
    border-radius: 0.3rem 0.3rem 0px 0px;
}

#fecharIcone {
    cursor: pointer;
}

#quantidadeProduto {
    margin-right: 13rem;
}

#listaItemsBaixaDevolucao {
    list-style-type: none;
}

.containerImgBaixaDevolucao {
    width: 35%;
}

.parteDireitaItemBaixaDevolucao {
    width: 100%;
}

.btnDevolucaoModal,
.btnFiltrarModal,
.btnSegundario,
.informarDefeito {
    background-color: #0047B6;
    color: white;
    border: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.btnFiltrarModalOrdenar {
    background-color: #0047B6;
    color: white;
    border: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 3px;
}

.cancelarRetirada {
    border: #000 solid 1px;
    background-color: #fff;
    color: #000;
    margin: 0 5%;
    /* background-color: #AAAAAA; */
}

.confirmarRetirada {
    margin: 0 5%;
}


/* ----- Fedback ----- */


#modalFeedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background-color: #ffffffa8;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    position: absolute;
    bottom: 0.5rem;
    height: 12%;
    right: 0.5rem;
    animation: fadein 1s;
    /* animation: fadein 1s, lateral 1.5s; */
}

.divInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

#fechar {
    position: absolute;
    top: 8%;
    right: 2%;
    cursor: pointer;
}

#iconCerto {
    font-size: 40px;
    color: #0047B6;
}

#spanTexto {
    font-family: 'Inter';
    font-size: var(--font-size--default);
    text-align: center;
    font-weight: 600;
}

#fundo {
    width: 100%;
    height: 10px;
    border-radius: 0px 0px 8px 8px;
}

#azul {
    background-color: #0046b6be;
    width: 100%;
    height: 100%;
    animation-name: animacao;
    animation-duration: 5s;
    border-radius: 0px 0px 8px 8px;
}

@keyframes animacao {
    from {
        width: 0%;
    }

    to {
        width: 100%;
        border-radius: 0px 0px 8px 8px;
    }
}

/* @keyframes lateral {
    from {
        right: -5rem;
    }
    to {
        right: 0.5rem;
    }
} */

.divPonto {
    min-height: 30px;
    min-width: 30px;
    border-radius: 100px;
    background-color: #0047B6;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

#iconMaisLoc {
    font-size: 20px;
    color: #fff;
}

#containerFinal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#modalCancelarReserva {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 26rem;
    height: 17rem;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #fff;
    animation: fadein 0.5s;
}

#tituloMotivo {
    margin-top: 3%;
    cursor: default;
}

#motivo {
    margin-top: 3%;
    outline: none;
    width: 70%;
    height: 50%;
    resize: none;
}

#botaoEnviar {
    background-color: #0047B6;
    color: white;
    border: 0;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    right: 10px;
    cursor: pointer;
}

#containerBotaoEnviar {
    display: flex;
    justify-content: end;
    margin-right: 30%;
    margin-top: 3%;
    width: 100%;
}

#containerIconFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    position: relative;
}

#iconFiltro {
    font-weight: 250;
    cursor: pointer;
    font-size: 35px;
}

#iconFiltro:hover {
    color: #0047B6;
}

#containerCheckboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxes {
    animation: all 0.5s;
    margin-left: 5px;
}

#containerBotao {
    display: flex;
    justify-content: center;
}

#containerDireito,
#containerEsquerdo {
    width: 10rem;
}

#containerRetirarItemEstoque {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#retirarDoEstoque {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* ------------ Modal filtrar -------------- */

.modalUser {
    position: absolute;
    top: 25%;
    min-width: 225px;
    min-height: 215px;
    left: 12.1%;
    margin-top: 35px;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modalOrdenar {
    position: absolute;
    top: 16%;
    min-width: 250px;
    min-height: 250px;
    left: 35.5%;
    margin-top: 35px;
    background-color: rgb(250, 250, 250);
    filter: drop-shadow(4px 6px 6px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.setaUser {
    position: absolute;
    width: 20px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(250, 250, 250);
    left: 2%;
    top: -10px;
}

.containerCadaCheck {
    width: 100%;
    margin: 5%;
    cursor: pointer;
}

#descartavelCheckbox,
.checkboxes {
    cursor: pointer;
}

.checkboxes:hover {
    animation: all 0.5s;
    font-weight: 500;
}

.asterisco {
    color: #be0101;
    font-weight: bold;
    cursor: default;
}

.texto {
    display: flex;
}

.tituloFiltroModalUser {
    margin-top: 10px;
    color: #0047B6;
}

.iconDeselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#botoes {
    min-width: 800px;
    width: 100%;
    border-bottom: solid 1px black;
}

.adicionarClassificacao {
    height: 30px;
    margin-left: 42%;
    margin-top: 3%;
}

#caminhosAjuda {
    width: 79rem;
    display: flex;
    margin-top: 1rem;
}

#iconHome {
    cursor: pointer;
}

#iconMaior {
    cursor: default;
}

#textoAjuda {
    cursor: pointer;
}

#textoAjuda:hover {
    text-decoration: underline;
}

#containerGeralAjuda,
#tituloPaginaAjuda,
.centralizarConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizarConteudo {
    flex-direction: column;
}

#conteudoAjuda {
    width: 60rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
}

#conteudoGeralAjuda {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tituloPaginaAjuda {
    margin-bottom: .7rem;
}

#perguntasFrequentes {
    flex-wrap: wrap;
    margin: .5rem 2rem;
}

#grupoPergunta {
    margin: 1rem;
}

#containerItens, #containerGerenciarUsuario, #containerGerenciarCadastros {
    display: grid;
    justify-items: center;
    align-items: center;
}

#containerItens {
    grid-template-columns:repeat(auto-fill, minmax(22rem, 1fr));
    gap: 0px 20px;
}

#containerReservas {
    grid-template-columns:repeat(auto-fill, minmax(35rem, 1fr));
    gap: 5px 20px;
}

#containerGerenciarUsuario, #containerGerenciarCadastros {
    grid-template-columns:repeat(auto-fill, minmax(20rem, 1fr));
    gap: 15px 20px;
}

#containerItensLista{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
}

#containerAcoesLocalizacao {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
}

.btnCustom {
    padding: 5px 15px;
}