<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<!-- Header -->
<app-header></app-header>

<!-- Filtro por Classificações -->
<app-filtro (receberFiltros)="atualizarFiltros($event)"></app-filtro>

<!-- Div Principal -->
<main>

    <!-- Feedback de sacola reservada -->
    <app-modal-feedback *ngIf="feedbackSacolaReservada" [tipoFeedback]="1" (fecharModal)="fecharModaisFeedback(2)">
    </app-modal-feedback>

    <!-- Feedback de sacola excluída -->
    <app-modal-feedback *ngIf="feedbackSacolaExcluida" [tipoFeedback]="5" (fecharModal)="fecharModaisFeedback(1)">
    </app-modal-feedback>

    <!-- Feedback de reserva cancelada -->
    <app-modal-feedback *ngIf="feedbackReservaCancelada" [tipoFeedback]="13" (fecharModal)="fecharModaisFeedback(3)">
    </app-modal-feedback>

    <div id="container">
        <div id="containerInput">
            <div id="containerInputOrdenar">
                <!-- Barra de Pesquisa -->
                <div id="divInput">
                    <input [(ngModel)]="textoPesquisa" id="input" type="text" placeholder="Pesquise por produto..."
                        (keydown.enter)="pesquisar()" />
                    <span id="iconPesquisar" class="material-symbols-outlined iconDeselect iconsModais"
                        (click)="pesquisar()" title="Pesquisar">
                        search
                    </span>
                </div>

                <div id="containerOrdenar">
                    <!-- Ícone de ordenação -->
                    <span (click)="mudarModalOrdenar()" id="iconOrdernar"
                        class="material-symbols-outlined iconDeselect iconsModais" title="Ordernar">
                        sync_alt
                    </span>

                    <!-- Modal Ordenar -->
                    <app-modal-ordenar *ngIf="modalOrdenar" (fecharModal)="mudarModalOrdenar()"
                        (ordenarItens)="ordenarItens($event)" [listaOrdenacoes]="listaOrdenacoes" id="appModalOrdenar">
                    </app-modal-ordenar>
                </div>

                <div id="iconListaBloco">
                    <!-- Ícones de visualização -->
                    <span *ngIf="listaEmBloco" (click)="trocarVisualizacaoItem()" id="emBloco"
                        class="material-symbols-outlined iconDeselect" title="Ver em bloco">
                        grid_view
                    </span>
                    <span *ngIf="!listaEmBloco" (click)="trocarVisualizacaoItem()" id="emLista"
                        class="material-symbols-outlined iconDeselect" title="Ver em lista">
                        sort
                    </span>
                </div>
            </div>
            <app-tela-carregamento *ngIf="carregando"></app-tela-carregamento>
            <div *ngIf="!carregando" id="filtro"></div>
            <p id="resultados" *ngIf="!carregando">{{ numResultados }} Resultados encontrados</p>
        </div>



        <div *ngIf="!carregando">
            <!-- Itens do Almoxarifado, listados em bloco ou em linha -->
            <div *ngIf="listaEmBloco" id="containerItens">
                <app-item [visualizacaoItem]="'emBloco'" *ngFor="let item of listaItens" [item]="item"></app-item>
            </div>

            <div *ngIf="!listaEmBloco" id="containerItensLista">
                <app-item-lista [itens]="listaItens"></app-item-lista>
            </div>

            <!-- Listagem de Páginas na parte de baixo da tela -->
            <mat-paginator id="paginador" [pageIndex]="paginaAtual" [length]="itensTotais" [pageSize]="tamanhoPagina"
                [pageSizeOptions]="[18, 36, 72, 144]" aria-label="Select page" (page)="mudarPagina($event)">
            </mat-paginator>
        </div>
    </div>
</main>