<div class="parteModal" id="editarUser">
    <div id="modalEditar" class="parteModal">
        <div id="barraAzul" class="parteModal">
            <div id="user" class="parteModal">
                <img class="parteModal" id="imagemUsuario" src="../../../assets/user.png" alt="Imagem de usuário" />
                <div class="parteModal" id="alterarFoto">Edit</div>
            </div>
        </div>
        <div id="iconSair" class="parteModal">
            <span title="Fechar" (click)="fechar()" id="fecharIcone" class="fecharModalUser parteModal"
                class="material-symbols-outlined iconDeselect parteModal">
                close
            </span>
        </div>
        <div id="inputsModal" class="parteModal">
            <div class="form-floating div-float-label parteModal">
                <input name="emailVerificacao" [(ngModel)]="usuarioNovo" type="email"
                    class="form-control input-float-label parteModal" placeholder="Email">
                <label class="label-float-label parteModal">Email</label>
            </div>
            <div class="form-floating div-float-label parteModal">
                <input name="emailVerificacao" [(ngModel)]="usuarioNovo" type="email"
                    class="form-control input-float-label parteModal" placeholder="Email">
                <label class="label-float-label parteModal">Nova Senha</label>
            </div>
            <div class="form-floating div-float-label parteModal">
                <input name="emailVerificacao" [(ngModel)]="usuarioNovo" type="email"
                    class="form-control input-float-label parteModal" placeholder="Email">
                <label class="label-float-label parteModal">Repetir Senha</label>
            </div>
        </div>
        <button class="parteModal" type="button" id="salvar" (click)="salvar()">Salvar</button>
    </div>
</div>