<div id="baixaDevolucoesModal">
    <div id="containerDevolucaoModal">
        <div class="containerFechar">
            <span (click)="fecharModalDevolucao('fechar')" title="Fechar" id="fecharIcone" class="icone"
                class="material-symbols-outlined iconDeselect">
                close
            </span>
        </div>
        <ul id="listaItemsBaixaDevolucao">
            <li>
                <!-- *ngFor="let item of listaItemsBaixaDevolucao" -->
                <div class="containerConteudoBaixaDevolucao">
                    <div class="containerImgBaixaDevolucao">
                        <img class="imgItemBaixaDevolucao" src="../../../assets/Rele.png" alt="Imagem do Produto" />
                    </div>
                    <div class="parteDireitaItemBaixaDevolucao">
                        <h2 class="nomeItemBaixaDevolucao">Nome Produto</h2>
                        <div class="containerInfoItemBaixaDevolucao">
                            <div class="divInfoItem">
                                <!-- {{ item.posicao }} -->
                                <p>posicao</p>
                                <!-- {{ item.qtd }} -->
                                <p id="quantidadeProduto">qtd</p>
                                <!-- informarDefeitoItem(item) -->
                            </div>
                            <div class="divBotoesExtras">
                                <button (click)="selecionarNaoDevolucao()" id="botaoNaoDevolvido" class="btnSegundario"
                                    style="background-color: gray; margin-bottom: 0.2rem">
                                    Não Devolvido
                                </button>
                                <button class="btnSegundario" style="background-color: #0047b6;">
                                    Informar Defeito
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div id="containerFinal">
            <button class="btnDevolucaoModal cancelarRetirada">
                Alertar Atraso
            </button>
            <button (click)="darBaixaReserva()" class="btnDevolucaoModal confirmarRetirada">
                Dar Baixa
            </button>
        </div>
    </div>
</div>

<!-- Div usada como fundo para modais -->
<div *ngIf="modalConfirmacaoDevolucao" id="fundoModal">

    <app-modal-ocorrencia *ngIf="modalAlertarAtraso" [tipoOcorrencia]="3"
        (fecharModal)="fecharModaisOcorrencias(1, $event)"></app-modal-ocorrencia>

    <!-- <app-modal-ocorrencia *ngIf="modalRemoverProduto" [tipoOcorrencia]="2"
        (fecharModal)="fecharModaisOcorrencias(2, $event)"></app-modal-ocorrencia> -->

    <!-- Modal de confirmação de efetuar retirada -->
    <app-modal-confirmacao *ngIf="modalConfirmacaoDevolucao" [tipoTexto]="9"
        (fecharModal)="confirmacaoDevolucao($event)">
    </app-modal-confirmacao>
</div>